
/* typography */
@import url(typography.css);

/* grids */
@import url(grids.css);


/* modules */
@import url(mod.css);


/* presentational classes */

a {outline: none;}

.inline li {
    display:inline;
    position: relative;
}

.hidden {
    text-indent:-9999px;
    position:absolute;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}

/* end presentational classes */
html {
    font-size:62.5%;
    
}

body {
    font-size:1.4em;
    color:#333;
}

.wrapper {
    background: url(../images/top_bg.jpg) repeat-x scroll center top transparent;
    margin:0;
    padding:0;
    overflow:hidden;
    width:100%;
    
}

p {
    margin:1.714285714285714em;
}

img.facsimile {
    margin:1.714285714285714em auto;
    line-height:1;
    display: block;
    cursor:hand;
    position:relative;
    
}

/* header */

.bannerSection {
height: 148px; 
margin: 0 auto;
position: relative;
}

h1.headerLogo {
background: url(../images/headerLogo.png) no-repeat scroll 0 12px transparent;
height: 91px;
left: 24px;
position: absolute;
text-indent: -5000px;
top: 10px;
width: 597px;

}

h2.headerStrapline {
height: 148px;
position:absolute;
right:0;
text-indent: -5000px;
top: 0;
width: 319px;
background:url(../images/headerLogoright.jpg) no-repeat scroll 0 0 transparent;
border: 0 none;


}

/* Main nav */
nav.primary {
    font-size:1em;
    line-height:2.5;
    margin:0;
    background:url(../images/nav_bg.png) repeat-x 0 100% scroll transparent;
    position:absolute;
    width: 100%;
    top: 120px;
}

nav.primary ul {
margin: 0 0 0 40px;
}

nav.primary ul li {
background:url(../images/nav_li.png)100% 50% no-repeat;
padding-right: 0;

}
nav.primary ul li.last {
background: none;

}

a.navLink {
    
    border: 0 none;
    text-decoration: none;
    color: #fff;
    font-family:"Baskerville Bold", Arial;
    padding: 10px 15px 10px 15px;
}

a.navLink:hover {
background:url(../images/nav_hover.png);

}

a.navLink.first {
    margin-left:0;
}

.primary a.selected {
background:url(../images/nav_selected.png) no-repeat scroll 50% 100% transparent;}

#secondaryNavigation {background:#F1F1F3; border-bottom: 2px solid #ddd; overflow: hidden; padding: 8px;}
#secondaryNavigation ul {margin: 10px 0 0 15px;}
#secondaryNavigation ul li a {color: #555; padding: 10px 8px 6px; font-size: 85%; text-decoration: none; text-transform:uppercase}
#secondaryNavigation ul li a.selected {font-weight: 700}

/* breadcrumb nav */

.breadcrumb {margin: 0 0 0 7px; }

.breadcrumb ul li a.breadcrumbLink {text-decoration: none; color: #9B4541; }
.breadcrumb ul li.last {font-weight: 700; background:none}


/* Breadcrumb Styles
 ---------------------------------------------------------------------*/


.breadcrumb ul
{
    margin: 0;
    padding: 0;
    height: 25px;
    display: block;
}
.breadcrumb ul li
{
    display: block;
    float: left;
    position: relative;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
    margin: 0px 6px 0px 0;
    padding: 0px 10px 0px 0;
    font-size: .9167em;
    background: url(../images/Chevron.gif) no-repeat 100% 0;
}
.breadcrumb ul li div.chevronOverlay
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.breadcrumb ul li span
{
    display: block;
    overflow: hidden;
}
.breadcrumb ul li a
{
    display: block;
    position: relative;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    float: left;
}
.breadcrumb ul li.first a
{
    height: 16px !important;
    text-indent:-1000em;
    width:16px;
    padding: 0;
    margin-top: 2px;
    overflow: hidden;
    background:url(../images/IconHome.gif) no-repeat 0 0;
}
.breadcrumb ul li.first a:hover
{
    background-position: 0 -16px;
}
.breadcrumb ul li.last
{
    background: none;
    margin-right: 0;
    padding-right: 0;
}
.chevronOverlay
{
    display: none;
    background: url(../images/ChevronOverlay.png) no-repeat 100% 0;
    width: 13px;
    height: 20px;
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
    min-height: 1%;
}


/* pagination */

.resultsSummary {width: 100%; padding-bottom: 15px;}
.resultsNumber {float: left; color: #333; font-weight: 700; margin: 0 0 0 5px;}

.resultsNav li a.resultsBrowse {background: none;}
.resultsNav li.selected {color: #b38a81;}

.resultsNav li a {text-decoration: none; color: #732717; background:#efefef; padding: 2px 4px; font-size: 0.9em;}

/* simple table */

.headersX {margin: 20px 25px; width: 95%}
.headersX th {background: none repeat scroll 0 0 #fbf4f4;border-bottom: 1px solid #d2bebd;color: #9b4f4b;font-size: 93%;font-weight: 700;padding: 10px 7px 8px;}
.headersX td {border-bottom: 1px solid #fff3f1;border-right: 1px dotted #fff3f1;color: #666666;font-size: 93%;line-height: 1.55em;margin: 0 0 3px;padding: 4px 7px 3px;vertical-align: top;}
.headersX .bgColour {background: #fbfafa;}

.headersX ul li a {text-decoration: none; color: #9E433F; border-bottom: 1px dotted #9E433F;}
.headersX ul li a:hover {border-bottom: 1px solid #9E433F;}

/* contentSection */

#contentSection {min-height: 500px;}

.contentSection {margin: 2em 1em 2em 1em;}
.contentSection .mod {border: 0 none;}

.contentSection p {line-height: 1.4em;}
.contentSection h1 {border-bottom:1px solid #777; padding-bottom: 5px;}

.secondCol .content h1 {border-bottom:1px solid #777; padding-bottom: 5px;}

.size1of1 h1 { border-bottom: 1px solid #d8d4d4; margin: 0.8em 0 0.5em; padding-bottom: 4px;}
.content {margin-top: 15px;}

.teaser {
margin: 0 10px 0 0;
}

/*sub navigation*/

.firstCol h3 {color:#9A4F4B; font-weight: 700;
    line-height: 1.5;
    margin: 1.5em 1.5em 0;
    text-transform: uppercase;
    }
.side { float: left; margin-left: 1.5em; margin-top: 1.5em;}
.subNav li {border-top: 1px dotted #e9e3ee; line-height: 1.5em; margin: 0.75em 1.5em 0.75em 0; padding-top: 0.75em}
.subNav li a {border: 0 none; text-decoration: none; color:#7A7A7A; cursor:pointer; }
.subNav li a:hover {color: #333;}

.innerPage {background: url(../images/nav-bg.png) repeat-y scroll 100% 100% transparent; min-height: 500px; position:relative; top: -17px;}

/* HOME PAGE */

.teaserList li a img {padding: 3px; border: 1px solid #ddd;}
.homePagebg p {line-height: 1.4em; }

.linksDigipal {margin-left: 25px;}
.linksDigipal li a {text-decoration: none; color: #8C5A58; border-bottom: 1px dotted #8C5A58; line-height: 1.5em; font-size: 90%;}

h3.teaserHeading {background: #913d39;padding: 10px;color: #fff;border-radius: 4px 4px 0 0;}

/* FULL RECORD PAGE */

.resultsRecord {float: left; margin:0;}
.resultsRecord li {border-right: 2px solid #ddd; margin: 0 5px 0 0; padding: 0 9px 0 5px;}
.resultsRecord li.prev {border: 0 none}
.resultsRecord li a {text-decoration: none; color:#5C6066; font-size: 85%;border-bottom: 1px dotted #ddd; cursor: pointer; }
.resultsRecord li a:hover {border-bottom: 1px solid #ccc;}
.resultsRecord .resultsNumber  {font-weight: 700; margin-right: 15px; border: 0 none;}

.mod.DisplayRecord {background: none repeat scroll 0 0 #F8F8FA;border-top: 1px solid #EDEDF3;margin: 0;overflow: hidden;padding: 0.65em 1.3em;width: 97%;}
.mod.info {margin: 15px 0  0 0px}

.fullRecord {width: 100%; border: 0 none; }
.fullRecord li {float: left; border: 0 none;}


.fullRecord {border-bottom: 1px solid #ddd}
table.fullRecord.list { margin-top: 1.3em;width: 100%;}
.fullRecord.list tr { border-top: 1px solid #EDEDF3;}
.fullRecord.list th {font-weight: 700;padding: 0.65em 1.3em; width: 40%;}
.fullRecord.list td {padding: 0.65em 1.3em;}


.info .fullRecord li.tabControlHeader {border: 0 none; margin: 8px 3px 8px 0;}
.info .fullRecord li.tabControlHeader a {text-decoration: none;background: url(../images/tabs-bg.png) no-repeat scroll -280px -175px transparent;border: 0 none; padding: 8px; color: #5C6066; font-size: 92%}
.info .fullRecord li.tabControlHeader a.current {background-position: -272px 0; color: #fff}

.recordData {margin: 0 0 50px 0}


.msThumb {margin:2em 0 0 3.07692em; border: 1px solid #9B8A84; padding: 5px;}

#data {margin: 40px 0 0 0}
#data h2 {font-size: 130%; margin: 10px 0 0 15px; color:#984D49}

/* IMAGE DATABASE */



.imageContainer {margin: 20px 30px 20px 30px;}

.imageDatabase {padding: 10px 0 10px 0; float: left; position: relative; height: 250px; width: 25%; margin: 0 15px;}
.imageDatabase dd a {text-decoration: none; color: #333; width: 110px; margin-left: 5px; font-size: 0.85em; float: left; }
.imageDatabase dd a:hover {color: #994E4A;}
.imageDatabase img {padding: 4px; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 3px;box-shadow: 5px 5px 2px #888; }

/* ALLOGRAPH */

.annotations .scribe {
   float: left;
   width: 50%;
 }
 .annotations h1, h2, ul {
   clear: both;
   margin: 0;
 }

.annotations h2 {
    margin-bottom: 8px;
    margin-left: 5px;
    font-size: 1.2em;
    
}
 .annotations ul {
   list-style-type: none;
 }
 .annotations li {
   float: left;
   height: 80px;
   margin-bottom: 15px;
   margin-left: 5px;
   text-align: center;
   border: 1px solid #DDD3C3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 2px #DDDDDD;
 }
 .annotations p {
   text-align: center;
   font-size: 80%;
   margin: 5px 8px;
 }
.annotations p a {
    text-decoration: none;
    color:#994E4A;
    border-bottom: 1px dotted #994E4A;
}

.annotations p a:hover {
    border-bottom: 1px solid #994E4A;
}
.annotations .scribe h1 {
    margin: 0 60px 15px 0;
}


/* MAGNIFY */

#magnify {min-height: 650px;}

#magnify img {margin: 0 0 2em 5em;}


/* SEARCH RESULTS  */

.searchResults .resultsSummary { background: #F8F8FA;border-top: 1px solid #EDEDF3;margin: 0;overflow: hidden;padding: 0.65em 1.3em;}

.resultsRecord .showResults {border: 0 none; font-size: 85%; margin:0; padding:0;}
.resultsRecord a.grid {background: url(../images/rec_display.png) no-repeat scroll 0 -24px transparent; padding-left: 20px; padding-bottom: 4px; border: 0 none;}
.resultsRecord a.list {background: url(../images/rec_display.png) no-repeat scroll 0 -48px transparent; padding-left: 20px; padding-bottom: 4px; border: 0 none;}
.resultsRecord a.grid:hover, .resultsRecord a.list:hover {border: 0 none;}


/* image grid */

.imgGrid {width: 100%;}
.imgGrid li { width: 10%; float: left; margin: 15px;}
.imgGrid dl {clear: both; display:block; margin-top:15px;}
.imgGrid dd {height: 80px; margin: 0 10px; border: 2px solid #C1AF93;  }
.imgGrid dt {margin-left: 10px; margin-bottom: 4px;font-weight: 700; font-size: 0.9em; color:#7A6F5A; }
.imgGrid img {margin: 10px 0 0 20px;}
.imgGrid img:hover {opacity: 0.7;}


.gridDisplay .pagination {margin: 0.8em 0 3em 0}


/* js styles */
.tipsy { padding: 5px; font-size: 11px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tip_bg.png); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: left; line-height:1.5em}
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
  
  
 /* LOGOS */

.Logos ul li img {margin-left:15px;}
  
/* TIMELINE */

#timeLine {}

.timelineTabs ul {float: right}
.timelineTabs ul li {float: left; border: 0 none}


.info {width:850px;font-family:Helvetica, Arial, sans-serif;margin:32px auto 32px auto;color:#444;font-size:.9em;}
             
#placement {width:850px;margin:32px auto 32px auto;height:500px; }    



/* tabs overlay */


.tabs {
padding:0;
overflow: hidden;
clear:left;
position: relative;
display: block;

}

.tabPane {
height: 26.923076923076923em;
max-height: 350px;
width: 100%;
text-indent: -5000px;
}

ul.tabControls {
position: absolute;
box-shadow: -2px -5px 5px rgba(0, 0, 0, 0.5);
}

li.tabControlHeader {

height: 30%;
border-radius: 5px;
border: 1px solid #ddd;
margin: 8px;
display: block;
}

li.tabControlHeader h4, .lastUnit ul li h4 {
font-size: 120%;
padding: 15px 0 0 5px;
color:#fff;

}

li.tabControlHeader img, .lastUnit ul li img {
float: left;
margin: 10px 10px 0 10px
}

li.tabControlHeader p {

color: #ddd;
font-size: 90%;
margin: 8px 0 0 0;


}

.lastUnit ul li p {
margin: 8px 5px 8px 0;
font-size: 92%;

}

.teaserList li {

margin: 12px 0 5px 0;
padding-bottom: 8px;
border-bottom: 1px dotted #ddd;

}

.lastUnit ul li h4 {
font-weight: 700;


}

.lastUnit ul li h4 a {
text-decoration: none;
color:#61322f;
border-bottom: 1px dotted #8a5451;
font-size: 85%;
}

.lastUnit ul li h4 a:hover {border-bottom: 1px solid #8a5451;}

li.tabControlHeader h4 a {
color: #ddd;
text-decoration: none;
border-bottom: 1px dotted #ddd;
}

.tpc {
right: 0;
top: 0;
height: 100%;
width: 35%;
background-image:url(../images/ov-bg.png);
background-repeat: repeat;

}

#tab1 {
background:url(../images/manuscript-home.jpg) no-repeat scroll 0 0 transparent;
display: block;         
}

#tab2 {
background:url(../images/timeline-home.jpg) no-repeat scroll 0 0 transparent;
display: block;         

}

#tab3 {
background:url(../images/map-home.jpg) no-repeat scroll 0 0 transparent;
display: block;   

}



.tabContentOverlay {
background-color: #333;
background-repeat: repeat;
bottom: 0;
color: #ddd;
opacity: 0.8;
overflow: auto;
padding: 0.65em 0 0.65em 1em;
position: absolute;
width: 50%;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;

}

label[for=id_hand], label[for=id_allograph]{
    display: inline;
}

.tabContentOverlay p {

margin: 0;
}

.tabContentOverlay p a {
font-weight: bold;
color: #ddd;
text-decoration: none;
}

.homePagebg {
background: url(../images/hpin-bg.png) repeat-x;
position: relative;
margin: 0 1.5em 0 0;
border-radius: 5px;
min-height: 100%;


}

/* quick search */

.quickSearch h3 {
    color: #8E4844;
    font: 150% "Times New Roman",
    Times, serif;
    padding: 15px 10px 15px 10px;
    text-transform: capitalize;
    margin: 0;
}

.quickSearch .searchForm {
    background: #EEEEF0;
    border-radius: 5px;
    margin: 0 5px 20px;
    padding: 20px 10px 8px;
    color: #515151; box-shadow:
    4px 4px 5px #ddd;
}

.quickSearch .searchForm li {
    line-height: 1.55em;
    font-size: 85%;
}

.quickSearch .searchForm li label {
    padding-left: 5px;
}

.quickSearch .searchForm .enterTerms {
    position: relative;
    top: 3px;
    right: 160px;
    font-weight: 400;
    font-size: 85%;
    text-transform: none;
}

.quickSearch .searchForm input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    width: 158px;
    padding: 3px 4px;
    color: black
}

.searchBox {
    padding-bottom: 10px;
    position: relative;
    bottom: 5px;
}

.searchBox button {
    float: left;
    font-weight: 700;
    margin: 0 0 0 7px;
    padding: 3px;
    border-radius: 3px;
    background:#757575;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    position: relative;
}
.searchBox button:hover {background:#979797;}

.facetDrop {
    width: 260px;
    max-width: 260px;
    overflow: hidden;
}

.searchFor {border-top: 1px solid #ccc}
.searchFor h4 {margin: 7px 0 5px 0; font-weight: 700; font-size: 90%;}

/* Local nav */
nav.local {
    font-size:1em;
    line-height:1;
}

nav.local li {
    line-height:1.714285714285714em;
    font-size:1em;
    margin-left:1.714285714285714em;
    
}

nav.local .navLink {
    margin-left:0;
    border:0;

}


/* Idiograph / Component / Feature display */
.idiograph {
    display:block;
    border: 1px solid gray;
    padding: 2px;
}

.expand {
    display: block;
    cursor: pointer;
}

/* Faceted searching dropdown display */
select.faceted {
    border: 1px dashed navy;
}

.remove {
    color:navy;
    font-weight: bold;
    cursor: pointer;
}

.active_facet {
    font-size: 10px;
    background-color: #934E4A;
    color: white;
    padding: 3px;
    margin: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    line-height: 200%;
}
.clear_facet {
    font-size: 9px;
    font-weight: bold;
    padding: 2px;
    padding-bottom: 1px;
    margin: 2px;
    color: white;
    background-color: #7A7A7A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    cursor: pointer;
}



li ul.initial {
    -webkit-transform: scale(1,0);
    height: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transition-property: all;  
    -webkit-transition-duration: 0.2s;  
    -webkit-transition-timing-function: linear !important;
}
li ul.showing {
    -webkit-transform: scale(1,1);
    height: 100%;
    -webkit-transition-property: all;  
    -webkit-transition-duration: 0.2s;  
    -webkit-transition-timing-function: linear !important;
}​
/* Idiograph display stuff ends */
/* footer */
.footerSection {
    background-color:#efefef;
    border-top: 1px solid #e7e7e7;
    padding:1.714285714285714em 0;
}

.footerSection ul {margin-left: 1.7em; margin-bottom: 1em;}
.footerSection ul li {color: #666; border-right: 1px dotted #666; padding-right: 5px;}
.footerSection p {line-height: 1.5em; margin: 0 0 0 1.7em; font-size: 0.9em; color: #666;}
.footerSection a {text-decoration: none; color: #A52A26; border-bottom: 1px dotted #A52A26; }
.footerSection a:hover {border-bottom: 1px solid #A52A26;}
