/*

	base font size: 1.4em = 14pt
	body is set to 1.4em
	
	h1	24pt = 24/14 = 1.714285714285714em
	h2	18pt = 18/14 = 1.285714285714286em
	h3	16pt = 16/14 = 1.142857142857143em
	
	p	14pt = 14/14 = 1em
	
	smallText: 12pt = 24/12 = 0.857142857142857em
	largeText: 16pt = same as h3
	largestText: 18pt = same as h2
	
	Baseline = 24px = at 1.4em line-height = 1.714285714285714


*/


body {
	font-family:Helvetica,Arial,sans-serif;
}

h1, h2 {
	font-family:Georgia, "Times New Roman", serif;
}

h1 {
	font-size:1.714285714285714em;
	line-height:1;
	margin:0 1em;
}

.smallText {
	font-size:0.857142857142857em;
	line-height:2;
	margin:2em;
}