.DS_Store
*.log
# *migrations/
digipal/static/digipal/scripts/tests/screenshots/
digipal/static/digipal/scripts/tests/local_config.js
*.pot
*.pyc
local_settings.py
digipal/settings.py
digipal/search/
.gitignore
digipal/backups/*.sql
digipal/repo_cfg.py
digipal_cust/static/
digipal_cust/django_cache/
