Django==1.4.3
South
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
django-reversion
pyelasticsearch
mezzanine==1.4.3
django-tinymce
-e git+https://github.com/Gbuomprisco/django-pagination.git@master#egg=django-pagination
whoosh
haystack
