<!-- features container -->


  <!-- header -->
    <div class="modal_header">
        <i data-toggle='tooltip' data-placement='bottom' data-container='body' title='Close Window' class='icon glyphicon glyphicon-remove close'></i>

        <p class="myModalLabel">
          <span class='label-modal-value'></span>

          <button data-toggle='tooltip' data-placement='bottom' data-container='body'  type='button' title='Save Annotation' class='btn btn-xs btn-success btn-small' id='save'>
            <i class='glyphicon glyphicon-ok'></i>
          </button>

          <button data-toggle='tooltip' data-placement='bottom' data-container='body' type='button' title='Delete Annotation' class='btn btn-xs btn-danger btn-small'  id='delete'>
            <i class='glyphicon glyphicon-remove'></i>
          </button>

          <button data-toggle='tooltip' data-placement='bottom' data-container='body' type='button' title='Show Summary' class='btn btn-xs btn-default active' id='show_summary'>
            <i class='glyphicon glyphicon-list'></i>
          </button>

          <button data-toggle='tooltip' data-placement='bottom' data-container='body' type='button' title='Check by default' class='btn btn-xs btn-default set_all_by_default'>
            <i class='fa fa-plus-square'></i>
          </button>

          <button data-toggle='tooltip' data-placement='bottom' data-container='body' type='button' title='Deselect all graphs' class='btn btn-xs btn-default deselect_all_graphs'>
            <i class='fa fa-square-o'></i>
          </button>

          <span data-toggle='tooltip' data-placement='bottom' data-container='body' title='Maximise Window' id='maximize' class='pull-right glyphicon glyphicon-resize-full'></span>
        </p>

    </div>

    <!-- body -->
    <div class="modal-body">

      <ul class="nav nav-tabs tabs-allograph">

        <li class="active">
          <a data-toggle="tab" data-target="#describe" href='#'>Describe</a>
        </li>

        <li>
          <a data-toggle="tab" data-target="#dialog_aspects" href='#'>Aspects</a>
        </li>

        <li>
          <a data-toggle="tab" data-target="#dialog_notes" href='#'>Notes</a>
        </li>

        <li>
          <a data-toggle="tab" data-target="#annotation-editor-tab" href='#'>Edit</a>
        </li>
      </ul>

      <div class="tabbable">

        <div class="tab-content">

          <div class="tab tab-pane fade active in" id="describe">
              <form class="frmAnnotation" method="get" name="frmAnnotation">
                <ul class="ul_inline_form">
                  {{ form }}
                </ul>
                <div id='features_container'></div>
              </form>
          </div>

          <div class="tab tab-pane fade" id="dialog_aspects"></div>

          <div class="tab tab-pane fade" id="dialog_notes"></div>

          <div id="annotation-editor-tab" class="tab tab-pane fade">
              <div id="annotation-editor-toolbar" class="panel panel-default">
                  <div class="row">
                      <div class="col-xs-3">
                        <label for="annotation-editor-rotation" class="smaller">rotate (<span>0</span>&#176;)</label>
                      </div>
                      <div class="col-xs-9">
                          <div id="annotation-editor-rotation" class="slider" data-min="0" data-max="360"></div>
                      </div>
                  </div>

                  {% if edit_annotation_shape %}
                      <div class="row">
                          <div class="col-xs-3">
                              <label for="annotation-editor-right" class="smaller">&#177; X (<span>0</span> px)</label>
                          </div>
                          <div class="col-xs-9">
                              <div id="annotation-editor-right" class="slider" data-min="-40" data-max="40"></div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xs-3">
                              <label for="annotation-editor-down" class="smaller">&#177; Y (<span>0</span> px)</label>
                          </div>
                          <div class="col-xs-9">
                              <div id="annotation-editor-down" class="slider" data-min="-40" data-max="40"></div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xs-3">
                              <label for="annotation-editor-width" class="smaller">&#177; width (<span>0</span> px)</label>
                          </div>
                          <div class="col-xs-9">
                            <div id="annotation-editor-width" class="slider" data-min="-40" data-max="40"></div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xs-3">
                              <label for="annotation-editor-height" class="smaller">&#177; height (<span>0</span> px)</label>
                          </div>
                          <div class="col-xs-9">
                            <div id="annotation-editor-height" class="slider" data-min="-40" data-max="40"></div>
                          </div>
                      </div>
                  {% endif %}

              </div>
              <div id="" class="col-xs-12">
                  <div id="annotation-editor-preview">

                  </div>
              </div>
          <div>

          <div id="edit" class="tab tab-pane fade hidden">
            <div id="image-editor-space" class='col-md-6'></div>
            <img id='editor-space-image' src="{{STATIC_URL}}digipal/images/ajax-loader3.gif" alt="">

            <div class="letter_editor col-md-6">
                <label>Resize</label>
                <div>

                  <label><small>Height</small></label>
                  <p>
                    <button id="resize-up" class="btn btn-default btn-sm">
                    +
                    </button>
                    <button id="resize-down" class="btn btn-default btn-sm">
                    -
                    </button>
                  </p>

                  <label><small>Width</small></label>
                  <p>
                    <button id="resize-right" class="btn btn-default btn-sm">
                      +
                    </button>
                    <button id="resize-left" class="btn btn-default btn-sm">
                      -
                    </button>
                  </p>
                </div>
                <hr />
                <label>Move</label>

                <div>
                  <button id="move-left" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                  </button>
                  <button id="move-down" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                  </button>
                  <button id="move-right" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                  </button>
                  <button id="move-up" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

