{% load html_escape %}
{% comment %}
    Displays an image as part of a list.

    Usage: {% include "digipal/folio_image.html" with image=IMAGE width=WIDTH full_label=FULL img_col=3 %}
    Where:
        IMAGE is an instance of the digipal_image model
        WIDTH is the desired width of the image in the list
        FULL is 1 for showing the full image label, 0 for only showing the locus

{% endcomment %}
<div class='col-md-{{ img_col|default:3 }} col-xs-12 centered'>
    <div class="panel">
        <p class='annotations_count_images'>
            {# {% with annotation_count=image.annotation_set.all.publicly_visible.count %} #}
            {% with annotation_count=image.get_annotation_count %}
                {% if annotation_count %}
                    <a href='{{image.get_absolute_url }}'>
                {% endif %}
                        <span class="label label-default">{{ annotation_count  }} {{ "Annotation"|plural:annotation_count }}</span>
                {% if annotation_count %}
                    </a>
                {% endif %}
            {% endwith %}

            {% if image.hands.all.count %}
                <a href='{{image.get_absolute_url }}hands'>
            {% endif %}
                    <span class="label label-default" >{{ image.hands.all.count }} {{ "Hand"|plural:image.hands.all.count }}</span>
            {% if image.hands.all.count %}
                </a>
            {% endif %}
        </p>

        {% spaceless %}
            <span class="folio-image-wrapper">
                <a data-type='image' data-id='{{ image.id }}' class="droppable_image imageDatabase" href="{{ image.get_absolute_url }}">
                         <span class='drag_caption'>Drag image to collection</span>
                        {% iip_img image width=width lazy=1 %}
                </a>
                <span class="button-bar">
                    <a class="btn btn-default btn-sm" href="{{ image.get_absolute_url }}?annotations=false" data-toggle='tooltip' data-placement='right' title='View image without annotations' >
                        <span class='glyphicon glyphicon-eye-close'></span>
                    </a>
                </span>
            </span>
        {% endspaceless %}

        <a href="{{ image.get_absolute_url }}">
            <span class='imageDatabase_label'>
                {% if full_label %}
                    {{ image }}
                {% else %}
                    {{ image.locus }}
                {% endif %}
            </span>
        </a>
    </div>
</div>
