<p>
    DigiPal is a new resource for the study of medieval handwriting, particularly that produced in England during the years 1000–1100, the time of Æthelred, Cnut and William the Conqueror. It is designed to allow you to see samples of handwriting from the period and to compare them with each other quickly and easily.
</p>
<p>
    It currently contains:
</p>
<ul>
    <li>{{ statistic.manuscripts }} <a href='/digipal/search/?from_link=true&s=1'>records of manuscripts and charters</a></li>
    <li>{{ statistic.images }} <a href='/digipal/page/'>manuscript images</a></li>
    <li>{{ statistic.graphs }} <a href="/digipal/search/?from_link=true&amp;s=1&amp;result_type=graphs">images of letters (graphs)</a></li>
    <li>{{ statistic.hands }} <a href="/digipal/search/?terms=+&amp;basic_search_type=hands">records of scribal hands</a>.</li>
</ul>
<p>
    Funded by the European Union Seventh Framework Programme (FP7), it is based at the Department of Digital Humanities at King's College London.
</p>
<p>
    <strong>
          <a href="/about">Read More</a>
        | <a href="/digipal/search/">Start Searching</a>
        | <a href="/digipal/page/">Browse Images</a>
        | <a href="/help/">How to Use</a>
    </strong>
</p>
