<p>
    A short paragraph introducing my website.
</p>
<p>
    It currently contains:
</p>
<ul>
    <li>{{ statistic.manuscripts }} <a href='/digipal/search/?from_link=true&amp;s=1'>records of manuscripts and charters</a></li>
    <li>{{ statistic.images }} <a href='/digipal/page/'>manuscript images</a></li>
    <li>{{ statistic.graphs }} <a href="/digipal/search/?from_link=true&amp;s=1&amp;result_type=graphs">images of letters (graphs)</a></li>
    <li>{{ statistic.hands }} <a href="/digipal/search/?terms=+&amp;basic_search_type=hands">records of scribal hands</a>.</li>
</ul>
<p>
    Funded by X.
</p>
<p>
    <strong>
          <a href="/about">Read More</a>
        | <a href="/digipal/search/">Start Searching</a>
        | <a href="/digipal/page/">Browse Images</a>
        | <a href="/help/">How to Use</a>
    </strong>
</p>
