
{% if 1 and carousel.get_visible_items.count %}
    {% load static %}
    <div class='col-md-8'>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                {% for item in carousel.get_visible_items %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">

            {% for item in carousel.get_visible_items %}
                <div class="item {% if not forloop.counter0 %}active{% endif %}">
                    <a href="{{ item.link }}">
                        <img src="{% if item.image %}{{ item.image }}{% else %}{% get_media_prefix %}{{ item.image_file }}{% endif %}" 
                            alt="{{ item.image_alt }}" title="{{ item.image_title }}" class="img-responsive img-responsive-ie" />
                    </a>
                    <div class='carousel-caption'>
                        <p>{{ item.title_with_link }}</p>
                    </div>
                </div>
            {% endfor %}

          </div>

          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>

        </div>
    </div>
{% endif %}
