<p>
    DigiPal is a new resource for the study of medieval handwriting,
    particularly that produced in England during the years 1000–1100, the time of Æthelred,
    Cnut and William the Conqueror. It currently has:
</p>
<ul>
    <li>{{ statistic.manuscripts }} <a href='/digipal/search/?from_link=true&s=1'>Records of Manuscript and Charters</a></li>
    <li>{{ statistic.graphs }} <a href="/digipal/search/?from_link=true&amp;s=1&amp;result_type=graphs">Graphs (images of letters)</a></li>
    <li>{{ statistic.hands }} <a href="/digipal/search/?terms=+&amp;basic_search_type=hands">Scribal Hands</a>.</li>
</ul>
<p>
    Funded by the EU FP7, it is based at the Department
    of Digital Humanities at King's College London.
</p>
<p>
    <strong>
        Please note that this site is in development and
        is still incomplete in terms of content and functionality.
    </strong>
</p>
<p>
    <strong>
            <a href="/about">Read More</a>
        | <a href="/about/how-to-use-digipal/">How to Use</a>
        | <a href="/digipal/search/">Start Searching</a>
        | <a href="/digipal/page/">View Images</a>
    </strong>
</p>
