{% extends "base.html" %}
{% load html_escape hand_filters mezzanine_tags %}

{% block meta_title %}
    {% comment %}{% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:{% endcomment %}
    Manuscript Image:
    {{image|capfirst}}
{% endblock %}

{% block extra_css %}
    {{ block.super }}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrapSwitch.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}digipal/scripts/libs/openlayers.digipal/theme/default/style.less" type="text/less" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.notebook.min.css">
    {% endcompress %}
{% endblock %}

{% block main %}
    <h2 class='header1' id="annotator_heading">
        {% comment %}{% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:{% endcomment %}
        Manuscript Image:
        {% dplink image.item_part %}{{ image.item_part|capfirst }}{% enddplink %}: {{ image.locus }}
        {% if image.item_part.is_suspect %}(Suspect){% endif %}
        {% include "digipal/admin_edit.html" with instance=image %}
        {% if show_image %}
            <img {% if url == image.id|slugify or url == 'allographs' %} class='pull-right' {% else %} class="hidden pull-right" {% endif %} src='{{ STATIC_URL }}digipal/images/ajax-loader3.gif' id ='loading_allographs_image' alt='loading page image' />
        {% endif %}
    </h2>

    {% if PAGE_IMAGE_SHOW_MSDATE or document_summary %}
        <div>
            <span data-placement="bottom" title="Date of the text" data-toggle="tooltip">{{ image.item_part.historical_item.get_first_text.date|default:'Unspecified' }}{% if PAGE_IMAGE_SHOW_MSDATE and document_summary %}:{% endif %}</span>
            <div data-placement="bottom" data-toggle="tooltip" title="{{ document_summary|striptags|entities_to_unicode|escape }}" class="force-inline">{{ document_summary|truncatewords_html:15|safe }}</div>
        </div>
    {% endif %}

    <input id="id_page" name="page" type="hidden" value="{{ image.id }}" />

    <div class='row'>
        {% comment %} TABS {% endcomment %}
        <div class='col-md-12'>
            <ul class='nav nav-tabs'>
                <li {% if url == image.id|slugify or url == 'allographs' %} class='active in' {% endif %}>
                    <a data-toggle="tab" data-target='#annotator' href='/digipal/page/{{ image.id }}'>
                        Manuscript Image
                        {% if no_image_reason %}
                            <span class="glyphicon glyphicon glyphicon-ban-circle private-image" aria-hidden="true"
                            title="Full size image not publicly available" data-toggle="tooltip"></span>
                        {% endif %}
                    </a>
                </li>
                {% if cansee.graph %}
                    <li {% if annotations == 0 %} class='disabled' {% endif %}>
                        <a data-toggle="tab" class="annotationLink" data-target='#allographs' href="/digipal/page/{{ image.id }}/allographs/">Annotations ({{annotations}})</a>
                    </li>
                {% endif %}
                {% if cansee.hand %}
                    <li {% if url == 'hands' %} class='active in' {% endif %}>
                        <a data-toggle="tab" data-target='#hands' href="/digipal/page/{{ image.id }}/hands/">Hands ({{image.hands.all.count}})</a>
                    </li>
                {% endif %}
                {% if cansee.textcontentxml %}
                    <li class="{% if url == "texts" %}active in{% endif %} {% if text_content_xmls.count > 0 %}{% else %}disabled{% endif %}">
                        <a href="/digipal/page/{{ image.id }}/texts/" data-address-bar="1" data-target="#texts" data-toggle="tab">Texts ({{ text_content_xmls.count }})</a>
                    </li>
                {% endif %}
                {% if 0 %}
                    <li {% if url == 'metadata' %} class='active in' {% endif %}>
                        <a data-toggle="tab" data-target='#metadata' href='/digipal/page/{{ image.id }}/metadata/'>Metadata</a>
                    </li>
                {% endif %}
                <li {% if not images.count %} class='disabled' {% endif %}  {% if url == 'pages' %} class='active in' {% endif %}>
                    <a data-toggle="tab" data-target="#pages" href='/digipal/page/{{ image.id }}/pages/'>Other Images ({{ images.count }})</a>
                </li>
                {% if cansee.itempart %}
                    <li {% if not image.item_part %} class='disabled' {% endif %}>
                        <a data-toggle="tooltip" title="More info about this document ({{ image.item_part  }})" href='{{ image.item_part.get_absolute_url }}' class="link-internal">
                           Document
                        </a>
                    </li>
                {% endif %}
                <li {% if url == 'copyright' %} class='active in' {% endif %}>
                    <a data-toggle="tab" data-target='#copyright' href='/digipal/page/{{ image.id }}/copyright/'>Image Copyright</a>
                </li>
            </ul>
        </div>
    </div> {% comment %}DIV row{% endcomment %}

    <div id='tabbable-annotator-page'>
        <div class="tabbable">
            <div class="tab-content">
                <div class="tab-pane fade {% if url == image.id|slugify or url == 'allographs' %} active in {% endif %}" id='annotator'>
                    {% if no_image_reason and not show_image %}
                        {% include "digipal/empty_tab.html" with message=no_image_reason|richfield %}
                    {% endif %}
                    {% if show_image %}
                        {% include "digipal/image_annotation_control_bar.html" %}
                        <div id="map" class='panel' tabindex="1"></div>
                        <div id="toolbar"></div>
                        {% include "digipal/image_annotation_settings.html" %}
                        <div id='annotations'></div>
                        <div class='row' id='allographs_filtersBox'></div>
                        <p><a href="{{ image.get_absolute_url }}copyright/">Image copyright and license.</a></p>
                    {% endif %}
                </div>

                {% if cansee.graph %}
                    <div class="tab-pane fade" id='allographs'>
                        {% include "digipal/annotations.html" %}
                    </div>
                {% endif %}

                {% if cansee.hand %}
                    <div class="tab-pane fade {% if url == 'hands' %} active in {% endif %}" id='hands'>
                        {% include "digipal/hands.html" %}
                    </div>
                {% endif %}

                {% include "pages/tab_texts.html" with item_part=image.item_part %}

                {% if 0 %}
                    <div class="tab-pane fade {% if url == 'metadata' %} active in {% endif %}" id='metadata'>
                         {% include "pages/record_images.html" %}
                    </div>
                {% endif %}

                <div class="tab-pane fade {% if url == 'copyright' %} active in {% endif %}" id='copyright'>
                    {% include "pages/copyright.html" %}
                </div>

                <div class="tab-pane fade {% if url == 'pages' %} active in {% endif %}" id='pages'>
                    {% include "digipal/image_annotation_other_images.html" %}
                </div>

            </div>

        </div>
    </div>

    <p id='status'></p>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script>
        var img_url = "{{ url }}";
    </script>

    {% if show_image %}
        <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers/OpenLayers-latest.js"></script>
        <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator-helper.js"></script>
        <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator.js"></script>
        <script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
        <script src="{{ STATIC_URL }}scripts/bootstrapSwitch.js"></script>
        <script src="{{ STATIC_URL }}digipal/scripts/update_dialog.js"></script>
        <script src="{{ STATIC_URL }}digipal/scripts/annotator-digipal.js"></script>
        <script src="{{ STATIC_URL }}digipal/scripts/stored-inputs.js"></script>
        <script src='//apis.google.com/js/client.js'></script>
        <script src="{{ STATIC_URL }}digipal/scripts/annotations-cache.js"></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/jquery.notebook.min.js'></script>
        {% if can_edit %}
            <script src="{{ STATIC_URL }}digipal/scripts/dialog.js"></script>
        {% else %}
            <script src="{{ STATIC_URL }}digipal/scripts/allographs-public-user.js"></script>
        {% endif %}
        <script>
            $(document).ready(function() {
                var si = new StoredInputs('digipal_settings');
                si.registerInput('#ontograph_type');
                var image_id = "{{ image.id }}";
                if(img_url == image_id || img_url == 'allographs'){
                    main();
                }
            });

            function main(from_tab){

                if($('#loading_allographs_image').hasClass("hidden")){
                    $('#loading_allographs_image').removeClass("hidden");
                }

                annotator = new DigipalAnnotator('{{ MEDIA_URL }}',
                'x', {{ width }}, {{ height }},
                '{{ image_server_url }}', "{{is_admin}}");

                {% if not is_admin %}
                    annotator.toolbarPanel.controls.splice(4, 4);
                    annotator.toolbarPanel.redraw();
                    annotator.user_annotations = [];
                    annotator.boxes_on_click = true;
                {% endif %}
                var dimensions = "{{ image.dimensions }}";
                annotator.dimensions = dimensions.replace('(', '').replace(')', '').replace(' ', '').split(',');
                annotator.image_id = {{ image.id }};
                annotator.hands = {{ hands_list|safe }};
                annotator.absolute_image_url = '{{ image.get_absolute_url }}';
                annotator.url_annotations = '{{ image.get_absolute_url }}annotations/';
                no_image_reason = false;
                var _toolbar = $('#panelImageBox');
                var toolbar_position = _toolbar.offset().top;
                annotator.toolbar_position = toolbar_position;
                {% if vector_id %}
                    vector_id = true;
                    vector_id_value = annotator.utils.getParameter('graph') || annotator.utils.getParameter('vector_id');
                {% else %}
                    vector_id = false;
                {% endif %}

                {% if no_image_reason %}
                    //no_image_reason = true;
                {% endif %}

                /* Calling page script */

                if(annotator){
                    annotator.annotations_switch_initial = {{ annotations_switch_initial }};
                    annotator.hide_annotations = {{ hide_annotations }};
                    $.getScript("{{ STATIC_URL }}digipal/scripts/annotator-page-script.js");
                    if(annotator.isAdmin == 'True'){
                        $.getScript('{{ STATIC_URL }}digipal/scripts/allographs.js');
                    }
                    // jQuery Chosen refocus to the select after the change event
                    // so postponing is necessary to focus to something else after selection.
                    // liszt:hiding_dropdown is necessary. Because reselecting the same option
                    // doesn't trigger change or blur but we want to refocus on openlayers.
                    $('select[name=hand],select[name=allograph]').on('change liszt:hiding_dropdown', function(e) {
                        console.log(e.type);
                        // chosen closes previously selected DD AFTER user opens the next one
                        // text case = click hand DD then click allograph DD => allo DD should still be open
                        if ($('.chzn-single-with-drop').size() == 0) {
                            annotator.set_focus_postponed();
                        }
                    });
                }

                if(from_tab){
                    annotator.vectorLayer.events.register("loadend", annotator.vectorLayer, function() {
                        restoreFullscreenPositions();
                    });
                }
            }

        </script>
    {% endif %}
    <script>
        $(document).ready(function() {
            if(img_url == 'allographs'){
                $('a[data-target="#allographs"]').tab('show');
            }
        });
    </script>

    <script src="{{ STATIC_URL }}scripts/tabs.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/drag_to_lightbox.js"></script>

    {% if not can_edit %}
        <script src="{{ STATIC_URL }}digipal/scripts/allographs-public-user.js"></script>
    {% endif %}
{% endblock %}
