{% load html_escape %}
{% comment %}
    ----------------------------------------------
    OTHER IMAGES
    ----------------------------------------------
{% endcomment %}

{% if images.count %}
    {% for p in images.all %}

            {% if forloop.counter0|divisibleby:4 %}
                <div class='row'>
            {% endif %}

            {% include "digipal/folio_image.html" with image=p width=150 full_label=0 %}

            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}

    {% endfor %}

    {% include "digipal/add_to_collection.html" %}

{% else %}
    <div class="alert alert-warning">
        <p>No other manuscript images available</p>
    </div>
{% endif %}