{% comment %}
    ----------------------------------------------
    SETTINGS WINDOW FOR THE ANNOTATION PAGE
    ----------------------------------------------
{% endcomment %}
<div id='modal_settings'>

    <div>
        <h4>Annotation boxes</h4>
        <p>

           <input type='checkbox' id='multiple_boxes' {% if can_edit %} disabled="disabled" {% endif %} />  <label for='multiple_boxes'>Allow multiple boxes</label>
        </p>
        <p>
            <input type='checkbox'  id='multiple_annotations' /> <label for='multiple_annotations'>Select multiple annotations</label>
        </p>
    </div>

    <div>
        <h4>Toolbar position</h4>
        <p>
            <input type='radio' name='toolbar_position' id='vertical' value='Vertical' checked /> <label for='vertical'>Vertical</label>

            <input type='radio' name='toolbar_position' id='horizontal' value='Horizontal'  /> <label for='horizontal'>Horizontal</label>
        </p>
    </div>

    <div>
            <h4>Editorial Annotations</h4>
            <p>
                <input type='checkbox' id='show_editorial_annotations' checked /> <label for='show_editorial_annotations'>Show Editorial Annotations</label>
            </p>
        </div>

    {% if can_edit %}
         <div>
            <h4>Boxes</h4>
            <p>
                <input type='checkbox'  id='boxes_on_click' checked /> <label for='boxes_on_click'>Open Boxes on click</label>
            </p>
        </div>

        <div>
            <h4>Admin</h4>
            <p>
                <input type='checkbox'  id='development_annotation' checked /> <label for='development_annotation'>Annotating</label>
            </p>

        </div>

        <div>
            <h4>Filter allographs: </h4>
            <select id="ontograph_type" name="ontograph_type">
                <option value="0">Show all</option>
                {% for type in ontograph_types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>
