{% comment %}
    ----------------------------------------------
    Horizontal control bar on the annotator page
    ----------------------------------------------
{% endcomment %}
<div class='panel' id='panelImageBox'>

    <label class='panel-label' id='label-switcher'>
        <b>Annotations</b>
    </label>

    <input data-toggle="tooltip" title='Switch annotations' class="toggle-state-switch" type="checkbox" checked {% if annotations == 0 %} disabled {% endif %}>

    <button data-container='body' data-placement='top' data-toggle="tooltip" class='btn btn-sm btn-default' id='filterAllographs' data-toggle-button='open' data-toggled='false' title='Filter Annotations' {% if annotations == 0 %} disabled {% endif %}>
        <i class="fa fa-filter"></i>
    </button>

     {% if can_edit %}

        <div id='div_unsaved_annotations_counter'>
            <label class='panel-label'>Unsaved</label>
            <label class='label label-default number_unsaved_allographs active'>0</label>
         </div>

    {% endif %}

    <div id='annotator-action-buttons' class="btn-group">
        <button data-container='body' data-toggle="tooltip" data-placement='top' class="btn btn-sm btn-default" id="settings_annotator" data-toggle-button='open' data-toggled='false' title='Open Settings'>
            <i class="fa fa-wrench"></i>
        </button>
        <button data-container='body' data-toggle="tooltip" data-placement='top' class="btn btn-sm btn-default" id="image_to_lightbox" title='Add page to Collection' data-type='image' data-id='{{ image.id }}' data-add-star = 'false'>
            <i class="glyphicon glyphicon-star unstarred"></i>
        </button>
        <button data-container='body' data-toggle="tooltip" data-placement='top' class="btn btn-sm btn-default" id="collection_from_image" title='Create a new Collection containing all of the annotations on this page' data-id='{{ image.id }}' data-label="{{ image.display_label|slugify }}">
            <i class="glyphicon glyphicon-star unstarred"></i> <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>

    <form name='frmAnnotation' method="get" class='frmAnnotation hidden-xs hidden-sm'>
        <div id='form_annotation_hand'>
            <ul class='ul_inline_form'>
                {{ form }}
            </ul>
            <span data-toggle="tooltip" class='btn btn-small btn-default btn-sm number_annotated_allographs' data-feature='' title='Show all the images of this allograph'>
                <i class='fa fa-eye'></i>
                <span class='number-allographs'></span>
            </span>
        </div>
    </form>

</div>
