{% load i18n pages_tags html_escape %}
{% spaceless %}
    {% if page_branch_in_menu %}
    
        {% if branch_level == 0 %}
            <ul class="nav navbar-nav">
                {% for page in page_branch %}
    
                    {% if page.is_primary and forloop.first %}
                        <li class="{% if on_home %} active{% endif %}" id="dropdown-menu-{{ page.html_id }}">
                            {# <a class='' href="{% url "home" %}">{% trans "Home" %}</a> #}
                            <a title="Home page" class='' href="{% url "home" %}"><span class="glyphicon glyphicon-home"></span></a>
                        </li>
                    {% endif %}
    
                    {% if page.in_menu  %}
                        {% if not page.has_children_in_menu %}
                            <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %} {% mezzanine_page_active request page %}">
                                <a class='navLink' href="{{ page.get_absolute_url }}">
                                    {{ page.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %} {% mezzanine_page_active request page %} auto-open-wide">
                                <a data-toggle='dropdown' class='dropdown-toggle'>
                                    {{ page.title }}
                                    <span class="caret"></span>
                                </a>
                                {% page_menu page %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
    
            </ul>
        {% endif %}
    
        {% if branch_level == 1 %}
            <ul class="dropdown-menu">
                {% for page in page_branch %}
                    {% if page.in_menu %}
                        <li{% if page.is_current_or_ascendant %} class="active"{% endif %}
                            id="dropdown2-menu-{{ page.html_id }}">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    
    {% endif %}
{% endspaceless %}
