{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/query_sorter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forms.reset.js"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
{% endblock %}
{% block main %}
<div class="row-fluid">
<h3>Please select the requested filters from the Filter Graphs below. Leave empty to view the whole database.</h3>

{% ifequal style "allograph_list" %} <!-- Display list view, of course -->
        <div class="panel" id='filtersform' style='display:block;'>
                <h5 class='header5'>Filter Graphs Attributes:</h5>
                <form></form>
                <form id='filterGraphs' class='container form-inline'  method="GET" action="/digipal/graphs/graph">
                    <ul id="drilldownformID">{{ drilldownform.as_ul }}</ul>
                    <div class='container'>
                        <input type="submit" value="Show Graphs" class='btn btn-primary' />
                        <input type='reset' class='btn' id="reset"/>
                    </div>
                </form> 
        </div>


{% endifequal %}

        </div>
    </div>
<script>
$(document).ready(function(){
 $('select').chosen();
});
</script>
<script>
  function setCookie(c_name,value,exdays){
    var exdate=new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie=c_name + "=" + c_value;}

$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  setCookie('view', this.innerHTML, '-1');
});

$('[data-toggle="tooltip"]').tooltip();

</script>
<script>
    $('#formFilters').show();
    $('#filterImages').text('Hide Filters Manuscripts');
    $('#filterImages').attr('class', 'btn');
    show_filters = 1;
</script>
{% endblock %}
