{% extends "base.html" %}
{% load mezzanine_tags pagination_tags %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forms.reset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/query_sorter.js"></script>
<script>
    $(document).ready(function(){
        $('select').chosen();
    });
</script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
{% endblock %}
{% block main %}
<div class="row-fluid">

        {% ifnotequal style "allograph_list" %}
            {% with r=results|first %}
            <h1 class='header1'>{{ r.hand.assigned_place }}, {{ r.hand.item_part.current_item.repository.name }}, {{ r.hand.item_part.current_item.shelfmark }}</h1>
            {% endwith %}
            {% else %}
            <h1 class='header1'>Results for <i>Graphs</i></h1>

        {% endifnotequal %}

        {% ifequal style "list" %} <!-- Display list view, of course -->
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>MS Name</th>
                        <th>Index</th>
                        <th>Folio(s)</th>
                        <th>Town or City</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% autopaginate results 9 %}
                    {% for result in results %}
                    <tr>
                        <td>
                            <!-- links to full record -->
                            <a class="" href="#" title="View full record">
                                <img alt="" src="assets/images/grid-test.jpg" />
                            </a>
                        </td>
                        <td>{{ result.}}</td>
                        <td>Index</td>
                        <td>Folio(s)</td>
                        <td>Town or City</td>
                        <td>Description</td>
                    </tr>
                    {% endfor %}
                    {% paginate %}
                </tbody>
            </table>
        {% endifequal %}

        {% ifequal style "grid" %} <!-- Or grid view if you prefer... -->
            <ul class="imgGrid">
                {% for result in results %}
                <li>
                    <dl>
                        <dt>{{ result.idiograph.allograph.name }}</dt>
                        <dd>
                            <a href="/digipal/page/{{ result.annotation.image.id }}/">{{ result.annotation.thumbnail }}</a>
                        </dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
        {% endifequal %}
        {% ifequal style "allograph_list" %} <!-- Display list view, of course -->
        <div class="panel visible" id='filtersform'>
              <h5 class='header5'>Show Graphs filtered by:</h5>
              <form></form>
              <form id='filterGraphs' class='container form-inline'  method="GET" action="/digipal/search/graph">
                <ul>{{ drilldownform.as_ul }}</ul>
                <div class='container'>
                    <input type="submit" value="Show Graphs" class='btn btn-primary' />
                    <input type='reset' class='btn' id="reset" />
                </div>
                </form>
             </div>
        <div class='breadcrumb'>
          <span>You are searching for: </span><span><b>Term</b>: {{term}}</span>
          {% if request.GET.script_select %}| <span><b>Script: </b></span><span> {{ request.GET.script_select }}</span>{% endif %}
          {% if request.GET.character_select %}| <span><b>Character: </b></span><span> {{ request.GET.character_select }}</span>{% endif %}
          {% if request.GET.component_select %}| <span><b>Component: </b></span><span>{{ request.GET.component_select }}</span>{% endif %}
          {% if request.GET.feature_select %}| <span><b>Feature: </b></span><span>{{ request.GET.feature_select }}</b></span>{% endif %}
          {% if request.GET.allograph_select %}| <span><b>Allograph: </b></span><span>{{ request.GET.allograph_select }}</span>{% endif %}
        </div>

            {% regroup graphs by hand as handlist %}
            <table class="table table-condensed">
                <tr>
                    <th>Graphs</th>
                    <th>Scribe</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Repository</th>
                    <th>Shelfmark</th>
                    <th>Catalogue Number</th>
                </tr>
                {% autopaginate handlist 9 %}
                {% for hand in handlist %}
                <tr class="{% cycle 'bgColour' '' %}">
                    <td>
                        {% for graph in hand.list %}
                        <a title={{ hand.grouper.id }} href="/digipal/page/{{ graph.annotation.image.id }}/?vector_id={{ graph.annotation.vector_id }}">{{ graph.annotation.thumbnail }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ hand.grouper.scribe }}</td>
                    <td>{{ hand.grouper.assigned_place }}</td>
                    <td>{{ hand.grouper.assigned_date }}</td>
                    <td>{{ hand.grouper.item_part.current_item.repository.name }}</td>
                    <td>{{ hand.grouper.item_part.current_item.shelfmark }}</td>
                    <td>{{ hand.grouper.item_part.historical_item.catalogue_number }}</td>
                </tr>
                {% empty %} <td>No records to display.<td>
                {% endfor %}
                {% paginate %}
            </tbody>
            </table>
            {% endifequal %}
</div>
</div>

{% endblock %}
