{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags hand_filters %}

{% block meta_title %}Graphs{% endblock %}

{% block main %}
    {% chrono "start template:" %}

    <div class="row-fluid">

        {% ifnotequal style "allograph_list" %}
             {% with r=results|first %}
                <h1 class='header1'>{{ r.hand.assigned_place }}, {{ r.hand.item_part.current_item.repository.name }}, {{ r.hand.item_part.current_item.shelfmark }}</h1>
             {% endwith %}
        {% endifnotequal %}

        {% ifequal style "allograph_list" %}
            <h1 class='header1'>Results for <i>Graphs</i></h1>

            <div class="panel" id='filtersform' style='display:block;'>
                <h5 class='header5'>Filter Graphs Attributes:</h5>
                {% comment %}TODO: this empty form should be removed, find out why it is needed. {% endcomment %}

                {% chrono "form:" %}

                <form></form>
                <form id='filterGraphs' class='container form-inline'  method="GET" action="/digipal/search/graph">
                    <ul id="drilldownformID">
                        {{ drilldownform.as_ul }}
                        {% if request.GET.terms %}
                            |<div style="display: none; visibility: hidden;"><select name="terms" class="hidden" style="display: none; visibility: hidden;"><option selected="selected" value="{{ request.GET.terms }}">{{ request.GET.terms }}</option></select></div>
                        {% endif %}
                    </ul>
                    <div>
                        <input type="hidden" value="1" name="submitted" />
                        <input type="submit" value="Show Graphs" class='btn btn-primary' />
                        <input type='reset' class='btn' id="reset"/>
                    </div>
                </form>

                {% chrono ":form" %}

            </div>

            <div class="breadcrumb" style="margin-top:0;margin-bottom:5px;">
                {% if request.GET.terms %}| <span><b>Term: </b></span><span> {{ request.GET.terms }}</span>{% endif %}
                {% if request.GET.character_select %}| <span><b>Character: </b></span><span> {{ request.GET.character_select }}</span>{% endif %}
                {% if request.GET.component_select %}| <span><b>Component: </b></span><span>{{ request.GET.component_select }}</span>{% endif %}
                {% if request.GET.feature_select %}| <span><b>Feature: </b></span><span>{{ request.GET.feature_select }}</b></span>{% endif %}
                {% if request.GET.allograph_select %}| <span><b>Allograph: </b></span><span>{{ request.GET.allograph_select }}</span>{% endif %}
            </div>

            {% chrono ":breadcrumb" %}

            {% if submitted %}

                {% chrono "submitted:" %}

                {% if not hand_ids %}
                    <div class='alert alert-warning'>
                        <h6>No result found</h6>
                    </div>
                {% else %}

                    {% chrono "pagination and loading:" %}

                    <div class="container">
                        {{ graphs_count }} Graphs grouped into {{ hand_ids|length }} Hands.
                        {% autopaginate hand_ids 18 %}
                        {% chrono "load graphs:" %}
                        {% load_hands 'hand_ids' as hands %}
                        {% chrono ":load_graphs" %}
                    </div>

                    <div class="container">
                        <div class="span10">
                            {% paginate %}
                        </div>

                        <div class='span2 pull-right'>
                            <ul class="nav nav-pills" id='myTab'>
                                <li class="{% if view == 'Images' %}active{% endif %}">
                                    <a data-toggle="tooltip" title='Change Graphs View to Images' href="#images">Images</a>
                                </li>
                                <li class="{% if view == 'List' %}active{% endif %}">
                                    <a data-toggle="tooltip" title='Change Graphs View to List' href="#list">List</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class='tabbable'>
                        <div class="tab-content">

                            {% chrono "grid tab:" %}

                            <div class="tab-pane fade {% if view == 'Images' %}active in{% endif %}" id="images">

                                <div id="centering">

                                    {% for hand in hands %}

                                        {% if forloop.counter|divisibleby:6 %}
                                            <div class='row-fluid'>
                                        {% endif %}
                                                <div class='span2 panel image' style='margin-left:0;padding-left:0;padding-top:0;margin-top:0;margin-bottom:0;padding-bottom:0;'>
                                                    <dl class="imageDatabase">
                                                        <dt>
                                                            {% for graph in hand.graphs_template %}
                                                                {% if forloop.counter < 10 %}
                                                                    <a data-graph="{{ graph.id }}" class='droppable_image' data-toggle="tooltip" title="{{ graph.display_label }}" href="/digipal/page/{{ graph.annotation.image_id }}/?vector_id={{ graph.annotation.vector_id }}">
                                                                        {{ graph.annotation.thumbnail }}
                                                                    </a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </dt>
                                                        <dd>
                                                            <p><b>{{ hand }}</b></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                        {% if forloop.counter|divisibleby:6 %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>

                            {% chrono "table tab:" %}

                            <div class="tab-pane fade {% if view == 'List' %}active in{% endif %}" id="list">

                                <table class="table table-condensed">
                                    <tr>
                                        <th>Graphs</th>
                                        <th>Hand</th>
                                        <th>Scribe</th>
                                        <th>Place</th>
                                        <th>Date</th>
                                        <th>Repository</th>
                                        <th>Shelfmark</th>
                                        <th>Catalogue Number</th>
                                    </tr>
                                    {% for hand in hands %}
                                        <tr class="{% cycle 'bgColour' '' %}">
                                            <td>
                                                {% for graph in hand.graphs_template %}
                                                    <a data-graph="{{ graph.id }}" class='droppable_image graph_img' data-toggle="tooltip" title="{{ graph.display_label }}" href="/digipal/page/{{ graph.annotation.image.id }}/?vector_id={{ graph.annotation.vector_id }}">
                                                        {{ graph.annotation.thumbnail }}
                                                    </a>
                                                {% endfor %}
                                            </td>
                                            <td>{{ hand }}</td>
                                            <td>{{ hand.scribe }}</td>
                                            <td>{{ hand.assigned_place }}</td>
                                            <td>{{ hand.assigned_date }}</td>
                                            <td>{{ hand.item_part.current_item.repository.name }}</td>
                                            <td>{{ hand.item_part.current_item.shelfmark }}</td>
                                            <td>{{ hand.item_part.historical_item.catalogue_number }}</td>
                                        </tr>
                                    {% empty %}
                                        <td>No records to display.<td>
                                    {% endfor %}
                                </table>

                            </div>

                        </div>

                        {% chrono ":table tab" %}

                        <div class="container">
                            {% paginate %}
                        </div>

                    </div>
                {% endif %}

            {% endif %}

        {% endifequal %}
    </div>
    <div id='basket_collector'>
        <p>Add Image to Basket</p>
        <p>
            <img src='/static/digipal/images/shopping-cart-icon.png' />
        </p>
    </div>

    {% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/query_sorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/forms.reset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>
    <script>
        $(document).ready(function(){
            $('select').chosen();
            function setCookie(c_name,value,exdays){
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                document.cookie=c_name + "=" + c_value;
            }

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                setCookie('view', this.innerHTML, '-1');
            });

            $('[data-toggle="tooltip"]').tooltip();


            $('#formFilters').show();
            $('#filterImages').text('Hide Filters Manuscripts');
            $('#filterImages').attr('class', 'btn');
            show_filters = 1;

            var basket_collector = $('#basket_collector');
            basket_collector.droppable({
                accept: "a.droppable_image",
                hoverClass: "ui-state-active",
                drop: function(event, ui){

                    var element = $(ui.helper[0]);

                    if(add_to_lightbox(element, 'annotation', element.data('graph'), false)){
                        var s = '<p>Image added to Lightbox!</p>';
                        s += '<p><img src="/static/digipal/images/success-icon.png" /></p>';
                        $(this).html(s);
                    }

                    element.fadeOut().remove();

                    setTimeout(function(){

                        s = '<p>Add image to Basket</p>';
                        s += '<p><img src="/static/digipal/images/shopping-cart-icon.png" /></p>';
                        basket_collector.html(s);

                        basket_collector.animate({
                            bottom: '-28%'
                        }, 350);

                    }, 3000);

                    $('html, body').css('cursor', 'initial');


                },
                out: function(){
                    $(this).css('background', 'rgba(0, 0, 0, 0.5)');
                },
                over:function(){
                    $(this).css('background', 'rgba(100, 100, 100, 0.5)');
                }
            });

            var images = $('a.droppable_image');
            images.draggable({
                containment: false,
                revert: 'invalid',
                stack: '*',
                appendTo: 'html',
                scroll: true,
                opacity:0.8,
                helper:'clone',
                cursor: 'move',
                start: function(){
                    basket_collector.animate({
                        bottom: '0'
                    }, 350);
                },
                stop: function(){

                    setTimeout(function(){

                        basket_collector.animate({
                            bottom: '-28%'
                        }, 350);

                    }, 1000);

                },

            });
        });
    </script>
    {% endblock %}
    {% chrono ":end template" %}

{% endblock %}

