{% extends "pages/record.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags %}

{% block meta_title %}Manuscript: {{ item_part.display_label }}{% endblock %}
{% block record_title %}
    {% if item_part.type.name == 'Fragment' %}
        Fragment:
        {{ item_part.display_label }}
    {% else %}
        {{ item_part.historical_label }}
    {% endif %}
    {% include "digipal/admin_edit.html" with instance=item_part %}
{% endblock %}

{% block record_tabs %}
    <li class="active"><a href="{{ item_part.get_absolute_url }}" data-target="#data" data-toggle="tab">Record Data</a></li>
    <li><a href="{{ item_part.get_absolute_url }}descriptions/"  data-target="#descriptions" data-toggle="tab">Descriptions</a></li>
    <li><a href="{{ item_part.get_absolute_url }}pages/" data-target="#pages" data-toggle="tab">Pages ({{ images.count }})</a></li>
    <li><a href="{{ item_part.get_absolute_url }}hands/" data-target="#hands" data-toggle="tab">Hands ({{ hands.count }})</a></li>
{% endblock %}

{% block details %}
    <div class='tabbable'>
        <div id='myTabContent' class='tab-content'>
            <div class='tab-pane fade active in' id='data'>
                {% for ci in item_part.get_current_items %}
                    <h3>Location</h3>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>Repository</th>
                                <td>{{ ci.repository.name }}</td>
                            </tr>
                            <tr>
                                <th>Town or City</th>
                                <td>{{ ci.repository.place }}</td>
                            </tr>
                            <tr>
                                <th>Shelfmark</th>
                                <td>
                                    {{ ci.shelfmark }}
                                </td>
                            </tr>
                            {% for part in item_part.subdivisions.all %}
                                {% if part.current_item == ci %}
                                    <tr>
                                        <th>Fragment</th>
                                        <td>
                                            <a href="{{ part.get_absolute_url }}">f. {{ part.locus }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
                
                {% if item_part.group %}
                    <h3>Reconstructed Folio</h3>
                    <p>
                        <a href="{{ item_part.group.get_absolute_url }}">{{ item_part.group.display_label }}</a>
                    </p>
                {% endif %}

                {% if item_part.historical_items.count == 1 %}
                    <h3>Fragments in {{ item_part.historical_items.all.0 }}</h3>
                    <ul>
                        {% for rf in item_part.historical_items.all.0.item_parts.all %}
                            {% for fragment in rf.subdivisions.all %}
                                <li>
                                    <a href="{{ fragment.get_absolute_url }}">{{ fragment }}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>                    
                {% endif %}
                
                <h3>Date & origin</h3>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            {% comment %}TODO: use item_part.historical_itemS {% endcomment %}
                            <th>Date</th>
                            <td>{{ item_part.historical_item.date }}</td>
                        </tr>
                        <tr>
                            <th>Origin</th>
                            <td>
                                {% for data in item_part.historical_item.itemorigin_set.all %}
                                    <b>Evidence</b>: {{ data.evidence }}
                                    {% if data.dubitable %}, <b>Dubitable</b>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='tab-pane fade' id='descriptions'>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>MS Name</th>
                            <td>{{ item_part.historical_item.name }} </td>
                        </tr>
                        <tr>
                            <th>Index</th>
                            <td>{{ item_part.historical_item.catalogue_number }}</td>
                        </tr>
                        <tr>
                            <th>MS Description</th>
                            <td>
                                {% for historical_item in item_part.historical_items.all %}
                                    {% for desc in historical_item.description_set.all %}
                                        <p>
                                            {{ desc.description }}
                                            <br/>
                                            {{ desc.source.get_display_reference }}
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            {% include "pages/tab_images.html" %}
    
            <div class='tab-pane fade' id='hands'>
                <div class='row-fluid'>
                    {% if hands.count %}
                        <table class='table table-condensed'>
                            <tbody>
                                <tr><th>Hands</th></tr>
                                {% for hand in hands %}
                                    <tr><td>{{ hand }}</td><tr>
                                {% endfor %}
                            <tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-block">
                            <h4>No hands available</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
