{% extends "pages/record.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags %}

{% block meta_title %}{{ item_part.historical_item.historical_item_type|title }}: {{ item_part.display_label }}{% endblock %}
{% block record_title %}
    {{ item_part.historical_item.historical_item_type|title }}: {{ item_part.display_label }}
    {% include "digipal/admin_edit.html" with instance=item_part %}
{% endblock %}

{% block record_tabs %}
    <li class="{% if not tabid %}active in{% endif %}">
        <a href="{{ item_part.get_absolute_url }}" data-target="#data" data-toggle="tab">Information</a></li>
    <li class="{% if tabid = "descriptions" %}active in{% endif %} {% if item_part.historical_item.description_set.count > 0 %}{% else %}disabled{% endif %}">
        <a href="{{ item_part.get_absolute_url }}descriptions/"  data-target="#descriptions" data-toggle="tab">Descriptions ({{ item_part.historical_item.description_set.count }})</a></li>
    <li class="{% if tabid = "pages" %}active in{% endif %} {% if images.count > 0 %}{% else %}disabled{% endif %}">
        <a href="{{ item_part.get_absolute_url }}pages/" data-target="#pages" data-toggle="tab">Pages ({{ images.count }})</a></li>
    <li class="{% if tabid = "hands" %}active in{% endif %} {% if hands.count > 0 %}{% else %}disabled{% endif %}">
        <a href="{{ item_part.get_absolute_url }}hands/" data-target="#hands" data-toggle="tab">Hands ({{ hands.count }})</a></li>
{% endblock %}

{% block details %}
    <div class='tabbable'>
        <div id='record-tab-content' class='tab-content'>
            <div class='tab-pane fade {% if not tabid %}active in{% endif %}' id='data'>
                <h3>Current location</h3>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>Repository</th>
                            <td>{{ item_part.current_item.repository.name }}</td>
                        </tr>
                        <tr>
                            <th>Town or City</th>
                            <td>{{ item_part.current_item.repository.place }}</td>
                        </tr>
                        <tr>
                            <th>Shelfmark</th>
                            <td>
                                {{ item_part.current_item.shelfmark }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3>Other information</h3>
                <table class="table table-condensed">
                    <tbody>
                        {% if item_part.historical_item.name %}
                            <tr>
                                <th>Name</th>
                                <td>{{ item_part.historical_item.name }} </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Catalogue Numbers</th>
                            <td>{{ item_part.historical_item.catalogue_number }}</td>
                        </tr>
                        <tr>
                            <th>Format</th>
                            <td>{{ item_part.historical_item.historical_item_format }}</td>
                        </tr>
                        <tr>
                            {% comment %}TODO: use item_part.historical_itemS {% endcomment %}
                            <th>Date</th>
                            <td>{{ item_part.historical_item.date }}</td>
                        </tr>
                        <tr>
                            <th>Origin</th>
                            <td>
                                {% for data in item_part.historical_item.itemorigin_set.all %}
                                    <b>Evidence</b>: {{ data.evidence }}
                                    {% if data.dubitable %}, <b>Dubitable</b>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='tab-pane fade {% if tabid = "descriptions" %}active in{% endif %}' id='descriptions'>
                {% if item_part.historical_item.description_set.count %}
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                {% for historical_item in item_part.historical_items.all %}
                                    {% for desc in historical_item.description_set.all %}
                                        <th>
                                            {{ desc.source.get_display_reference }}
                                            {% for catnum in historical_item.catalogue_numbers.all %}
                                                {% if catnum.source == desc.source %}
                                                    <br/>
                                                    ({{ catnum }})
                                                {% endif %}
                                            {% endfor %}
                                        </th>
                                        <td>
                                            <p>
                                                {{ desc.description }}
                                            </p>
                                        </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-block">
                        <h6>No descriptions available</h6>
                    </div>
                {% endif %}
            </div>

            {% include "pages/tab_images.html" %}

            <div class='tab-pane fade {% if tabid = "hands" %}active in{% endif %}' id='hands'>
                {% if hands.count %}
                    {% for hand in hands %}
                        <div class='row-fluid'>
                            <a href="{{ hand.get_absolute_url }}">
                                {{ hand }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-block">
                        <h6>No hands available</h6>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    <div id='basket_collector'>
        <p>Add Image to Collection</p>
        <p>
            <img src='/static/images/shopping-cart-icon.png' alt="Collection" />
        </p>
    </div>
{% endblock %}

{% block extra_js %}

    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>

    <script>
    $(document).ready(function(){
        var basket_collector = $('#basket_collector');
        basket_collector.droppable({
            accept: "a.droppable_image",
            hoverClass: "ui-state-active",
            drop: function(event, ui){

                var element = $(ui.helper[0]);


                if(add_to_lightbox(element, 'image', element.data('id'), false)){
                    var s = '<p>Image added to Collection!</p>';
                    s += '<p><img src="/static/digipal/images/success-icon.png" /></p>';
                    $(this).html(s);

                    element.animate({
                        width: 0,
                        height: 0
                    }, 650).remove();
                }

                setTimeout(function(){

                    s = '<p>Add image to Collection</p>';
                    s += '<p><img src="/static/digipal/images/shopping-cart-icon.png" /></p>';
                    basket_collector.html(s);

                    basket_collector.animate({
                         bottom: '-28%'
                    }, 350);

                }, 3000);

                $('html, body').css('cursor', 'initial');

            },
            out: function(){
                $(this).css('background', 'rgba(0, 0, 0, 0.5)');
            },
            over:function(){
                $(this).css('background', 'rgba(100, 100, 100, 0.5)');
            }
        });

        var images = $('a.droppable_image');
        images.draggable({
             containment: false,
                stack: '*',
                cursor: 'move',
                revert: true,
                scroll: true,
                zIndex: 6000,
            start: function(){
                $('#basket_collector').animate({
                     bottom: 0
                }, 350);
            },
            stop: function(){
                $('#basket_collector').animate({
                    bottom: '-28%'
                }, 350);
            }
        });

        var img_database = $('.imageDatabase');
        img_database.on('mouseenter', function(event){
            $(this).find('.drag_caption').slideDown();
            event.stopPropagation();
            return false;
        }).on('mouseleave', function(event){
            $(this).find('.drag_caption').slideUp();
            event.stopPropagation();
            return false;
        });
    });
    </script>
    {% endblock %}
