{% extends "pages/record.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags hand_filters %}

{% block meta_title %}Hand: {{ result }}{% endblock %}
{% block record_title %}
    Hand: {{ result }}
    {% include "digipal/admin_edit.html" with instance=result %}
{% endblock %}

{% block record_tabs %}
    <li class="active"><a href="{{ result.get_absolute_url }}" data-target="#data" data-toggle="tab">Record Data</a></li>
    <li><a href="{{ result.get_absolute_url }}descriptions/" data-target="#descriptions" data-toggle="tab">Descriptions</a></li>
    <li><a href="{{ result.get_absolute_url }}pages/" data-target="#pages" data-toggle="tab">Pages ({{ result.images.count }})</a></li>
    <li><a href="{{ result.get_absolute_url }}graphs/" data-target="#graphs" data-toggle="tab">Graphs ({{ result.graphs.count }})</a></li>
{% endblock %}

{% block details %}
    <div class='tabbable'>
        <div id='myTabContent' class='tab-content'>
            <div class='tab-pane fade active in' id='data'>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ result.label }}</td>
                        </tr>
                        <tr>
                            <th>Manuscript</th>
                            <td>{{ result.item_part }}</td>
                        </tr>
                        <tr>
                            <th>Script</th>
                            <td>
                                {{ result.script }}
                            </td>
                        </tr>
                        <tr>
                            <th>Scribe</th>
                            <td>
                                {{ result.scribe }}
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>
                                {{ result.assigned_date }}
                            </td>
                        </tr>
                        <tr>
                            <th>Place</th>
                            <td>
                                {{ result.assigned_place }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='tab-pane fade' id='descriptions'>
                <div>
                    {{ result.description|tei }}
                </div>
            </div>

            {% include "pages/tab_images.html" with images=result.images.all %}

            <div class='tab-pane fade' id='graphs'>
                <div class="scribe annotations">
                    {% include "digipal/hands.html" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
