{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags html_escape %}

{% block head %}
    <h1 class='header1'>{% block record_title %}{% endblock %}</h1>

    <div class="row-fluid">
        <div class='span8'>
            <ul class="nav nav-tabs" id='record-tab-switch'>
                {% filter add_query_params:request.META.QUERY_STRING %}
                    {% block record_tabs %}
                    {% endblock %}
                {% endfilter %}
            </ul>
        </div>

        {% if pagination %}
            <div class="span4 pull-right move-up-1">
                <ul class="pager">
                    <li class="previous {% if not pagination.previous_url %}disabled{% endif %}">
                        <a href="{{ pagination.previous_url }}">Previous</a>
                    </li>

                    <li>
                        <a href="{{ pagination.no_record_url }}" data-toggle="tooltip" title="Return to the result page">
                            {{ type.label_singular }} {{ pagination.index1 }} of {{ pagination.total }}
                        </a>
                    </li>

                    <li class="next {% if not pagination.next_url %}disabled{% endif %}">
                        <a href="{{ pagination.next_url }}">Next</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block main %}
    <div class='row-fluid'>
        {% block details %}{% endblock %}
    </div>
{% endblock %}
