{% load html_escape %}
<div class='tab-pane fade' id='pages'>
    {% if images %}
        {% for image in images %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row-fluid">
            {% endif %}
                    <div class='span3' style="text-align:center">
                        <a data-id='{{ image.id }}' class="droppable_image imageDatabase" href="{{ image.get_absolute_url }}">
                            {% iip_img image.iipimage width=120 %}
                            <br/>
                            {% if full_label %}
                                {{ image }}
                            {% else %}
                                {{ image.locus }}
                            {% endif %}
                        </a>
                    </div>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="alert alert-block">
            <h4>No Images available</h4>
        </div>
    {% endif %}
</div>
