{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags html_escape %}
{% block meta_title %}Web API Tester{% endblock %}
{% block head %}
    <style>
        pre {border: 1px solid #ccc; outline:none; padding: 5px; margin: 0; }
        .string { color: green; }
        .number { color: blue; }
        .boolean { color: red; }
        .null { color: red; }
        .key { color: #444; }
        .error { color: red; }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <h1 class='header1'>Web API Tester</h1>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <h3>Settings</h3>
                <div class="panel">
                    <label for="">Cross Domain Request</label>
                    <select name="" id="crossDomain">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    </div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input placeholder='Run query URL Ex. graph/12342' class='form-control' type="text" id='input_url' />
                    <div class="input-group-btn">
                        <button class='btn btn-default' id='run-query'>Run Query</button>
                    </div>
                </div>

                <div style='margin-top:1em;font-family: Monospace;'>
                    <pre id='result' class="resizable" style='min-height:250px;max-height:500px;'></pre>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">

        $(function() {
            $( ".resizable" ).resizable();
        });

        dpapi = new DigipalAPI({
            crossDomain: false,
            root: '/digipal/api'
        });

        var crossSelect = $('#crossDomain');

        crossSelect.on('change', function(){
            dpapi.crossDomain($(this).val());
        }).bootstrapSelect();

        dpapi.crossDomain(crossSelect.val());

        function runQuery() {
            var url = $('#input_url').val();
            $('#result').html('<img style="position:absolute;left:50%;" src="/static/digipal/images/ajax-loader4.gif"/>');
            //dpapi.request(url, function(data, success){
            dpapi.graph({'display_label__icontains': 'a.'}, function(data, success){
                if(success){
                    $('#result').html(syntaxHighlight(data));
                } else {
                    data = $.parseHTML(data['errors'][1]);
                    var summary;
                    for(var i = 0; i < data.length; i++){
                        if (data[i].id == 'summary'){
                            summary = data[i];
                        }
                    }
                    $('#result').html("<span class='error'>" + summary.innerHTML + "</span>");
                }
            }, ['id', 'str'], 3);
            $('#input_url').focus();
        }

        $('#run-query').on('click', function(){runQuery();});
        $('#input_url').on('keydown', function(event){
            if (event.which == 13) {
                runQuery();
            }
        });

        function syntaxHighlight(json) {
            //console.log(typeof json)
            if (typeof json != 'string') {
                 json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        
        crossSelect.val('false').change();
        runQuery();

    </script>
    
    
    
{% endblock %}
