{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags html_escape %}

{% block meta_title %}Map Search{% endblock %}

{% block head %}
    <h1>Map Search</h1>

    <div class="panel" id="map-panel">
        <div class="col-sm-4" id="map-search">
            <form method="get" action=".">
                <input type="text" name="q" value="{{ q }}" title="Search for place, shelfmark or MS" data-toggle="tooltip"/>
                <button type="submit" name="s" value="1">Search</button>
            </form>
            <h4>Place name</h4>
            <ul class="list-group">
                {% for record in records %}
                    <li class="list-group-item record place-{{ record.owners.all.0.institution.place.id }}">
                        <a title="See the itempart record" href="{{ record.get_absolute_url }}">{{ record.display_label }}</a>
                        <span class="place-name">
                            in
                            <a title="Zoom in on {{ record.owners.all.0.institution.place.name }}" href="#">{{ record.owners.all.0.institution.place.name }}</a>
                        </span>
                        ({{ record.owners.all.0.date }})
                        {% comment %}
                            <br/>
                            {% for image in record.images.all %}
                                <a title="{{ image.display_label }}" href="{{ image.get_absolute_url }}">{% iip_img image height=20 cls="img-expand" %}</a>
                            {% endfor %}
                            {% for image in record.group.images.all %}
                                <a title="{{ image.display_label }}" href="{{ image.get_absolute_url }}">{% iip_img image height=20 cls="img-expand" %}</a>
                            {% endfor %}
                        {% endcomment %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8">
            <div id="map"/>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    {{ block.super  }}

    {# TODO: move this to its own CSS file #}
    <style>
    #map-panel {
        height: 500px;
        /*
        padding: 1em;
        border: 1px solid lightgrey;
        */
    }
    #map {
        height: 485px;
    }
    #map-search {
        height: 100%;
    }
    #map-search ul {
        overflow-y: scroll;
        max-height: 85%;
    }
    #map-search ul li {
        border-bottom: 1px solid lightgrey;
        font-size: smaller;
    }
    #map-search ul li:hover {
        background-color: #f0f0f0;
    }
    #map-search h4 {
        display: none;
    }
    #map img {
        max-width: none;
    }
    .place-name a {
        font-weight: bold;
    }

    </style>

{% endblock %}

{% block extra_js %}
    {{ block.super  }}

    <script type="text/javascript" src="http{% if request.is_secure %}s{% endif %}://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAP_API_KEY }}&amp;sensor=false"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/admin/img-expand.js" type="text/javascript"></script>

    {# TODO: move this to its own CSS file #}
    <script type="text/javascript">
        var gmap = null;

        var marks = {{ marks|safe }};
        var markers = {};

        function initialize() {
            var mapOptions = {
                // center the map in the middle of Scandinavia
                center: new google.maps.LatLng(63.8258470,20.2630350),
                zoom: 5
            };
            gmap = new google.maps.Map(document.getElementById("map"), mapOptions);

            function zoom_on_record(record) {
                var id = $(record).attr('class').replace(/.*place-(\d+).*/, '$1');
                gmap.setZoom(6);
                gmap.setCenter(markers[id].getPosition());
            }

            function set_marker_events(marker, id, bounce) {
                google.maps.event.addListener(marker, 'mouseover', function() {
                    $('.record').hide();
                    $('.place-name').hide();
                    $('.place-'+id).show();
                    $('#map-search h4').show();
                    $('#map-search h4').html(marks[id][2] + ' (' + marks[id][3].length + ')');
                    set_marker_color(markers[id], 'blue');
                });
                google.maps.event.addListener(marker, 'mouseout', function() {
                    $('.record').show();
                    $('.place-name').show();
                    $('#map-search h4').hide();
                    set_marker_color(markers[id], 'red');
                });
            }

            // set the markers
            for (id in marks) {
                markers[id] = new google.maps.Marker({
                    position: new google.maps.LatLng(marks[id][0], marks[id][1]),
                    title:marks[id][2],
                    icon:'http://maps.google.com/mapfiles/ms/icons/red.png'
                });
                markers[id].setMap(gmap);

                set_marker_events(markers[id], id);
            }

            function set_record_color(record, color) {
                var id = $(record).attr('class').replace(/.*place-(\d+).*/, '$1');
                set_marker_color(markers[id], color, color == 'blue');
            }

            function set_marker_color(marker, color, bounce) {
                marker.color = color;
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/'+color+'.png')
                if (bounce) {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                    window.setTimeout(function() {
                        marker.setAnimation(null);
                    }, 1000);
                } else {
                    marker.setAnimation(null);
                }
            }

            // events
            $('.record').on('mouseenter', function() { set_record_color(this, 'blue', true); });
            $('.record').on('mouseleave', function() { set_record_color(this, 'red'); });
            $('.record').on('click', function() { zoom_on_record(this); });
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        $(function() {
          $('[title]').tooltip();
        });

    </script>

{% endblock %}
