{% extends "admin/digipal/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}digipal_text/tinymce/skins/digipal/skin.min.css"/>
    <!-- link rel="stylesheet" href="{{ STATIC_URL }}digipal_text/viewer/viewer.css"/ -->
    <style type="text/css">
        div.mce-fullscreen {
            z-index: 1300;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}digipal_text/tinymce/tinymce.min.js"></script>
    <script src="{{ STATIC_URL }}digipal_text/viewer/panelset.tinymce.js?v={% now "Y-m-d-H:i:s" %}"></script>
    <script>
        jQuery(function($) {
            initTinyMCE = function(elementid) {
                tinyMCE.init({
                    /* skin : 'digipal', */
                    selector: '#'+elementid,
                    init_instance_callback: function() {
                        //me.tinymce = tinyMCE.get(divid);
                        //me.componentIsReady('tinymce');
                    },
                    plugins: ['paste', 'code', 'panelset', 'fullscreen', 'link'],
                    toolbar: 'psclear undo redo | psh1 psh2 | italic | link | pshand psstint psgraph pscharacter | fullscreen code',
                    //paste_word_valid_elements: 'p',
                    paste_as_text: true,
                    paste_postprocess: function(plugin, args) {
                        //args.node is a temporary div surrounding the content that will be inserted
                        //console.log($(args.node).html());
                        //$(args.node).html($(args.node).html().replace(/<(\/?)p/g, '<$1div'));
                        //console.log($(args.node).html());
                        //console.log(args.node);
                        
                        // remove all tags except <p>s
                        var content = $(args.node).html();
                        content = content.replace(/<(?!\/?p(?=>|\s.*>))\/?.*?>/gi, '');
                        // remove attributes from all the elements
                        content = content.replace(/<(\/?)([a-z]+)\b[^>]*>/gi, '<$1$2>');
                        // remove nbsp;
                        content = content.replace(/&nbsp;/gi, '');
                        // remove empty elements
                        content = content.replace(/<[^>]*>\s*<\/[^>]*>/gi, '');
                        $(args.node).html(content);
                    },
                    menubar : false,
                    statusbar: false,
                    height: '15em',
                    content_css : "/static/digipal_text/viewer/tinymce.css?v={% now "Y-m-d-H:i:s" %}"
                });
                
            };
            
            $('div.form-row.description textarea').each(function() {
                initTinyMCE(this.id);
            });
        });
    </script>
{% endblock %}
