{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags html_escape %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
	{% keywords_for blog_post as tags %}
	{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ blog_post.description }}
{% endmetablock %}{% endblock %}


{% block breadcrumb_menu %}
	{{ block.super }}
	<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}
<div class="row">


    <article class='col-lg-8 col-md-8 justified long-text' id='blogLeft'>


    {% block title %}
        <h1 class='header1.bk'>{{ blog_post.title }}</h1>
    {% endblock %}
    
    {% block blog_post_detail_postedby %}
    {#% editable blog_post.publish_date %#}

    <ul class='meta' id='breadcumbBlog'>
        <li><i class="glyphicon glyphicon-user "></i>
        {% trans "Posted by" %}:
        {% with blog_post.user as author %}
            <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a></li>
        {% endwith %}
        <li><i class="fa fa-calendar"></i>
        {% blocktrans with sometime=blog_post.publish_date|date:"d M Y" %}{{ sometime }}{% endblocktrans %}</li>
        <li> <i class='glyphicon glyphicon-folder-open'></i>

            {% for category in blog_post.categories.all %}
                {% if blog_post.categories.count == 1 %}
                    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a></li>
                {% else %}
                    {% if forloop.last %}
                         <li><a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a></li>
                    {% else  %}
                         <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>, </li>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}


        <li><i class="glyphicon glyphicon-comment"></i>
        {% block blog_post_detail_commentlink %}
        {% if blog_post.allow_comments %}
            {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                    data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                    {% trans "Comments" %}
                {% endspaceless %}</a>)
            {% else %}(<a href="#comments">{% spaceless %}
                {% blocktrans count blog_post.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                {% endspaceless %}</a>)
            {% endif %}
        {% endif %}
    {% endblock %}</li>
    </ul>
    {#% endeditable %#}
    {% endblock %}


    {% block blog_post_detail_featured_image %}
    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
    <p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
    {% endif %}
    {% endblock %}

    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

    {# ******************************* CONTENT **************************** #}
    {% block blog_post_detail_content %}
        {% editable blog_post.content %}
            {{ blog_post.content|richtext_filters|dpfootnotes|safe }}
        {% endeditable %}
    {% endblock %}

    {% block blog_post_detail_keywords %}
        {% keywords_for blog_post as tags %}

        {% if tags %}
        {% spaceless %}
        <ul class="list-inline tags">
            <li><i class='glyphicon glyphicon-tag'></i>{% trans "Tags" %}:</li>
            {% for tag in tags %}
                <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endspaceless %}
        {% endif %}

    {% endblock %}


    {% comment %}
    {% block blog_post_detail_rating %}
    <div class="panel panel-default rating">
        <div class="panel-body">
        {% rating_for blog_post %}
        </div>
    </div>
    {% endblock %}
    {% endcomment %}

    {% block blog_post_detail_sharebuttons %}
    {% set_short_url_for blog_post %}
    <a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
    <a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
    {% endblock %}

    {% block blog_post_previous_next %}
    <ul class="pager">
    {% with blog_post.get_previous_by_publish_date as previous %}
    {% if previous %}
    <li class="previous">
        <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
    </li>
    {% endif %}
    {% endwith %}
    {% with blog_post.get_next_by_publish_date as next %}
    {% if next %}
    <li class="next">
        <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
    </li>
    {% endif %}
    {% endwith %}
    </ul>
    {% endblock %}

    {% block blog_post_detail_comments %}
        {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
    {% endblock %}

    {% block blog_post_detail_related_posts %}
        {% with blog_post.get_related_posts_by_tag as related_posts %}
            {% if related_posts %}
                <div id="related-posts">
                <h3>{% trans 'Related posts' %}</h3>
                <ul class="list-unstyled">
                    {% for post in related_posts %}
                         <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> (by {{ post.user.get_full_name|default:post.user.username }} on {{ post.publish_date|date:"d M Y" }})</li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endwith %}
    {% endblock %}

    </article>
    {% block right_panel %}
        {% include "blog/includes/filter_panel.html" %}
    {% endblock %}
    </div>
{% endblock %}
