{% load mezzanine_tags pagination_tags html_escape %}

<table class="table table-condensed">
    <tr>
        <!--<th>Scribe</th>-->
        <th>Repository</th>
        <th>Shelfmark</th>
        <th>Hand</th>
        <th>Place</th>
        <th>Date</th>
        <th>Catalogue Number</th>
        <th>Actions</th>
    </tr>

    {% filter tag_phrase_terms:terms %}
        {% for hand in records %}
            <tr class="{% cycle 'bgColour' '' %}">
                <td>{{ hand.item_part.current_item.repository.name }}</td>
                <td>{{ hand.item_part.current_item.shelfmark }}</td>
                <td>{{ hand.label }}
                    {% if hand.images.all %}
                        <a class="imageIcon" href="{% filter add_query_params:request.META.QUERY_STRING %}{{ hand.get_absolute_url }}pages?result_type={{template_type}}{% endfilter %}" title='{{page}}'>
                            <img src="{{ STATIC_URL }}digipal/images/manuscript.jpg" alt='manuscript' data-toggle="tooltip" title='This record contains {{hand.images.count}} images' />
                        </a> 
                        ({{hand.images.count}})
                    {% endif %}
                </td>
                <td>{{ hand.assigned_place.name }}</td>
                <td>{{ hand.assigned_date.date }}</td>
                <td>
                    {% for item in hand.item_part.historical_items.all %}
                        {% if not forloop.first %}, {% endif %}
                        {{ item.catalogue_number }}
                    {% endfor %}
                </td>
                <td>
                    {% if can_edit %}
                        <a class="btn" href="/admin/digipal/hand/{{ hand.id }}">Edit</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% filter add_query_params:request.META.QUERY_STRING %}{{ hand.get_absolute_url }}?result_type={{template_type}}{% endfilter %}">View</a>
                </td>
            </tr>
        {% endfor %}
    {% endfilter %}
</table>
