{% load mezzanine_tags pagination_tags html_escape %}

<table class="table table-condensed">
    <tr>
        <th>&nbsp;</th>
        <th>Index</th>
        <th>Repository</th>
        <th>Shelfmark</th>
        <th>Folio(s)</th>
        <th>Description</th>
    </tr>

    {% filter tag_phrase_terms:terms %}
        {% for manuscript in records %}
            <tr>
                <td>
                    {% if can_edit %}
                        <a class="view_button" href="/admin/digipal/itempart/{{ manuscript.id }}">Edit</a>
                    {% endif %}
                    <a class="view_button" href="{% filter add_query_params:request.META.QUERY_STRING %}{{ manuscript.get_absolute_url }}?result_type={{template_type}}{% endfilter %}">View</a>
                </td>
                <td>
                    {% for item in manuscript.historical_items.all %}
                        {% if not forloop.first %}, {% endif %}
                        {{ item.catalogue_number }}
                    {% endfor %}

                    {% if manuscript.images.all %}
                        {% spaceless %}
                        (<a class='imageIcon' data-toggle="tooltip" alt='manuscript' title='This record contains {{manuscript.images.count}} images' 
                            href="{% filter add_query_params:request.META.QUERY_STRING %}{{ manuscript.get_absolute_url }}pages?result_type={{template_type}}{% endfilter %}" title='{{page}}'
                            >{{manuscript.images.count}}
                                <i class="fa fa-picture-o"> </i>
                            </a> )
                        {% endspaceless %}
                    {% endif %}
                </td>

                <td>{{ manuscript.current_item.repository.place.name }}, {{ manuscript.current_item.repository.name }}</td>
                <td>{{ manuscript.current_item.shelfmark }}</td>
                <td>{{ manuscript.locus }}</td>
                <td>
                    {{ manuscript.description_snippet }}
                </td>
            </tr>
        {% endfor %}
    {% endfilter %}
</table>
