{% load mezzanine_tags pagination_tags html_escape %}

<table class="table table-condensed">
    <tr>
        <th>Index</th>
        <th>Repository</th>
        <th>Shelfmark</th>
        <th>Folio(s)</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    {% for manuscript in records %}
        <tr>
            <td>{{ manuscript.historical_item.catalogue_number }} 
                {% if manuscript.pages.all %}
                    <a class='imageIcon' href="{% filter update_query_strings:request.META.QUERY_STRING %}?id={{ manuscript.id }}&result_type={{template_type}}&from_image=true{% endfilter %}" title='{{page}}'>
                        <img src="{{ STATIC_URL }}digipal/images/manuscript.jpg" data-toggle="tooltip" alt='manuscript' title='This record contains {{manuscript.pages.count}} images' />
                    </a> 
                    ({{manuscript.pages.count}})
                {% endif %}
            </td>
            
            <td>{{ manuscript.current_item.repository.name }}</td>
            <td>{{ manuscript.current_item.shelfmark }}</td>
            <td>{{ manuscript.locus }}</td>
            <td>
                {% with description=manuscript.historical_item.get_display_description %}
                    {% if description %}
                        {{ description.description|truncatewords:15 }}
                        ({{ description.source.get_authors_short }})
                    {% endif %}
                {% endwith %}
            </td>
            <td>
                {% if can_edit %}
                    <a class="btn" href="/admin/digipal/itempart/{{ manuscript.id }}">Edit</a>
                {% endif %}
                <a class="btn btn-primary" href="{% filter update_query_strings_in_filter:request.META.QUERY_STRING %}?id={{ manuscript.id }}&result_type={{template_type}}{% endfilter %}">View</a>
            </td>
        </tr>
    {% endfor %}
</table>
