{% load mezzanine_tags pagination_tags html_escape %}

<table class="table table-condensed">
    <tr>
        <th>Index</th>
        <th>Repository</th>
        <th>Shelfmark</th>
        <th>Folio(s)</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    {% filter tag_phrase_terms:terms %}
        {% for manuscript in records %}
            <tr>
                <td>
                    {% for item in manuscript.historical_items.all %}
                        {% if not forloop.first %}, {% endif %}
                        {{ item.catalogue_number }}
                    {% endfor %}
                
                    {% if manuscript.images.all %}
                        <a class='imageIcon' href="{% filter add_query_params:request.META.QUERY_STRING %}{{ manuscript.get_absolute_url }}pages?result_type={{template_type}}{% endfilter %}" title='{{page}}'>
                            <img src="{{ STATIC_URL }}digipal/images/manuscript.jpg" data-toggle="tooltip" alt='manuscript' title='This record contains {{manuscript.images.count}} images' />
                        </a> 
                        ({{manuscript.images.count}})
                    {% endif %}
                </td>
                
                <td>{{ manuscript.current_item.repository.name }}</td>
                <td>{{ manuscript.current_item.shelfmark }}</td>
                <td>{{ manuscript.locus }}</td>
                <td>
                    {{ manuscript.description_snippet }}
                </td>
                <td>
                    {% if can_edit %}
                        <a class="btn" href="/admin/digipal/itempart/{{ manuscript.id }}">Edit</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% filter add_query_params:request.META.QUERY_STRING %}{{ manuscript.get_absolute_url }}?result_type={{template_type}}{% endfilter %}">View</a>
                </td>
            </tr>
        {% endfor %}
    {% endfilter %}
</table>
