{% extends "base.html" %}
{% comment %}
################################
#    SEARCH INDEXES            #
################################
{% endcomment%}
{% load pages_tags mezzanine_tags i18n humanize %}
{% load mezzanine_tags pagination_tags html_escape %}

{% block meta_title %}
    Search Index
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style type="text/css">
        input.big-checkbox {width: 1.5em; height: 1.5em;}
        .message {
          border: 1px solid green;
          background: lightgreen;
          padding: 0.5em;
        }
    </style>
{% endblock %}

{% block main %}

<h1 class='header1'>Search Indexer</h1>

{% include "search/search_index_fragment.html" %}

{% endblock main %}
{% block extra_js %}
    {{ block.super }}
    <script>
        jQuery(document).ready(function($) {
            window.init_search_page();
        });
    </script>
{% endblock %}
