{% load pages_tags mezzanine_tags i18n humanize %}
{% load mezzanine_tags pagination_tags html_escape %}
<div id="search-ajax-fragment">
    <input type="hidden" id="search_page_title" value="{%if indexing%}({% widthratio indexing.progress 1 100 %}%){%endif%} Search Indexer"/>
    <form action="" method="POST">
        <h1 class='header1'>
            Search Indexer
            <span class="pull-right small">
                <input type="hidden" name="action" value="refresh"/>
                {% if indexing.state == 'indexing' %}
                    <button type="submit" class="btn btn-danger action-cancel" name="action" value="cancel">
                        Cancel
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary action-reindex" name="action" value="reindex" disabled>
                        Reindex
                    </button>
                {% endif %}
    
                <a class="action-refresh" href="?action=refresh">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </a>
            </span>
        </h1>
    
        {% if indexing %}
            <div class="message message-{%if indexing.progress < 1.0 %}info{% else%}success{%endif%}">
                {{ indexing.state }}
                {% if indexing.progress < 1.0 %}
                    {% widthratio indexing.progress 1 100 %}% (started {{ indexing.started|naturaltime }} {#, last updated {{ indexing.updated|naturaltime }} #})
                {% else %} 
                    {{ indexing.updated|naturaltime }} 
                {% endif %}
            </div>
        {% endif %}
    
        <input type="hidden" name="is_running" class="is_running" value="{%if running%}1{%else%}0{%endif%}"/>
        
        <table class="table table-striped table-hover">
            <theader>
                <tr>
                    <th><input title="Select all" class="form-control big-checkbox" type="checkbox" name="select-0" {%if running%}disabled{%endif%}/></th>
                    <th>Index</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Size</th>
                </tr>
            </theader>
            <tbody>
                {% for key, index in indexes.iteritems %}
                    <tr>
                        <td><input type="checkbox" class="form-control big-checkbox index-selector" name="select-{{index.object.key}}" {%if running%}disabled{%endif%}/></td>
                        <td>{{index.object.label}}</td>
                        <td>
                            {% if indexing and index.indexing %}
                                {% widthratio index.indexing.progress 1 100 %}%
                            {% endif %}
                        </td>
                        <td>{{index.info.date|naturaltime}}</td>
                        <td>{{index.info.size|filesizeformat}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

</div>
