{% extends "base.html" %}
{% load html_escape mezzanine_tags  %}

{% block meta_title %}Patterns detection{% endblock %}
{% block meta_title_site %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}digipal/bs-dd-cb/bootstrap-dropdown-checkbox.css"/>
    <style>
        div.form-group-full-width {
            display:table;
            width: 100%;
            margin-top: 0.2em;
        }
        div.form-group-full-width label {
            display:table-cell;
            width: 1px;
            padding-right: 0.5em;
        }
        div.form-group-full-width .form-control {
            display:table-cell;
            width: 100%;
        }
        div.pattern {
            border-bottom: 2px solid lightgrey;
            padding-bottom: 0.2em;
            margin-bottom: 0.2em;
        }
        input.pattern-title {
            min-width: 30em;
        }
    </style>
{% endblock %}

{% block main %}
    {% include "digipal_text/patterns_fragment.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# TODO: include min on production #}
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/dpbootstrap.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
        <script src="{{ STATIC_URL }}digipal/bs-dd-cb/bootstrap-dropdown-checkbox.min.js"></script>
    {% endcompress %}

    <script>
        jQuery(document).ready(function($) {
            $('.patterns').on('click', '.delete-pattern', function() {
                $btn = $(this);
                $btn.parent().find('.pattern-input').val('');
                $btn.parent().hide();
                return false;
            });
            window.init_search_page();
        });
    </script>
{% endblock %}
