{% load html_escape mezzanine_tags  %}

<div id="search-ajax-fragment">
    <form method="POST" class="form-inline patterns_fragment">
        {# % csrf_token % #}

        <div class="panel patterns">
            <input type="hidden" name="selected_patternid" value="" />
            <ul class="patterns-list sortable2">
                {% for pattern in patterns.values %}
                    <li data-patternid="{{pattern.id}}">
                        <a data-target="managed" href="#">
                            {%if pattern.condition == 'include' %}+{% endif%}{%if pattern.condition == 'exclude' %}-{% endif%}{%if pattern.condition == 'ignore' %}({% endif%}{{ pattern.key }}{%if pattern.condition == 'ignore' %}){% endif%}
                            {% if pattern.error %}<span class="glyphicon glyphicon-warning-sign"></span>{% else %}[{{ pattern.unhits }}]{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <span id="search-top2"></span>
            {% for pattern in patterns.values %}
                <div class="pattern" data-patternid="{{pattern.id}}">
                    <input type="hidden" name="p_{{ pattern.id }}_order" value="{{ pattern.order }}" />
                    <div class="form-group">
                        {% if pattern.id %}
                            #{{ pattern.order }}
                        {% else %}
                            New Pattern:
                        {% endif %}
                        <label for="p_{{ pattern.id }}_key">Key</label>
                        <input class="form-control input-sm" type="text" name="p_{{ pattern.id }}_key" id="p_{{ pattern.id }}_key" value="{{ pattern.key }}" autocomplete="off" autocorrect="off" autocapitalize="off" />
                    </div>
                    <div class="form-group">
                        <label for="p_{{ pattern.id }}_title">Title</label>
                        <input class="form-control input-sm pattern-title" type="text" name="p_{{ pattern.id }}_title" id="p_{{ pattern.id }}_title" value="{{ pattern.title }}" autocomplete="off" autocorrect="off" autocapitalize="off" />
                    </div>
                    <div class="form-group">
                        <label for="p_{{ pattern.id }}_condition">Condition</label>
                        <select class="form-control input-sm" name="p_{{ pattern.id }}_condition" id="p_{{ pattern.id }}_condition">
                            {% for condition in conditions %}
                                <option value="{{condition.key}}" {% if condition.key == pattern.condition %}selected{% endif %}>{{ condition.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="small legend" title="number of units NOT matching this pattern" data-toggle="tooltip">
                        {% if pattern.id and pattern.condition != 'ignore' %}
                            {{ pattern.unhits }}
                        {% endif %}
                    </span>
                    {% if pattern.id %}
                        <a class="pull-right btn btn-xs btn-danger delete-pattern" href="#" data-target="managed" title="Remove this pattern" data-toggle="tooltip">X</a>
                    {% endif %}
                    <br/>
                    <div class="form-group form-group-full-width" style="display:table">
                        <label for="p_{{ pattern.id }}_pattern">Pattern</label>
                        <input class="form-control pattern-input input-sm" type="text" name="p_{{ pattern.id }}_pattern" id="p_{{ pattern.id }}_pattern" value="{{ pattern.pattern }}" autocomplete="off" autocorrect="off" autocapitalize="off" />
                    </div>
                    {% if pattern.error %}
                    <div class="error-message">Syntax error: {{ pattern.error }}</div>
                    {% endif %}
                    <span data-patternkey="{{pattern.key}}" data-patternconverted="{{pattern.pattern_converted}}"></span>
                </div>
            {% endfor %}

            <div class="actions">
                <div class="form-group ">
                    <label for="units_range">Text range</label>
                    <input class="form-control input-sm" type="text" name="units_range" id="units_range" value="{{ units_range }}"  autocomplete="off" autocorrect="off" autocapitalize="off" />
                </div>

                <div class="form-group ">
                    <label for="units_limit">Show first</label>
                    <input class="form-control input-sm" type="text" name="units_limit" id="units_limit" value="{{ units_limit }}"  autocomplete="off" autocorrect="off" autocapitalize="off" />
                </div>
                <input type="hidden" name="action" value="update" />
                <button class="form-control btn btn-primary" type="submit" name="update">Update</button>
            </div>
        </div>

        <div class="stats panel">
            {{stats.result_size}} units found among {{stats.range_size}} in the selected range ({{ stats.result_size_pc }}%).
            <span class="pull-right small legend">{{ stats.response_time }} s.</span>
        </div>

        <ul class="nav nav-tabs">
            <li {% if active_tab == "tab-units" %}class="active"{%endif%}><a data-toggle="tab" href="#tab-units">Units</a></li>
            <li {% if active_tab == "tab-variants" %}class="active"{%endif%}><a data-toggle="tab" href="#tab-variants">Variants</a></li>
            <input type="hidden" name="active_tab" value="{{active_tab}}" />
        </ul>

        <div class="tab-content">
            <div id="tab-units" class="tab-pane fade {%if active_tab == "tab-units" %}in active{%endif%}">
                <div class="units">
                    {% for unit in units %}
                        <div class="unit">
                            #{{ unit.unitid }}
                            <div class="unit-content">
                                {{ unit.plain_content|safe }}
                            </div>
                            <br/><br/>
                            {% for pattern in unit.patterns %}
                                <span data-patternkey="{{pattern.0}}" class="pattern-label {% if not pattern.1 %}missing-pattern{% endif %}">{{ pattern.0 }}</span>:
                                {% if pattern.1 %}
                                    {{ pattern.1 }}
                                {% else %}
                                    <span style="color: orange">{{ patterns|dictget:pattern.0|dictget:'pattern' }}</span>
                                {% endif %}
                                <br/>
                            {% endfor %}
                            <hr/>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="tab-variants" class="tab-pane fade {%if active_tab == "tab-variants" %}in active{%endif%}">
                <div>
                    {% for variant in variants %}
                        {{ variant.hits }}: {{ variant.text }}
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
