{% extends "base.html" %}
{% load html_escape mezzanine_tags  %}

{% block meta_title %}Patterns detection{% endblock %}
{% block meta_title_site %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}digipal/bs-dd-cb/bootstrap-dropdown-checkbox.css"/>
    <style>
        div.form-group-full-width {
            display:table;
            width: 100%;
            margin-top: 0.2em;
        }
        div.form-group-full-width label {
            display:table-cell;
            width: 1px;
            padding-right: 0.5em;
        }
        div.form-group-full-width .form-control {
            display:table-cell;
            width: 100%;
        }
        div.pattern {
            /*display: none;*/
            border-top: 2px solid lightgrey;
            border-bottom: 2px solid lightgrey;
            padding-top: 0.2em;
            margin-top: 0.2em;
            padding-bottom: 0.2em;
            margin-bottom: 0.2em;
        }
        input.pattern-title {
            min-width: 30em;
        }
        .pattern-error {
            color: red;
        }
        .messages {
            border: 1px solid lightgrey;
            border-radius: 0.5em;
            background-color: floralwhite;
            padding: 0.2em;
            margin: 0.2em;
        }
        .messages.ul {
            padding-left: 1.5em;
        }
        .message-error {
            color: red;
        }
        .message-warn {
            color: orange;
        }
        .message-success {
            color: green;
        }
        .message-info {
        }
        .missing-pattern {
            color: red;
        }
        .pattern-label {
            font-weight: bold;
        }
        span.m {
            background-color: #e0ffe0;
            border: 1px solid green;
            margin-left: 0.2em;
        }
        #pattern_tester {
            position: fixed;
            background-color: white;
            width: 80%;
            border: 1px solid grey;
            top: 2em;
            left: 2em;
            z-index: 10000;
            padding: 0.5em;
            display: none;
        }
        #pattern_tester input {
            width: 90%;
        }
        ul.patterns-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-bottom: 0.5em;
            display: table;
        }
        ul.patterns-list li {
            float: left;
            margin: 0 0.4em 0.1em 0;
            border: 1px solid lightgrey;
            padding: 0.05em;
            /* display: inline-block; */
        }
        ul.patterns-list li a {
            /* display: inline-block; */
        }
        ul.patterns-list li.picked {
            background-color: yellow;
        }
        ul.patterns-list li:hover {
            cursor: pointer;
            background-color: lightyellow;
        }
        .ui-state-highlight {
            height: 1.4em;
            /* line-height: 1.4em; */
            width: 8em;
            background: yellow;
            border: 1px dashed orange;
        }
        .pattern-condition-include:before {
            content: '+';
        }
        .pattern-condition-exclude:before {
            content: '-';
        }
        .pattern-condition-ignore:before {
            content: '(';
        }
        .pattern-condition-ignore:after {
            content: ')';
        }
    </style>
{% endblock %}

{% block main %}
    <a href="https://confluence.dighum.kcl.ac.uk/display/EXON/Text+Segmentation+Tool">Help about this tool</a>

    {% verbatim %}
    <div id="patterns-ui" class="form-inline">
        <div class="messages" v-if="response.messages && response.messages.length">
            <ul v-for="message in response.messages">
                <li v-bind:class="'message message-'+message.type">
                    {{ message.message }}
                </li>
            </ul>
        </div>
    
        <div class="panel patterns">
            <ul class="patterns-list sortable2" id="patterns_list">
                <li v-on:click.stop.prevent="select_pattern" v-for="pattern in response.patterns" v-bind:data-patternid="pattern.id" v-bind:class="(session.selected == pattern.id) ? 'picked' : ''">
                    <span>
                        <span class="glyphicon glyphicon-warning-sign pattern-error" v-if="pattern.error"></span>
                        <span v-bind:class="'pattern-condition-'+session.options.conditions[pattern.id]">{{pattern.key}}</span>
                        <span v-if="!pattern.error">[{{ 0 }}]</span>
                    </span>
                </li>
            </ul>
        </div>
    
        <div v-for="pattern in response.patterns">
            <div v-if="(pattern.id == session.selected)"  class="pattern" v-bind:data-patternid="pattern.id">
                <div class="form-group">
                    <label for="p_key">Key</label>
                    <input class="form-control input-sm" type="text" name="p_key" id="p_key" v-on:blur="save_pattern(pattern.id)" v-model="pattern.key" autocomplete="off" autocorrect="off" autocapitalize="off" />
                </div>
                <div class="form-group">
                    <label for="p_title">Title</label>
                    <input class="form-control input-sm pattern-title" type="text" name="p_title" id="p_title" v-on:blur="save_pattern(pattern.id)" v-model="pattern.title" autocomplete="off" autocorrect="off" autocapitalize="off" />
                </div>
                <div class="form-group">
                    <label for="p_condition">Condition</label>
                    <select class="form-control input-sm" name="p_condition" id="p_condition" v-model="session.options.conditions[pattern.id]">
                        <option v-bind:value="ckey" v-for="(label, ckey) in conditions">{{ label }}</option>
                    </select>
                </div>
                <span class="small legend" title="number of units NOT matching this pattern" data-toggle="tooltip" v-if="session.options.conditions[pattern.id] != 'ignore'">
                    {{ pattern.unhits }}
                </span>
                <a class="pull-right btn btn-xs btn-danger delete-pattern" v-on:click="delete_pattern(pattern.id)" href="#" data-target="managed" title="Remove this pattern" data-toggle="tooltip">X</a>
                <br/>
                <div class="form-group form-group-full-width" style="display:table">
                    <label for="p_pattern">Pattern</label>
                    <input class="form-control pattern-input input-sm" type="text" name="p_pattern" id="p_pattern" v-on:blur="save_pattern(pattern.id)" v-model="pattern.pattern" autocomplete="off" autocorrect="off" autocapitalize="off" />
                </div>
                <div v-if="pattern.error" class="pattern-error">Syntax error: {{ pattern.error }}</div>
            </div>
        </div>
    
        <div class="actions">
            <div class="form-group ">
                <label for="units_range">Text range</label>
                <input class="form-control input-sm" type="text" name="units_range" id="units_range" v-on:blur="save_session" v-model="session.options.range" autocomplete="off" autocorrect="off" autocapitalize="off" />
            </div>
        
            <div class="form-group ">
                <label for="units_limit">Show first</label>
                <input class="form-control input-sm" type="text" name="units_limit" id="units_limit" v-on:blur="save_session" v-model="session.options.limit"  autocomplete="off" autocorrect="off" autocapitalize="off" />
            </div>
            <button class="form-control btn btn-primary" type="submit" v-on:click="apply_patterns" name="update">Update</button>
        </div>
        
        <div class="stats panel" v-if="response.stats.result_size">
            {{response.stats.result_size}} units found among {{response.stats.range_size}} in the selected range ({{ response.stats.result_size_pc }}%).
            <span class="pull-right small legend">{{ response.stats.duration_response }} s.</span>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-units">Units</a></li>
            <li><a data-toggle="tab" href="#tab-variants">Variants</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-variants" class="tab-pane fade">
                <ul>
                    <li v-for="variant in response.variants">
                        {{ variant.hits }}: {{ variant.text }}
                    </li>
                </ul>
            </div>
            <div id="tab-units" class="tab-pane fade in active">
                <div class="units" v-for="unit in response.segunits">
                    <div class="unit">
                        #{{ unit.unitid }}
                        <div class="unit-content" v-html="unit.unit">
                        </div>
                        <br/><br/>
                        <div v-for="pattern in unit.patterns">
                            <span v-bind:class="{'pattern-label': 1, 'missing-pattern': pattern.instance}">{{ pattern.key }}</span>:
                            {{ pattern.instance }}
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% endverbatim %}

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# TODO: include min on production #}
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/dpbootstrap.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
        <script src="{{ STATIC_URL }}digipal/bs-dd-cb/bootstrap-dropdown-checkbox.min.js"></script>
    {% endcompress %}
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script type="text/javascript">
        //enum: ["patterns", "stats", "units", "variants"]
        (function() {
            var model = {
                'response': {{ context_js|safe }},
                'session': {
                    'selected': 'woodland-4',
                    'options': {
                        'range': '',
                        'limit': 10,
                        'conditions': {'woodland-4': 'ignore'},
                    }
                },
                'conditions': {
                    '': 'May have',
                    'include': 'Must have',
                    'exclude': 'Must not have',
                    'ignore': 'Ignore',
                }
            }
            
            // Load user settings from the locaStorage 
            var session = window.localStorage.getItem('session');
            if (session) {
                model.session = JSON.parse(session);
            }
            ['messages', 'patterns', 'segunits', 'stats', 'variants'].map(function(val) {
                model.response[val] = model.response[val] || [];
            });
            
            var patterns_list = new Vue({
                el: '#patterns-ui',
                
                data: model,
                
                watch: {
                },
                
                methods: {
                    save_session: function() {
                        window.localStorage.setItem('session', JSON.stringify(this.session));
                    },
                    
                    select_pattern: function(event) {
                        this.session.selected = event.currentTarget.getAttribute('data-patternid');
                        this.save_session();
                    },
                    
                    delete_pattern: function (patternid) {
                    	this.change_pattern(patternid, 'delete')
                    },
                    
                    save_pattern: function (patternid) {
                        this.change_pattern(patternid, 'put')
                    },
                    
                    change_pattern: function (patternid, method) {
                        var pattern = null;
                        $(this.response.patterns).each(function(i, apattern) {
                            if (apattern.id == patternid) {
                                pattern = apattern;
                            }
                        });
                        if (pattern) {
                        	this.call_api('patterns/'+pattern.id, method, pattern);
                        }
                    },
                    
                    apply_patterns: function () {
                        this.call_api('patterns', 'get', {}, ['patterns', 'segunits', 'stats']);
                    },

                    call_api: function (path, method, data, toreturn) {
                    	var self = this;
                        path = path.replace(/(^\/|\/$)/g, '') + '/';
                        toreturn = toreturn || [path.replace(/\/.*$/, '')];
                        $.ajax({
                            url: '/digipal_text/api/'+path+'?ret='+(toreturn.join(',')),
                            type: method,
                            data: JSON.stringify(data),
                            dataType: 'json',
                        }).success(function(data) {
                            // merge with out previous responses.
                            // so we can get partial response, more efficient.
                            self.response.messages = [];
                            for (key in data) {
                                self.response[key] = data[key];
                            }
                        }).fail(function(jqXHR, textStatus) {
                            self.response.messages = [{
                                'type': 'error',
                                'message': 'Request failed: ' + textStatus,
                            }];
                        })
                    },
                }
            });
        })();
    </script>
{% endblock %}
