{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ScriptPage.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}digipal/scripts/libs/jquery-ui/jquery-ui.custom.min.css" />

{% endblock %}

{% block content %}
<div id="generalContent" class='container'>
	<h1 class='header1'>Scribe Entries <a style='float:right' href="/admin/digipal">Back to Page list</a></h1>


{% block annotations %}
  <div class='row'>
    <div class='column7'>
      <div class='alert'></div>
      <form id="frmAnnotation" method="POST" name="frmAnnotation">
          {% csrf_token %}
            <div id='scribe_header'>{{ scribeForm }} <img src='/static/digipal/images/ajax-loader-ball.gif' id ='ajax_loader' /></div>
            <div>
              <label>Idiograph: </label> <span id='idiograph_selected'>Null (Defining new Idiograph)</span>
            </div>
            <div id="listElems">
              <div class="listElem">
                {{ formset }}
              </div>
            </div>
            <h2>Features <span class='label label-default' style='font-size:13px' id='num_features'></span></h2>
              <hr style='margin-top:3px'/>
              <div id="features_container"></div>
              <div style='margin:1%'>
                <input type='button' value='Check All' id='check_all' />
                <input type='button' value='Uncheck All' id='uncheck_all' />
              </div>
              <div style='float:right;'>
                <input type='button' class='btn btn-default' value='Save Idiograph' id="subButton"/>
                <input type='button' class='btn btn-default' value='New Idiograph' id="new_idiograph_Button"/>
                <!--<span id="errorSpan">You must select a Scribe to continue</span>-->
              </div>
        </form>
        <!--
        <form id="linesAdder">
            <label>Add some rows</label>
            <input type="text" name="rowAdder" id="addRowNum" />
            <input type='button' id="addrowbutton" class='btn btn-default' value='Add rows' />
        </form>
      -->
    </div>

    <div class='column5' id='current_idiographs'>
      <h1 class='header1'>Idiographs <span id='number_idiographs'></span></h1>
      <div id='idiographs_container'></div>
    </div>
  </div>

{% endblock %}

</div>
<script type="text/javascript" src = "{{ STATIC_URL }}admin/js/idiograph_editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script src="{{ STATIC_URL }}digipal/scripts/libs/jquery-ui/jquery-ui.custom.min.js" type="text/javascript"></script>

{% endblock %}