<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>

        <!-- DigiPal - build number {{ settings.DP_BUILD_NUMBER }} - build date {{ settings.DP_BUILD_TIMESTAMP }} - {{ digipal_version }} ({{ settings.DP_BUILD_BRANCH }}) -->

        {% if nofollow %}
            <meta name="robots" content="nofollow" />
        {% endif %}

        <title>
            {% block meta_title %}{% endblock %}
            {% block meta_title_site %}
                {% if settings.SITE_TITLE %}
                     | {{ settings.SITE_TITLE }}
                {% endif %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png"/>

        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog_post_feed' 'rss' %}"/>
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog_post_feed' 'atom' %}"/>
        {% endifinstalled %}

        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}digipal/bootstrap/less/dpbootstrap.less" type="text/less" />

            <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css"/>

            <link rel="stylesheet" href="{{ STATIC_URL }}digipal/scripts/libs/jquery-ui/jquery-ui.custom.min.css" />

            {# style.css has been replaced by this series of individual sheets #}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpbase.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpmenu.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dphome.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpimage.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpblog.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpsearch.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpannotator.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dplightbox_collection.less" type="text/less" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpallograph.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dptei.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpjqui.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/dpscrollbar.css"/>

            <link rel="stylesheet" href="{{ STATIC_URL }}digipal/css/print.css" media="print" />
            <link rel="stylesheet" href="{{ STATIC_URL }}digipal/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        {% endcompress %}

        {# Leave fonts outside of compress block otherwise it will fail when combining them all together #}
        <link rel="stylesheet" href="{{ STATIC_URL }}digipal_text/junicode/junicode.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}digipal/font-awesome/css/font-awesome.min.css" />

        {% block extra_css %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/html5shiv.js" type="text/javascript"></script>
        <![endif]-->

    </head>

    <body id="{% block body_id %}body{% endblock %}" class="{{body_class}}">

        <div class="resp-container">

            <div class="resp-block">

                <nav class="primary-nav navbar navbar-default">

                    <span id="banner-img-left" class="banner-image hidden-xs"></span>
                    <span id="banner-img-right" class="banner-image hidden-sm hidden-xs"></span>
                    
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                    
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-bars"></span>
                            </button>
                    
                            <a class="navbar-brand" href="/">
                                {% block logo %}
                                    {% if settings.BANNER_LOGO_HTML %}
                                        {{ settings.BANNER_LOGO_HTML|safe }}
                                    {% else %}
                                        {# https://jsfiddle.net/vemj87m3/ #}
                                        <span id='logo'>
                                            {%spaceless%}
                                                <span class="logo-brand logo-brand-digi">{{ settings.SITE_TITLE }}</span>
                                            {%endspaceless%}
                                        </span>
                                    {% endif %}
                                {% endblock %}
                            </a>
                    
                        </div>
                    </div>

                    <!-- main menu -->
                    <div class="collapse navbar-collapse">
                        {# collapse navbar-collapse not inside container so the nav bg is full width #}
                        {# while the nav is centered #}
                        <div class="container">
                            {% page_menu "pages/menus/dropdown.html" %}
                        </div>
                    </div>

                </nav>

                <!-- quick search -->
                {% if not advanced_search_form %}
                    {% block quick_search_form %}
                        <div id='quick-search'>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <form class="form"
                                            action="/digipal/search/{% if settings.QUICK_SEARCH_TO_FACETS %}facets/{% endif %}"
                                            method="GET">
                                            <div class="form-group">
                                                <div class="input-group">

                                                    {% if settings.SHOW_QUICK_SEARCH_SCOPES %}
                                                        <span class="input-group-btn hidden-xs">
                                                            <select name="scp" class="form-control"
                                                                title="Search in" data-toggle="tooltip" data-placement="left">
                                                                <option value="">Database</option>
                                                                <option value="st">News &amp; Blog</option>
                                                            </select>
                                                        </span>
                                                    {% endif %}

                                                    {{ quick_search_form.terms }}

                                                    <span class="input-group-btn">
                                                        <button type='submit' class='btn btn-default round-right'>
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </button>
                                                        <a class="btn btn-link advanced-search-btn" data-toggle="tooltip" title='Go to Advanced Search' href='/digipal/search/?from_link=true&amp;s=1' id='advanced_search_link' data-placement="right">
                                                            <i class="glyphicon glyphicon-cog"></i>
                                                        </a>
                                                    </span>

                                                </div>

                                            </div>

                                            <span class="hidden">
                                                {{ quick_search_form.s }}
                                                {{ quick_search_form.basic_search_type }}
                                                {{ quick_search_form.ordering }}
                                                {{ quick_search_form.years }}
                                                {{ quick_search_form.result_type }}
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}
            </div>

            <!-- main body -->
            <div class="resp-block resp-push">
                <div class="container{% if wide_page %}-fluid{% endif %}" id="main_body_container">

                   {% if message %}
                        {% nevercache %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" data-alert="alert">
                                    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
                                </div>
                            {% endfor %}
                        {% endnevercache %}
                    {% endif %}

                    {% block head %}{% endblock %}

                    {% block main %}{% endblock %}

                </div>
            </div>

            <!-- footer -->
            {% include "includes/footer.html" %}
        </div>

        <!-- javascript scripts -->
        {% if 1 %}
            {# API optimisation, we preload the API content types to avoid BLOCKING requests by the JS API #}
            <script type="text/javascript">
                window.DAPI_CONTENT_TYPE_RESPONSE = {{ dapi_content_type_response|safe }};
            </script>
        {% endif %}

        <script>
            window.digipal_settings = {{ DIGIPAL_SETTINGS|safe }};
        </script>
        {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" ></script>
            <script src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.js"></script>
            <script src="{{ STATIC_URL }}digipal/scripts/libs/jquery-ui/jquery-ui.custom.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}digipal/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" ></script>

            {% if 1 and not advanced_search_form %}
                <script src='{{ STATIC_URL }}js/bootstrap.select.js'></script>
            {% endif %}

            <script src="{{ STATIC_URL }}digipal/scripts/utils.js" type="text/javascript" ></script>
            <script src="{{ STATIC_URL }}js/search_page.js" type="text/javascript" ></script>

            <script src="{{ STATIC_URL }}digipal/scripts/api.digipal.js" type="text/javascript" ></script>

            <script src='{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js' type="text/javascript" ></script>
            <script src='{{ STATIC_URL }}digipal/scripts/annotation_editor.js' type="text/javascript" ></script>
            <script src="{{ STATIC_URL }}digipal/fancybox/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript"></script>

            {% include "includes/google_analytics.html" %}
        {% endcompress %}

        {% block extra_js %}{% endblock %}
        
        {% block kdl_maintained %}
          {% if settings.KDL_MAINTAINED and not DEBUG %}
              <script defer="defer" src="https://rawgit.com/kingsdigitallab/sla-acpp/develop/js/sla.js" type="text/javascript"></script>
          {% endif %}
        {% endblock %}
    </body>
</html>
