/* ANNOTATED IMAGE CSS */

body { font-family: Helvetica,Arial,Sans; font-size: 0.75em; }
h1, h2, p { margin: 10px 0; }

#gw {width:100%}

/* top section */
#topSection {}

#topSection h3 a {text-decoration: none;color: #494938; border-bottom: 1px solid #494938; }
#topSection h3 a:hover { border: 0 none; color: #67674f; }
#topSection h3 a.annotationLink { margin-left: 20px; }

#status { font-weight: bold; }

/* bottom section */
#bottomSection {}
#map { border:1px solid black; }
.leftContainer { float: left; width: 75%; }
.rightContainer { float:left; margin-left: 1em; }

.fieldWrapper label { display: block; font-weight: bold; color: #333333; margin: 0 0 5px 0 }
.fieldWrapper h3 { color: #573d00; font-size: 1em; }

/* multiselect */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left; font-size:1em; }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/* panel toggle */

.panelToggle.s7 {
    background-position: -28px -28px;
}

.panelToggle {
    background-color: transparent;
    background-image: url(../images/panelToggle.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 28px;
    text-indent: -5000px;
    width: 28px;
    z-index: 1000;
}

.hidden {
    visibility: hidden;
}

.notice {
    border: 2px solid #fff67f;
    margin-bottom: 1em;
    padding: 0.8em;
    background: none repeat scroll 0 0 #fff6cf;
    color: #514721;
}
