{% load mezzanine_tags pagination_tags hand_filters html_escape %}

{% chrono "start template:" %}

{% chrono "pagination and loading:" %}

<p>
    {% chrono "load graphs:" %}
    {% load_hands 'records' as ghands %}
    {% chrono ":load_graphs" %}
    {{ type.count }} graphs in {{ type.get_hand_count }} hands
</p>

<div class='tabbable'>
    <div class="tab-content">

        {% chrono "table tab:" %}

        <div class="tab-pane fade {% if type.views.0.active %}active in{% endif %}" id="{{ type.key }}-list">

            <table class="table table-condensed">
                <tr>
                    <th>Hand</th>
                    <th>Scribe</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Repository</th>
                    <th>Shelfmark</th>
                    <th>Catalogue Number</th>
                </tr>
                {% for hand in ghands %}
                    <tr>
                        <td>{{ hand }}</td>
                        <td>{% if hand.scribe %}{{ hand.scribe }}{% else %}Unspecified{% endif %}</td>
                        <td>{{ hand.assigned_place }}</td>
                        <td>{{ hand.assigned_date }}</td>
                        <td>{{ hand.item_part.current_item.repository.name }}</td>
                        <td>{{ hand.item_part.current_item.shelfmark }}</td>
                        <td>{{ hand.item_part.historical_item.catalogue_number }}</td>
                    </tr>
                    <tr>
                        <td data-group='true' colspan="7">
                            {% for graph in hand.graphs_template %}
                                <span class="folio-image-wrapper">
                                    <a data-checked='false'
                                        data-image-id='{{ graph.annotation.image.id }}'
                                        href="{{ graph.annotation.image.get_absolute_url }}?graph={{ graph.annotation.graph.id }}"
                                        data-type='annotation' data-graph="{{ graph.id }}" data-allograph='{{graph.idiograph.allograph.id}}'
                                        data-id='{{ graph.id }}' class='droppable_image graph_img' rel="nofollow"
                                        >
                                        {% annotation_img graph.annotation lazy=1 a_title=graph.get_short_label a_data_placement="bottom" a_data_toggle="tooltip" a_data_container="body" %}
                                    </a>
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        {% chrono ":table tab" %}
        {% chrono "grid tab:" %}

        <div class="tab-pane fade {% if type.views.1.active %}active in{% endif %}" id="{{ type.key }}-images">

            {% for hand in ghands %}

                {% if forloop.counter0|divisibleby:4 %}
                    <div class='row {% if can_edit %} row-min-admin {% endif %}'>
                {% endif %}
                        <div class='col-md-3 centered col-xs-12'>

                            <dl class="imageDatabase panel" data-group='true'>
                                {% if can_edit %}
                                <button style='margin:0.5em;' class="btn btn-default btn-sm toggle-all">Toggle All</button>
                                {% endif %}
                                <dt>
                                    {% for graph in hand.graphs_template %}
                                        {% if forloop.counter < 10 %}
                                        <span class="folio-image-wrapper">
                                            <a data-checked='false' data-image-id='{{ graph.annotation.image.id }}'
                                                data-type='annotation' data-graph="{{ graph.id }}" data-allograph='{{graph.idiograph.allograph.id}}'
                                                data-id='{{ graph.id }}' class='droppable_image'
                                                href="/digipal/page/{{ graph.annotation.image_id }}/?graph={{ graph.annotation.graph.id }}">
                                                {% annotation_img graph.annotation fixlen=50 padding=5 lazy=1 a_title=graph.get_short_label a_data_placement="bottom" a_data_toggle="tooltip" a_data_container="body" %}
                                            </a>
                                        </span>
                                        {% endif %}
                                    {% endfor %}
                                </dt>
                                {# see JIRA DIGIPAL-422 for spec about graph tooltips #}
                                <dd title="{{ hand }} in {{ hand.item_part }} {% if hand.scribe %}by {{ hand.scribe }}{% else %}(Unspecified scribe){% endif %}" data-toggle="tooltip" data-placement="bottom">
                                    <a href="{{ hand.get_absolute_url }}">
                                        <strong>{{ hand.get_short_label }}</strong>
                                    </a>
                                    in
                                    <a href="{{ hand.item_part.get_absolute_url }}">{{ hand.item_part.display_label|truncatewords:3 }}</a>
                                </dd>
                            </dl>
                        </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>

    </div>
    {% include "digipal/add_to_collection.html" %}
    {% chrono ":grid tab" %}

</div>
