{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags html_escape hand_filters %}

{% block meta_title %}
    Search {{ result_type.label }}
{% endblock %}

{% block main %}

<h1 class='header1'>Search {{ result_type.label|plural:2 }} ({{ result|length }})</h1>

<div class="row faceted-search">
    
    <div class="col-md-3">
        <form action="." method="get" class="">
            {% for facet in facets %}
                <div class="panel panel-default" id="panel-{{ facet.key }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#panel-{{ facet.key }}-body" href="#panel-{{ facet.key }}-body">
                                {{ facet.label }} 
                                {% if facet.options %}
                                    ({{ facet.options|length }})
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="panel-{{ facet.key }}-body" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% if facet.type == 'textbox' %}
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{ facet.value }}" name="{{facet.key}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go</button>
                                    </span>
                                </div>
                            {% endif %}
                            {% if facet.options %}
                                <ul>
                                    {% for option in facet.options %}
                                        <li><a href="?{{facet.key}}={{option.key}}">{{ option.label }}
                                            {% if option.count %}({{ option.count }}){% endif %}
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </form>
    </div>
    
    <div class="col-md-9">
        
        <table class="table">
            <tr>
                {% for col in cols %}
                    <td>
                        {{ col.label }}                
                    </td>
                {% endfor %}
            </tr>
            {% for record in result %}
                <tr>
                    {% for col in cols %}
                        <td>
                            {% record_field result_type record col.key %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}       
        </table> 
    </div>

</div>

{% endblock %}

