{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags html_escape hand_filters %}

{% block meta_title %}
    Search {{ result_type.label }}
{% endblock %}

{% block main %}

<h1 class='header1'>Search {{ result_type.label|plural:2 }} ({{ hit_count }})</h1>

<div class="panel faceted-summary">
    You are searching for: {{ summary }}
</div>
    
<div class="row faceted-search">
    <div class="col-md-3">
        <form action="." method="get" class="">
            {% for facet in facets %}
                <div class="panel panel-default" id="panel-{{ facet.key }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#panel-{{ facet.key }}-body" href="#panel-{{ facet.key }}-body">
                                {{ facet.label }} 
                                {% if facet.options %}
                                    ({{ facet.options|length }})
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="panel-{{ facet.key }}-body" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% if facet.type == 'textbox' %}
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{ facet.value }}" name="{{facet.key}}" 
                                        {% if facet.id %}id="{{ facet.id }}"{% endif %}
                                    >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go</button>
                                    </span>
                                </div>
                            {% endif %}
                            {% if facet.options %}
                                <table class="table">
                                    <tr><td>option</td><td>count</td></tr>
                                    {% for option in facet.options %}
                                        <tr>
                                            <td>
                                                <a href="{% filter add_query_params:request.META.QUERY_STRING %}?page=1&{{facet.key}}={{option.key|urlencode}}{% endfilter %}">{{ option.label }}</a>
                                                {% if option.selected %}<input type="hidden" name="{{ facet.key }}" value="{{ option.key }}"/>{% endif %}
                                            </td>
                                            <td>{{ option.count }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </form>
    </div>
    
    <div class="col-md-9">
        {% if views %}
            <div class="panel panel-default">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group pull-right">
                        {% for view in views %}
                            <a href="{% filter add_query_params:request.META.QUERY_STRING %}?page=1&view={{view.key}}{% endfilter %}" 
                                class="btn btn-default {% if view.selected %} active {% endif %}"
                                title="{{ view.label }} View" data-toggle="tooltip">
                                <span class="glyphicon glyphicon-{{ view.icon }}"></span>
                            </a>                    
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% dp_pagination_with_size_for current_page %}
        <table class="table">
            <tr>
                {% for col in cols %}
                    <td>
                        {% if col.label_col %}{{ col.label_col }}{% else %}{{ col.label }}{% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% for record in result %}
                <tr>
                    {% for col in cols %}
                        <td>
                            {% record_field result_type record col.key %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}       
        </table> 
        {% dp_pagination_with_size_for current_page %}
    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    	init_search_page({});
    </script>
{% endblock %}
