{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags html_escape hand_filters %}

{% block meta_title %}
    Search {{ result_type.label }}
{% endblock %}

{% block main %}

    {% include "search/faceted/search_whoosh_fragment.html" %}

    {% include "digipal/add_to_collection.html" %}
    
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        init_search_page({});
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/drag_to_lightbox.js"></script>
{% endblock %}
