#main_body_container { width: 100%; }

div.message-box {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    color: green;
    background-color: white;
}

div.message-box.message-error {
    color: pink;
}
div.message-box.message-warning {
    color: orange;
}
div.message-box.message-info {
    color: green;
}

.status-bar {
    padding: 0.3em;
    border-top: 1px solid lightgrey;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
}

.status-bar span {
    /* padding-left: 0.3em; */
}

.mce-tinymce.mce-container.mce-panel {
    border: 0px !important;
}

/*
span.message-time {
    padding: 0.3em;
}
*/

span.message-error {
    color: red;
}

#text-viewer-panel {
    display: none;
}

.panel-content {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.panel-content .mask {
    background-color: white;
    width: 100%;
    height: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    cursor: not-allowed;
}

.ui-layout-pane {
    padding: 0 !important;
}

.text-viewer-panel {
    height: 100%;
}

.text-viewer-panel .navbar-default {
    border-width: 0 0 1px 0;
}

/* */

/* Less tall navbar */

.text-viewer-panel .navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 3px;
}

.text-viewer-panel .navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

.text-viewer-panel .chzn-container {
    width: 10em !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.text-viewer-panel .chzn-container-single .chzn-single {
    font-size: 10px;
}

/* fixes */
/* right nav on each panel overflows to the right, reduced BS margin-right */
.text-viewer-panel .navbar-nav.navbar-right:last-child {
    margin-right: -6px;
}

.text-viewer-panel .dropdown-menu .glyphicon {
    padding-right: 0.4em;
}



.status-bar {
    min-height: 2em;
    background-color: #f8f8f8;
}

/* Reduce Tinymce drop down width */

.mce-btn-group .mce-menubtn.mce-fixed-width span {
    width: auto;
}


/*
#container input.sbm-change {float: left;}
#context-div ul {margin-left: 2em;}
#context-div ul li { 
    list-style-type: disc;
}

#context-div li.collapsed ul {
    display: none;
}

div#side-panel {
    display: none;
}


.panel {
    border: 1px solid grey;
}

#panel-viewer {
    height: 400px;
}

#image-list {
    width: 15em;
    border-right: 1px solid grey;
    float:left;
    height: 100%;
}

#image-viewer {
    height: 100%;
    float: left;
}
*/

.glyphicon.glyphicon-entry:before {
    content: "\25BC";
}

.glyphicon.glyphicon-section:before {
    content: "\00A7";
}

li.dphidden {
    display: none;
}

.navbar-nav > li.dropdown > ul.dropdown-menu.dpbs-clicked {
    display: none;
}

li.bsdp-selected a {
    font-weight: bold;
}

/* Align the buttons in the panel navbar with the chosen drop downs */

.text-viewer-panel ul.nav > li > a {
    margin-top: 2px;
    margin-bottom: 2px;
}

