{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags html_escape %}

{% block head %}
    <h1>Web API Tester</h1>

    <div id='result'>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super  }}
    <script src="{{ STATIC_URL }}digipal/scripts/api.digipal.js" type="text/javascript" ></script>
    <script type="text/javascript" >
        dpapi = new DigipalAPI({
            crossDomain: false,
            url: '/digipal/api'
        });
    </script>
{% endblock %}
