{% load html_escape %}
{% comment %}
Arguments:
    hide_image_cols, boolean: if True, the list will hide thumbnails
{% endcomment %}

<table class="table table-condensed table-striped table-bordered table-hover">
    <tr class="notsortable">
        {% for col in cols %}
            {% if not col.line %}
                <th>
                    {% if col.sortable %}
                        <a title="Sort" data-toggle="tooltip" href="{% filter add_query_params:request.META.QUERY_STRING %}?sort={% if col.key == sort_key and not sort_reverse %}-{%endif%}{{ col.key }}{% endfilter %}">
                    {% endif %}
                            {% if col.key == sort_key %}
                                <span class="pull-left glyphicon glyphicon-arrow-{% if sort_reverse %}up{%else%}down{%endif%}"></span>
                            {% endif %}
                            {% if col.label_col %}{{ col.label_col }}{% else %}{{ col.label }}{% endif %}
                    {% if col.sortable %}
                        </a>
                    {% endif %}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    {% filter tag_terms:matched_terms %}
        {% for record in result %}
            <!-- {% cycle 'even' 'odd' as rowcolors %} -->
            {% for line in lines %}
                <tr class="{{rowcolors}}">
                    {% for col in cols %}
                        {% if col.line == line %}
                            <td {% if col.rowspan %}rowspan="{{col.rowspan}}"{% else%}{% if col.line %}colspan="50"{% endif %}{% endif %} class="{% if col.type == 'text' %} text {% endif %} {{col.classes}} {{ record.classes }} ">
                                {% if col.type == 'image' and hide_image_cols %}
                                {% else %}
                                    {% if col.link == True %}
                                        <a href="{{record.get_absolute_url}}">
                                    {% endif %}
                                    {% record_field result_type record col.key %}
                                    {% if col.link == True %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            {% if snippets and record.snippets %}
                <tr>
                    <td class="text" colspan="50">
                        {{ record.snippets|safe }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfilter %}
</table>
