{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags hand_filters %}
{% load html_escape %}
{# {annotations_list} #}
{% if annotations_list %}

    <h3>Hands List</h3>

    <!-- links to hands -->
    <ul>
    {% for key in annotations_list %}
        <li>
          <b>
            <a title='Go to {{key}}' href='#{{key|anchorify}}'>{{key}}</a>
          </b>
        </li>
    {% endfor %}
    </ul>
    <br />
    {% for key, allographs in annotations_list.items %}

        <div class="row-fluid">
          <!-- hand record -->
          <h2 id='{{key|anchorify}}' class='header1'>
            <b>Hand</b>: {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
              {{image|capfirst}} - {{ key }}
          </h2>

          <h3>Allographs List</h3>

          <div class='panel'>
           <!-- links to allographs -->
            {% for allograph, graphs in allographs.items %}
              <span>
                <a title='Go to {{allograph}}' class="label label-info" href='#{{key.id}}_{{allograph.id|anchorify}}_{{allograph|anchorify}}'>{{ allograph }}</a>
              </span>
             {% endfor %}
          </div>
        </div>

        <!-- allographs -->

        <div class="allographs-list row">
        {% for allograph, graphs in allographs.items %}
          <div class="allograph-item panel">

            <h5 class='header5 pull-left' id='{{key.id}}_{{allograph.id|anchorify}}_{{allograph|anchorify}}'>
              {{  allograph }}
            </h5>

            <div class='btn-group pull-right buttons_annotations_list'>
                <button class='btn btn-small to_lightbox'>Collect</button>
                <button data-key = '{{key.id}}_{{allograph.id|anchorify}}_{{allograph|anchorify}}' class='btn btn-small select_all'>Select All</button>
                <button data-key = '{{key.id}}_{{allograph.id|anchorify}}_{{allograph|anchorify}}' class='btn btn-small deselect_all'>Deselect All</button>
            </div>

            <!-- ul hand -->
            <ul data-allograph='{{allograph}}' class="list-allographs" data-key = '{{key.id}}_{{allograph.id|anchorify}}_{{allograph|anchorify}}'>

            {% for graph in graphs %}

              {% if forloop.counter0|divisibleby:6 and forloop.counter > 5 %}

              {% endif %}

                <!-- graph -->
                <li class='annotation_li' data-graph = "{{ graph.graph.id }}" data-annotation = "{{ graph.vector_id }}" data-image="{{ graph.image_id }}" title='Click here to select this allograph'>

            <p>

              {% if not can_edit %}

              <a class='label_link_annotation' title="View graph in the manuscript" href='{{graph.image.get_absolute_url}}?vector_id={{graph.vector_id}}'>View</a>

              {% endif %}

              {% if can_edit %}
               <!-- graph number -->
              <span class='label label-info'>{{forloop.counter}}</span>

              {% endif %}

            </p>

              <a href='{{graph.image.get_absolute_url}}?vector_id={{graph.vector_id}}' data-graph = '{{ graph.graph.id }}' class='' title="View graph in the manuscript viewer">
                {% annotation_img graph lazy=1 %}
              </a>

            </li>
          {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div>
      <a id='ontop' href='#top' title='Back to Top'></a>
    </div>

{% else %}

    {% include "digipal/empty_tab.html" with type="annotation" %}

{% endif %}

 <!-- if is admin -->
{% if can_edit and image_server_url %}

 <!-- features container -->
<div class="myModal" id='modal_features'>

  <!-- header -->
    <div class="modal_header">
        <i class='icon icon-remove close'></i>
        <p class="myModalLabel">
          <span class='label-modal-value'></span>
          <input type='button' class='btn btn-success btn-small' value='Save' id='save' />
          <input type='button' class='btn btn-danger btn-small' value='Delete' id='delete' />
          <input type='button' class='btn-small btn active' value='Summary' id='show_summary' />
          <span title='Maximize box' id='maximize' class='pull-right icon-resize-full'></span>
        </p>
    </div>

    <!-- body -->
    <div class="modal-body">
        <form class="frmAnnotation" method="get" name="frmAnnotation">
          <ul class="ul_inline_form">
            {{ form }}
          </ul>
          <div id='features_container'></div>
        </form>
       <!-- features summary -->
        <div id='summary'></div>
    </div>
</div>

{% endif %}
{% comment %}
<div id='basket_collector'>
  <p>Add Image to Collection</p>
  <p>
      <img src='/static/digipal/images/shopping-cart-icon.png' alt="add to collection" />
  </p>
</div>
{% endcomment %}