{% extends "base.html" %}
{% load html_escape %}

{% block meta_title %}
    {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
    {{image|capfirst}}
{% endblock %}

{% block main %}

<h2 class='header1'>
    {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
    <a href="{{ image.item_part.get_absolute_url }}">{{ image.item_part|capfirst }}</a>: {{ image.locus }}
    {% include "digipal/admin_edit.html" with instance=image %}
</h2>

<ul class='nav nav-tabs' id='top'>
  <li><a href='../'>View Manuscript</a></li>
  <li class='active'><a>Annotations by Allograph</a></li>
  <li><a href='../metadata/'>View Metadata</a></li>
  <li><a href='../copyright/'>Image Copyright</a></li>
</ul>

<div class="annotations">
   {% include "digipal/hands.html" %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>
{% if can_edit %}
  <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers/OpenLayers.js"></script>
  <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator-helper.js"></script>
  <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
  <script src="{{ STATIC_URL }}digipal/scripts/annotator-digipal.js"></script>
  <script src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        annotator = new DigipalAnnotator('{{ MEDIA_URL }}',
                    'x', {{ width }}, {{ height }},
                    '{{ image_server_url }}', "{{can_edit}}");

        annotator.hands_page = "{{hands_page}}";

        if(annotator){
          $.getScript('{{ STATIC_URL }}digipal/scripts/allographs-annotator.js');
        }
      });
  </script>
{% else %}
<script src="{{ STATIC_URL }}digipal/scripts/allographs-public-user.js"></script>
{% endif %}
<script>
        $(document).ready(function(){
            var basket_collector = $('#basket_collector');
            basket_collector.droppable({
                accept: "a.droppable_image",
                hoverClass: "ui-state-active",
                drop: function(event, ui){
                    var element = $(ui.helper[0]);
                    add_to_lightbox(element, 'annotation', element.data('graph'), false);
                    var s = '<p>Imaged added to Collection!</p>';
                    s += '<p><img src="/static/digipal/images/success-icon.png" /></p>';
                    $(this).html(s);
                    setTimeout(function(){
                        s = '<p>Add image to Collection</p>';
                        s += '<p><img src="/static/digipal/images/shopping-cart-icon.png" alt="add to collection"/></p>';
                        basket_collector.html(s);
                    }, 2500);
                },
                out: function(){
                    $(this).css('background', 'rgba(0, 0, 0, 0.5)');
                },
                over:function(){
                    $(this).css('background', 'rgba(100, 100, 100, 0.5)');
                }
            });

            var images = $('a.droppable_image');
            images.draggable({
                containment: 'window',
                revert: true,
                stack: 'div',
                scroll: true,
                cursor: 'move',
                zIndex: 6000,
                helper: "clone",
                start: function(){
                    $('#basket_collector').animate({
                        left: '85%'
                    }, 350);
                },
                stop: function(){
                    $('#basket_collector').animate({
                        left: '100%'
                    }, 350);
                }
            });
    });

  function selectFeature(id) {
    window.opener.annotator.selectFeatureByIdAndCentre(id);
    window.opener.focus();
    return false;
  }
</script>
{% endblock %}