{% load html_escape %}
{% comment %}
    ----------------------------------------------
    OTHER IMAGES
    ----------------------------------------------
{% endcomment %}

{% if image.item_part.images.all.count > 1 %}
    {% for p in image.item_part.images.all %}
        {% if p.id != image.id %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class='row'>
            {% endif %}

            {% include "digipal/folio_image.html" with image=p width=150 full_label=0 %}

            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% include "digipal/add_to_collection.html" %}

{% else %}
    <div class="alert alert-warning">
        <p>No other pages available</p>
    </div>
{% endif %}