{% comment %}
    ----------------------------------------------
    CONTROL BAR
    ----------------------------------------------
{% endcomment %}
<div class='panel' id='panelImageBox'>

    {% if annotations > 0 %}

        <label class='panel-label' id='label-switcher'>
            <b>Annotations</b>
        </label>

        <input data-toggle="tooltip" title='Switch annotations' id="toggle-state-switch" type="checkbox" class="switch-small" checked>


        <a data-toggle="tooltip" class='btn' id='filterAllographs' title='Filter Annotations'>
            <i class="fa fa-filter"></i>
        </a>

    {% endif %}

     {% if can_edit %}

        <div id='div_unsaved_annotations_counter'>
            <label class='panel-label'>Unsaved</label>
            <span data-toggle="tooltip" class='btn btn-small btn-primary number_unsaved_allographs active' title='Show all the unsaved allographs'>0</span>
         </div>

    {% endif %}

    <div id='annotator-action-buttons' class="btn-toolbar">
        <div class="btn-group">
            <a data-toggle="tooltip" class="btn" id="settings_annotator" title='Open Settings'>
                <i class="fa fa-wrench"></i>
            </a>
            <a data-toggle="tooltip" class="btn" id="image_to_lightbox" title='Add image to Collection'>
                <i class="fa fa-folder-open"></i>
            </a>
        </div>
    </div>

    {% if can_edit %}
        <form name='frmAnnotation' method="get" class='frmAnnotation pull-right'>
            <div id='form_annotation_hand'>
                <ul class='ul_inline_form'>
                    {{ form }}
                </ul>
                <span data-toggle="tooltip" class='btn btn-small btn-primary number_annotated_allographs' data-feature='' title='Show all the images of this allograph'>
                    <i class='icon-eye-open'></i>
                    <span class='number-allographs'></span>
                </span>
            </div>
        </form>
    {% else %}

        {% comment %}
            <div style='display:inline;margin-left:1%;'>
                <div class="btn-toolbar" style='display:inline'>
                    <div class="btn-group" style='margin-bottom:1%'>
                        <span style='margin-right:0' class='btn btn-small btn-primary number_annotated_allographs' data-feature = '' title='Show all the images of this allograph'> Explore allographs  ( <span style='margin-right:0' class='number-allographs'>0</span> )
                        </div>
                    </div>
                </div>
            </div>
        {% endcomment %}

    {% endif %}

</div> {% comment %}DIV panelImageBox{% endcomment %}
