{% extends "base.html" %}
{% load mezzanine_tags pagination_tags html_escape %}

{% block meta_title %}Manuscript Images{% endblock %}


{% block main %}
    <h1 class='header1'>Manuscript Images</h1>

    <form id='searchform' class="form-inline panel" action='.'>
        <div class="row-fluid">
            <div class="span1">
                Filter by
            </div>
            <div class="span8">
                <ul class="flat-list use-chosen">
                    {{ filterImages.as_ul }}
                </ul>
            </div>
            <div class="span3">
                <input type='hidden' name="view" value='{{ view }}' />
                <input type='submit' value='Filter Images' class='btn'/>
            </div>
        </div>
    </form>

    {% if request.GET.town_or_city or request.GET.repository or request.GET.date %}
        <div class='breadcrumb'>
          {% comment %} <span>You are searching for: </span><span><b>Term</b>: {{terms}}</span> |{% endcomment %}
          {% if request.GET.town_or_city %} <span><b>Town or City: </b></span><span> {{ request.GET.town_or_city }}</span>{% endif %}
          {% if request.GET.repository %}| <span><b>Repository: </b></span><span>{{ request.GET.repository }}</span>{% endif %}
          {% if request.GET.date %}| <span><b>Date: </b></span><span>{{ request.GET.date }}</span>{% endif %}
        </div>
    {% endif %}

    <div class='row-fluid'>
        {# {% include "digipal/image_list_pagination.html" %} #}
        <div class="span8">
            {% autopaginate images 12 as images_on_this_page %}
            {% paginate %}
        </div>

        <div class='span2 pull-right' id='view-switch'>
            <ul class="nav nav-pills">
                <li class="{% if view == 'images' %}active{% endif %}">
                    <a data-target="#images" data-toggle="pill" title='Change Manuscripts View to Images' href="{% filter add_query_params:request.META.QUERY_STRING %}?view=images{% endfilter %}">Images</a>
                </li>

                <li class="{% if view == 'list' %}active{% endif %}">
                    <a data-target="#list" data-toggle="pill" title='Change Manuscripts View to List' href="{% filter add_query_params:request.META.QUERY_STRING %}?view=list{% endfilter %}">List</a>
                </li>
            </ul>
        </div>

    </div>

    {% if images_on_this_page %}
        <div class="tab-content">

            <div class="tab-pane fade {% if view == 'images' %}active in{% endif %}" id="images">

                {% for image in images_on_this_page %}
                    {% if forloop.counter0|divisibleby:4 %}
                        <div class="row-fluid">
                    {% endif %}
                            <div class='span3 panel centered' >
                                <p class='imageDetails'>
                                    <strong>
                                        <a data-toggle="tooltip" title="View this image with annotations" href="{{ image.get_absolute_url }}">View Image</a>
                                    </strong>
                                    {% if image.annotation_set.all.count %}
                                        <a class="smaller" data-toggle="tooltip" title="View this image without annotations"  href="{{ image.get_absolute_url }}?annotations=false">
                                            (without annotations)
                                        </a>
                                    {% endif %}
                                </p>
                                <dl class="imageDatabase">
                                    <dt>
                                        <a data-type='image' data-id='{{ image.id }}' class='droppable_image' href="{{ image.id }}/">
                                            <span class="drag_caption">Drag Image to basket</span>
                                            {% iip_img image width=200 lazy=1 %}
                                        </a>
                                    </dt>
                                    <dd>
                                        <strong><a href="{{ image.id }}/">{{ image }}</a></strong>
                                    </dd>
                                </dl>
                                <p class='annotations_count_images'>
                                    <span class="label label-important">
                                        {{ image.annotation_set.all.count  }}
                                        {{ "Annotation"|plural:image.annotation_set.all.count }}
                                    </span>
                                    <span class="label label-important">
                                        {{ image.hands.all.count }}
                                        {{ "Hand"|plural:image.hands.all.count }}
                                    </span>
                                </p>
                            </div>
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="tab-pane fade {% if view == 'list' %}active in{% endif %}" id="list">

                <table class='table table-condensed'>
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Page</th>
                            <th>Place</th>
                            <th>Repository</th>
                            <th>Annotations</th>
                            <th>Hands</th>
                        </tr>
                        {% for image in images_on_this_page %}
                            <tr>
                                <td><a class='view_button' href='{{ image.id }}/'>View</a></td>
                                <td><a data-type='image' data-id='{{ image.id }}' class='droppable_image' href='{{ image.id }}/'>{{image}}</a></td>
                                <td>{{image.item_part.current_item.repository.place}}</td>
                                <td>{{image.item_part.current_item.repository.name}}</td>
                                <td>{{ image.annotation_set.all.count }}</td>
                                <td>{{ image.hands.all.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    {% else %}
        <div class='alert alert-warning'>
            <h6>No Images available</h6>
        </div>
    {% endif %}

    {% paginate %}

    <div id='basket_collector'>
        <p>Add Image to Basket</p>
        <p>
            <img src='/static/digipal/images/shopping-cart-icon.png' alt="add to collection" />
        </p>
    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/drag_to_lightbox.js"></script>
{% endblock %}
