{% extends "base.html" %}
{% load html_escape %}

{% block meta_title %}
    {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
    {{image|capfirst}}
{% endblock %}

{% block extra_css %}
    <link rel="shortcut icon"
    href="{{ STATIC_URL }}digipal/images/favicon.ico"/>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrapSwitch.css" />
    <link rel="stylesheet" type="text/css"
    href="{{ STATIC_URL }}digipal/scripts/libs/openlayers.digipal/theme/default/style.css"/>
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}scripts/bootstrapSwitch.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers/OpenLayers.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator-helper.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/annotator-digipal.js"></script>
    <script src="{{ STATIC_URL }}digipal/scripts/stored-inputs.js"></script>
    <script>
        
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            headers: { "X-CSRFToken": csrftoken }
        });
        
    </script>
    <script>
        $(document).ready(function() {
            var si = new StoredInputs('digipal_settings');
            si.registerInput('#ontograph_type');
            
            annotator = new DigipalAnnotator('{{ MEDIA_URL }}',
            'x', {{ width }}, {{ height }},
            '{{ image_server_url }}', "{{is_admin}}");
            
            {% if not is_admin %}
                annotator.toolbarPanel.controls.splice(3, 5);
                annotator.toolbarPanel.controls.splice(4, 4);
                annotator.toolbarPanel.redraw();
                annotator.user_annotations = [];
            {% endif %}
            
            annotator.hands = {{ hands_list|safe }}
            
            
            {% if vector_id %}
                vector_id = true;
                vector_id_value = "{{ vector_id }}"
            {% else %}
                vector_id = false;
            {% endif %}
            
            {% if request.GET.annotations == "false" %}
                get_annotations = "false"
            {% else %}
                get_annotations = "true"
            {% endif %}
            
            /*
            
            Calling page script
            
            */
            if(annotator){
                $.getScript("{{ STATIC_URL }}digipal/scripts/annotator-page-script.js")
            }
            
        });
    </script>
    
{% endblock %}

{% block annotations %}
    <div class='container'>
        <h2 class='header1'>
            {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
            {{image|capfirst}}
        </h2>
        
        {% if no_image_reason %}
            <p>
                {{ no_image_reason }}
            </p>
        {% endif %}
    </div>
    
    {% if not no_image_reason or can_edit %}
        <div class='container'>
            <input id="id_page" name="page" type="hidden" value="{{ image.id }}" />
            
            <div class='row'>
                
                {% comment %} TABS {% endcomment %}
                <div class='span8'>
                    <ul class='nav nav-tabs'>
                        <li class='active'><a>View Manuscript</a></li>
                        <li><a class="annotationLink" href="allographs/">Annotations by Allograph</a></li>
                        <li><a href='metadata/'>View Metadata</a></li>
                        <li><a href='copyright/'>Image Copyright</a></li>
                    </ul>
                </div>
                
                {% include "digipal/image_annotation_other_images.html" %}
                
            </div> {% comment %}DIV row{% endcomment %}
            
            {% include "digipal/image_annotation_control_bar.html" %}
            
        </div> {% comment %}DIV container{% endcomment %}
        
        <p id='status'></p>
        
        <div class='container'>
            <div id="map"></div>
            <div id="toolbar" class="olControlEditingToolbar"></div>
        </div>
        
        {% include "digipal/image_annotation_settings.html" %}
        
        <div id='annotations'></div>
        
        <div class='row-fluid' id='allographs_filtersBox'></div>
        
    {% endif %}
    
{% endblock %}

