{% load html_escape %}
{% comment %}
    ----------------------------------------------
    OTHER IMAGES
    ----------------------------------------------

    {% if image.item_part %}
        <span id='showImages' data-toggle="tooltip" title="Show all the pages of {{image}}" class="alert alert-success" style='line-height:3;cursor:pointer;'>
            This manuscript has {{ image.item_part.images.count }}
            <span style='font-weight:bold'>{{ 'image'|plural:image.item_part.images.count }}</span>
        </span>
    {% endif %}
{% endcomment %}
{% if image.item_part.images.all.count > 1 %}
    {% for p in image.item_part.images.all %}
        {% if p.id != image.id %}
            {% if forloop.counter|divisibleby:4 %}
                <div class='row-fluid'>
            {% endif %}
            <div class='span3 panel image' style='margin-left:0;padding-left:0;'>
                <p class='imageDetails'>
                    <a {% ifequal image.annotation_set.all.count 0 %} class='disabled' href='#' {% else %} href='{{ image.id }}/' {% endifequal %} style='font-weight:bold;' data-toggle="tooltip" title="View Image Annotations" >View Annotations</a>
                    |
                    <a data-toggle="tooltip" title="View Image only" style='font-weight:bold;'  href="../{{ p.id }}/?annotations=false">View Image</a></p>

                <dt>
                    <a class='imageDatabase' data-annotations='{{ p.annotation_set.all.count }}' data-hands='{{p.hands.all.count}}' style='margin-left: 13%;' title="{{p}}" href = "/digipal/page/{{p.id}}">
                        {% iip_img p.iipimage width=200 %}
                    </a>
                </dt>
                <dd>
                    <a href="/digipal/page/{{p.id}}" style='font-weight:bold'>{{ p.folio_number }}</a>
                </dd>
                <p style='line-height:1.5'>
                    <span class="label label-important">
                        {{ p.annotation_set.all.count }}
                        {% if p.annotation_set.all.count == 1 %} Annotation {% else %} Annotations {% endif %}
                    </span>
                    <span class="label label-important">
                        {{ p.hands.all.count }}
                        {% if p.hands.all.count == 1 %} Hand {%else %} Hands {% endif %}
                    </span>
                </p>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert"><p>No other pages available</p></div>
{% endif %}