{% comment %}
    ----------------------------------------------
    CONTROL BAR
    ----------------------------------------------
{% endcomment %}
<div class='panel' id='panelImageBox' style='margin-bottom: 5px;'>

    <span class="label label-important">
        <span>
            <b>Annotations</b>: {{ annotations }}
        </span>
    </span>

    <span class="label label-success">
        <span>
            <b>Hands</b>: {{ hands }}
        </span>
    </span>

    {% if annotations > 0 %}
        <span class="label" id='label-switcher'>
            <b>Annotations</b>
        </span>
        <input id="toggle-state-switch" type="checkbox" class="switch-small" checked>

    {% endif %}

    <div class="btn-toolbar" style='display:inline'>
        <div class="btn-group" style='margin-bottom:0.7%'>
            {% if annotations > 0 %}
                <a class='btn btn-small' id='filterAllographs' title='Filter Annotations'>Filter</a>
            {% endif %}
            <a class="btn btn-small" id="settings_annotator" title='Open Settings'>Settings</a>
            <a class="btn btn-small" id="image_to_lightbox" title='Add image to Collection'>Collect</a>
        </div>
    </div>


    {% if can_edit %}

        <div style='margin-left:3%;display:inline;'>
            <span class="label">Unsaved</span>
            <span class='btn btn-small btn-primary number_unsaved_allographs active' title='Show all the unsaved allographs'>0</span>
        </div>

        <form name='frmAnnotation' method="get" class='frmAnnotation' style='display:inline;float:right;margin:0;'>
            <div id='form_annotation_hand' style='display:inline;width:35%;'>
                {{ form }}
                <div style='display:inline;'>
                    <span style='margin-right:0' class='btn btn-small btn-primary number_annotated_allographs' data-feature = '' title='Show all the images of this allograph'>
                        <i class= 'icon-eye-open'></i>
                        <span style='margin-right:0' class='number-allographs'></span>
                    </span>
                </div>
            </div>
        </form>

    {% else %}

        {% comment %}
            <div style='display:inline;margin-left:1%;'>
                <div class="btn-toolbar" style='display:inline'>
                    <div class="btn-group" style='margin-bottom:1%'>
                        <span style='margin-right:0' class='btn btn-small btn-primary number_annotated_allographs' data-feature = '' title='Show all the images of this allograph'> Explore allographs  ( <span style='margin-right:0' class='number-allographs'>0</span> )
                        </div>
                    </div>
                </div>
            </div>
        {% endcomment %}

    {% endif %}

</div> {% comment %}DIV panelImageBox{% endcomment %}
