{% extends "base.html" %}
{% load mezzanine_tags pagination_tags html_escape %}

{% block meta_title %}Manuscript Images{% endblock %}


{% block main %}
    <h1 class='header1'>Manuscript Images</h1>
    <div class='container'>
        <div id='formFilters'>
            <form id='searchform' class="form-inline panel" action='.'>
                <h3 class='header5'>Filter Manuscripts Images</h3>
                <ul>{{ filterImages.as_ul }}</ul>
                <div class='container'>
                    <input type='submit' value='Filter Images' class='btn btn-primary'>
                </div>
            </form>
        </div>

    </div>

    <div class='container'>
        {% include "digipal/image_list_pagination.html" %}

        <div class='span2 pull-right' id='myTab'>
            <ul class="nav nav-pills">
                <li class="{% if view == 'Images' %}active{% endif %}">
                    <a data-toggle="tooltip" title='Change Manuscripts View to Images' href="#images">Images</a>
                </li>

                <li class="{% if view == 'List' %}active{% endif %}">
                    <a data-toggle="tooltip" title='Change Manuscripts View to List' href="#list">List</a>
                </li>
            </ul>
        </div>

    </div>

    {% if request.GET.town_or_city or request.GET.repository or request.GET.date %}
        <div class='breadcrumb'>
          {% comment %} <span>You are searching for: </span><span><b>Term</b>: {{terms}}</span> |{% endcomment %}
          {% if request.GET.town_or_city %} <span><b>Town or City: </b></span><span> {{ request.GET.town_or_city }}</span>{% endif %}
          {% if request.GET.repository %}| <span><b>Repository: </b></span><span>{{ request.GET.repository }}</span>{% endif %}
          {% if request.GET.date %}| <span><b>Date: </b></span><span>{{ request.GET.date }}</span>{% endif %}
        </div>
    {% endif %}

    {% if page_list %}

        <div class='container'>
            <div class="tab-content">

                <div class="tab-pane fade {% if view == 'Images' %}active in{% endif %}" id="images">

                    {% for image in page_list %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class='row-fluid'>
                        {% endif %}
                                <div class='span3 panel image' style='margin-left:0;padding-left:0;'>
                                    <p class='imageDetails'>
                                        {% ifequal image.annotation_set.all.count 0 %}
                                        <span data-toggle="tooltip" title="View Image Annotations" class='label'>View Annotations</span>
                                        {% else %}
                                        <a data-toggle="tooltip" title="View Image Annotations" href='{{ image.id }}/' class='label label-info'>View Annotations</a>
                                        {% endifequal %}
                                        <a data-toggle="tooltip" title="View Image only" class='label label-info' href="{{ image.id }}/?annotations=false">View Image</a></p>
                                        <p style='line-height:1'>
                                            <span class="label label-important">{{ image.annotation_set.all.count }} Annotations</span>
                                        <span class="label label-success">{{ image.hands.all.count }} Hands</span>

                                    </p>
                                    <dl class="imageDatabase">
                                        <dt>
                                             <a data-id='{{ image.id }}' class='droppable_image' href="{{ image.id }}/">{% iip_img image.iipimage width=200 %}</a>
                                        </dt>
                                        <dd>
                                            <p><b>{{ image }}</b></p>
                                        </dd>
                                    </dl>
                                </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="tab-pane fade {% if view == 'List' %}active in{% endif %}" id="list">

                    <table class='table table-condensed'>
                        <tbody>
                            <tr>
                                <th>Page</th>
                                <th>Place</th>
                                <th>Repository</th>
                                <th>Annotations</th>
                                <th>Hands</th>
                                <th>View</th>
                            </tr>
                            {% for image in page_list %}
                                <tr>
                                    <td><a data-id='{{ image.id }}' class='droppable_image' href='{{ image.id }}/'>{{image}}</a></td>
                                    <td>{{image.item_part.current_item.repository.place}}</td>
                                    <td>{{image.item_part.current_item.repository.name}}</td>
                                    <td>{{ image.annotation_set.all.count }}</td>
                                    <td>{{ image.hands.all.count }}</td>
                                    <td><a class='view_button' href='{{ image.id }}/'>View</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    {% else %}
        <script>
            (function(){
                $('#formFilters').show();
                $('#filterImages').text('Hide Filters Manuscripts');
                $('#filterImages').attr('class', 'btn');
                show_filters = 1;
            })();
        </script>
        <div class='alert alert-warning'>
            <h3>No Images available</h3>
        </div>
    {% endif %}


    <div class='container'>
        {% include "digipal/image_list_pagination.html" %}
    </div>
    <div id='basket_collector'>
        <p>Add Image to Basket</p>
        <p>
            <img src='/static/digipal/images/shopping-cart-icon.png' />
        </p>
    </div>

    {% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>

    <script>
    $(document).ready(function(){
        {% comment %}TODO: GN - moce this to a js lib {% endcomment %}
        function setCookie(c_name,value,exdays) {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            document.cookie=c_name + "=" + c_value;
        }

        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
          setCookie('view', this.innerHTML, '-1');
        });

        $('select').chosen();
        $('[data-toggle="tooltip"]').tooltip();

        var basket_collector = $('#basket_collector');
            basket_collector.droppable({
                accept: "a.droppable_image",
                hoverClass: "ui-state-active",
                drop: function(event, ui){

                    var element = $(ui.helper[0]);
                    if(add_to_lightbox(element, 'image', element.data('id'), false)){

                        var s = '<p>Image added to Lightbox!</p>';
                        s += '<p><img src="/static/digipal/images/success-icon.png" /></p>';
                        $(this).html(s);

                        element.animate({
                            width: 0,
                            height: 0
                        }, 650).remove();

                    }

                    var interval = setTimeout(function(){
                        s = '<p>Add image to Basket</p>';
                        s += '<p><img src="/static/digipal/images/shopping-cart-icon.png" /></p>';
                        basket_collector.html(s);

                        basket_collector.animate({
                            bottom: '-28%'
                        }, 350);

                    }, 3000);

                },
                out: function(){
                    $(this).css('background', 'rgba(0, 0, 0, 0.7)');
                },
                over:function(){
                    $(this).css('background', 'rgba(100, 100, 100, 0.7)');
                }
            });

            var images = $('a.droppable_image');
            images.draggable({
                containment: false,
                stack: '*',
                cursor: 'move',
                revert: true,
                scroll: true,
                zIndex: 6000,
                start: function(){
                    basket_collector.animate({
                        bottom: '0'
                    }, 350);
                },
                stop: function(){

                    setTimeout(function(){

                        basket_collector.animate({
                            bottom: '-28%'
                        }, 350);

                    }, 1000);
                }
            });
    });
    </script>
    {% endblock %}


{% endblock %}
