{% extends "base.html" %}
{% load html_escape %}

{% block meta-title %}Page Allograph{% endblock %}

{% block main %}

<h2 class='header1'>
  {% if image.item_part.pagination %}Page{% else %}Folio{% endif %}:
        {{image|capfirst}}
</h2>

  <ul class='nav nav-tabs'  id='top'>
          <li><a href='../'>View Manuscript</a></li>
          <li class='active'><a>Annotations by Allograph</a></li>
          <li><a href='../metadata/'>View Metadata</a></li>
          <li><a href='../copyright/'>Image Copyright</a></li>
          <li><a id='lightbox_basket' href='#'>Lightbox <span id='number_images_selected_lightbox'></span></a>
  </ul>
<div class="annotations">
   {% include "digipal/hands.html" %}
</div>
{% endblock %}

