{% comment %}
    ----------------------------------------------
    SETTINGS WINDOW FOR THE ANNOTATION PAGE
    ----------------------------------------------
{% endcomment %}
<div id='modal_settings'>

    <div>
        <h4>Annotation boxes</h4>
        <p>
            <label for='multiple_boxes'>Allow multiple boxes</label>

            <input type='checkbox' id='multiple_boxes' {% if can_edit %} disabled="disabled" {% endif %} />
        </p>
    </div>

    <div>
        <h4>Toolbar position</h4>
        <p>
            <label for='vertical'>Vertical
                <input type='radio' name='toolbar_position' id='vertical' value='Vertical' checked />
            </label>

            <label for='horizontal'>Horizontal
                <input type='radio' name='toolbar_position' id='horizontal' value='Horizontal'  />
            </label>
        </p>
    </div>

    {% if can_edit %}
         <div>
            <h4>Boxes</h4>
            <p>
                <label for='boxes_on_click'>Open Boxes on click
                    <input type='checkbox'  id='boxes_on_click' {% if not can_edit %} checked="checked" {% endif %} />
                </label>
            </p>
        </div>

        <div>
            <h4>Admin</h4>
            <p>
                <label for='development_annotation'>Annotating
                    <input type='checkbox'  id='development_annotation' checked />
                </label>
            </p>

            <p>
                <label for='multiple_annotations'>Select multiple annotations
                    <input type='checkbox'  id='multiple_annotations' />
                </label>
            </p>
        </div>

        <div>
            <h4>Filter allographs: </h4>
            <select id="ontograph_type" name="ontograph_type">
                <option value="0">Show all</option>
                {% for type in ontograph_types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>
