{% extends "base.html" %}
{% load mezzanine_tags pagination_tags html_escape %}

{% block meta_title %}Manuscript Images{% endblock %}


{% block main %}
    <h1 class='header1'>Manuscript Images</h1>

    <form id='searchform' class="form-inline panel" action='.'>
        <div class="row">
            <div class="col-md-1">
                Filter by
            </div>
            <div class="col-md-8">
                <ul class="flat-list use-chosen">
                    {{ filterImages.as_ul }}
                </ul>
            </div>
            <div class="col-md-3">
                <input type='hidden' name="view" value='{{ view }}' />
                <input type='submit' value='Filter Images' class='btn btn-default'/>
            </div>
        </div>
    </form>

    {% if request.GET.town_or_city or request.GET.repository or request.GET.date %}
        <div class='breadcrumb'>
          {% comment %} <span>You are searching for: </span><span><b>Term</b>: {{terms}}</span> |{% endcomment %}
          {% if request.GET.town_or_city %} <span><b>Town or City: </b></span><span> {{ request.GET.town_or_city }}</span>{% endif %}
          {% if request.GET.repository %}| <span><b>Repository: </b></span><span>{{ request.GET.repository }}</span>{% endif %}
          {% if request.GET.date %}| <span><b>Date: </b></span><span>{{ request.GET.date }}</span>{% endif %}
        </div>
    {% endif %}

    <div class='row'>
        {# {% include "digipal/image_list_pagination.html" %} #}
        <div class="col-md-8">
            {% autopaginate images 12 as images_on_this_page %}
            {% paginate %}
        </div>

        <div class='col-md-2 pull-right' id='view-switch'>
            <ul class="nav nav-pills">
                <li class="{% if view == 'images' %}active{% endif %}">
                    <a data-target="#images" data-toggle="pill" title='Change Manuscripts View to Images' href="{% filter add_query_params:request.META.QUERY_STRING %}?view=images{% endfilter %}">Images</a>
                </li>

                <li class="{% if view == 'list' %}active{% endif %}">
                    <a data-target="#list" data-toggle="pill" title='Change Manuscripts View to List' href="{% filter add_query_params:request.META.QUERY_STRING %}?view=list{% endfilter %}">List</a>
                </li>
            </ul>
        </div>

    </div>

    {% if images_on_this_page %}
        <div class="tab-content">

            <div class="tab-pane fade {% if view == 'images' %}active in{% endif %}" id="images">

                {% for image in images_on_this_page %}
                    {% if forloop.counter0|divisibleby:4 %}
                        <div class="row">
                    {% endif %}
                    
                    {% include "digipal/folio_image.html" with image=image width=200 full_label=1 %}
                    
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="tab-pane fade {% if view == 'list' %}active in{% endif %}" id="list">

                <table class='table table-condensed'>
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Page</th>
                            <th>Place</th>
                            <th>Repository</th>
                            <th>Annotations</th>
                            <th>Hands</th>
                        </tr>
                        {% for image in images_on_this_page %}
                            <tr>
                                <td><a class='view_button' href='{{ image.id }}/'>View</a></td>
                                <td><a data-type='image' data-id='{{ image.id }}' class='droppable_image' href='{{ image.id }}/'>{{image}}</a></td>
                                <td>{{image.item_part.current_item.repository.place}}</td>
                                <td>{{image.item_part.current_item.repository.name}}</td>
                                <td>{{ image.annotation_set.all.count }}</td>
                                <td>{{ image.hands.all.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    {% else %}
        <div class='alert alert-warning'>
            <h6>No Images available</h6>
        </div>
    {% endif %}

    {% paginate %}

    {% include "digipal/add_to_collection.html" %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/add_to_lightbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}digipal/scripts/drag_to_lightbox.js"></script>
{% endblock %}
