{% extends "base.html" %}
{% load html_escape %}

{% block meta_title %}Digipal Collections{% endblock %}
{% block main %}
<div class="page-header">
    <h1>Collections</h1>
</div>
<div class="container">

    <div class="row" id='collection-toolbar'>

        <div class="btn-group col-md-4">

            <button data-toggle='tooltip' data-container='body' title = 'Create new empty collection'  class='btn btn-default btn-sm' id='new_collection'>
                New
            </button>

            <button data-toggle='tooltip' data-container='body' title = 'Delete collection'  class='btn btn-default btn-sm' id='delete_collection' disabled>
                Delete

            <button data-toggle='tooltip' data-container='body' title = 'Copy Collection'  class='btn btn-default btn-sm' id='copy_collection' disabled>
                Copy
            </button>

            <button data-toggle='tooltip' data-container='body' title='Send to Digital Lightbox' class='btn btn-default btn-sm' id='to_lightbox' disabled>
                Lightbox
            </button>

            <button data-toggle='tooltip' data-container='body' title='Share this Collection' class='btn btn-default btn-sm' id='share_collection' disabled>
                Share
            </button>
        </div>

        <div class="col-md-3 pull-right">
            <input id='filter' type="text" class="form-control" placeholder='Filter Collections' />
        </div>
    </div>

    <div class="row">
        <div id='container_collections'>

        </div>
    </div>
</div>

<div class='loading-div'>
    <p>Loading Data. Please wait...</p>
    <p>
      <img src="/static/digipal/images/ajax-loader.gif" alt = 'Loading ...' />
    </p>
</div>

{% endblock %}

{% block extra_js %}
    <script src ='/static/digipal/scripts/collections-utils.js'></script>
    <script src ='/static/digipal/scripts/collections.js'></script>
    <script src='https://apis.google.com/js/client.js'></script>
{% endblock %}