{% extends "base.html" %}
{% load html_escape %}
{% block extra_js %}
    <script src ='/static/digipal/scripts/lightbox_basket_collections.js'></script>
{% endblock %}
{% block meta_title %}Digipal Basket Collections{% endblock %}

{% block main %}

<h1 class='header1'>Digipal Basket Collections</h1>
<ul class="nav nav-pills pull-right">
    <li>
        <a style='cursor:pointer;' title = 'Go to current basket' href='../'>Current Basket</a>
    </li>
    <li class='active'>
        <a title='Manage collections' href="collections/">Manage Collections</a>
    </li>
</ul>
<div id="container_collections">

</div>

{% endblock %}