{% extends "base.html" %}
{% load html_escape %}
{% block extra_js %}
  <script src ='/static/digipal/scripts/lightbox_basket.js'></script>
{% endblock %}
{% block meta-title %}Digipal Basket{% endblock %}

{% block main %}
<h1>Digipal Basket  <button title = 'Save basket as collection' id='add_collection' class="btn offset1">Save as Collection</button> <button  title = 'Send collected images to the Lightbox' id='to_lightbox' class="btn">Go to Lightbox</button></h1>
<ul class="nav nav-pills pull-right">
    <li class='active' >
        <a title='Manage collections' href="collections/">Collections</a>
    </li>
</ul>
<div id="container_basket">

</div>
<div class='loading-div'>
    <p>Loading Data. Please wait...</p>
    <img src="/static/digipal/images/ajax-loader3.gif" />
</div>
{% endblock %}