{% extends "base.html" %}
{% load html_escape %}
{% block extra_js %}
  <script src ='/static/digipal/scripts/lightbox_basket.js'></script>
{% endblock %}
{% block meta-title %}Digipal Basket{% endblock %}

{% block main %}
<h1 class='header1'>Digipal Basket</h1>
<ul class="nav nav-pills pull-right">
    <li>
        <a style='cursor:pointer;' title = 'Send collected images to the Lightbox' id='to_lightbox'>Go to Lightbox</a>
    </li>
    <li>
        <a style='cursor:pointer;' title = 'Save basket as collection' id='add_collection'>Save Collection</a>
    </li>
    <li class='active'>
        <a style='cursor:pointer;' title = 'Go to current basket' href='#'>Current Basket</a>
    </li>
    <li>
        <a title='Manage collections' href="collections/">Manage Collections</a>
    </li>
</ul>
<div id="container_basket">

</div>
<div class='loading-div'>
    <p>Loading Data. Please wait...</p>
    <img src="/static/digipal/images/ajax-loader3.gif" />
</div>
{% endblock %}