{% extends "base.html" %}


{% block meta-title %}Page Allograph{% endblock %}

{% block extra_head %}
<script type="text/javascript">
  function selectFeature(id) {
    window.opener.annotator.selectFeatureByIdAndCentre(id);
    window.opener.focus();
    return false;
  }
</script>
{% endblock %}

{% block main %}

<h2 class='header1'>{{ page|capfirst }}</h2>

  <ul class='nav nav-tabs'  id='top'>
          <li><a href='../'>View Manuscript</a></li>
          <li class='active'><a>Annotations by Allograph</a></li>
          <li><a href='../metadata/'>View Metadata</a></li>
          <li><a href='../copyright/'>Image Copyright</a></li>
  </ul>
<div class="annotations">
  {% if data %}
  {% for key, allographs in data.items %}
  <div class="scribe">
    
    <h2 class='header1' style='padding-top: 1.5%'><b>Hand</b>: {{ key }}</h2>
    <div class='panel'>
    {% for key, annotations in allographs.items %}

    <span><a class="label label-info" href='#{{key}}'>{{ key }}</a></span>

    {% endfor %}
    </div>
    {% for key, annotations in allographs.items %}

    <div>
      <h5 class='header5' style='font-size:14px;' id='{{key}}'>{{ key }}</h5>
      <ul>
        {% for annotation in annotations %}
        <li>
        <p>
        <a href="/digipal/page/{{ annotation.page.id }}/?vector_id={{ annotation.vector_id }}/">View</a>
        {% if request.user.is_superuser %}
        <span> | </span>
        <a href="{% url admin:digipal_graph_change annotation.graph.id %}">Edit</a></p>
        {% else %}
        </p>
        {% endif %}
        <a href="/digipal/page/{{ annotation.page.id }}/?vector_id={{ annotation.vector_id }}" onclick="selectFeature('{{ annotation.vector_id}}');">
        {{ annotation.thumbnail }}
        </a> 
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div><a id='ontop' href='#top' title='Back to Top'></a></div>
{% else %}
<div class='alert alert-warning'>No annotations available.</p>
{% endif %}
{% endblock %}

