{% extends "base.html" %}

{% block extra_head %}
    <title>Page Annotation{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    {% endblock %}

    {% block extra_css %}
      <link rel="shortcut icon"
      href="{{ STATIC_URL }}digipal/images/favicon.ico"/>
      <link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}digipal/scripts/libs/openlayers/theme/default/style.css"/>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrapSwitch.css" />
    {% endblock %}

    {% block extra_js %}
      <script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/jquery.hotkeys.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers/OpenLayers.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator-helper.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/annotator-digipal.js"></script>
      <script src="{{ STATIC_URL }}scripts/bootstrapSwitch.js"></script>
      <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
      
    {% endblock %}

{% block annotations %}
<div class='container'>
{% if page.image %}
<h2 class='header1'>{{page|capfirst}}</h2>            
<form action="" id="frmAnnotation" method="get" name="frmAnnotation">
    {% csrf_token %}
    <input id="id_page" name="page" type="hidden" value="{{ page.id }}" />
  <div class='row'>
    <div class='span7'>
        <ul class='nav nav-tabs'>
          <li class='active'><a>View Manuscript</a></li>
          <li><a class="annotationLink" href="allographs/">Annotations by Allograph</a></li>
          <li><a href='metadata/'>View Metadata</a></li>
          <li><a href='copyright/'>Image Copyright</a></li>
        </ul>
    </div>
    <div class='span3 pull-right'>
      <span id='showImages' data-toggle="tooltip" title="Show images" class="alert alert-success" style='line-height:3;cursor:pointer;'>This record has {{ page.item_part.pages.count }}
       {% if page.item_part.pages.count == 1 %} 
        <span style='font-weight:bold'>image</span></span>
        {% else %}
        <span style='font-weight:bold'>images</span></span>
        {% endif %}          
          <div id='popupImages' class="row-fluid">
            <div class='arrow'></div>
            <div id='titlePopup'><p>Manuscript Images<span title='Close Window' id='closeBox' class='pull-right'>X</span></p> </div>
            <div class='span12' id='imagesBoxcontent'>
              {% for p in page.item_part.pages.all %}
              {% if page.item_part.pages.count == 1 %}
                <p>
                  <a data-title='{{p}}' data-annotations='{{ p.annotation_set.all.count }}' data-hands='{{page.hand_set.all.count}}' style='margin-left: 13%;' title="{{p}}" class="span8 imagesBoximage" href = "#">{{ p.thumbnail|safe }}
                      </a>
                    </p>
                {% elif page.item_part.pages.count < 3 %}
                    <a data-title='{{p}}' data-annotations='{{ p.annotation_set.all.count }}' data-hands='{{page.hand_set.all.count}}' title="{{p}}" class="span5 imagesBoximage" href = "../{{ p.id|safe}}/">{{ p.thumbnail|safe }}
                      </a>
                {% else %}
                  {% if forloop.counter|divisibleby:3 %}
                    <div class='row'>

                     <a style='margin-left:1.1%;' data-title='{{p}}' data-annotations='{{ p.annotation_set.all.count }}' data-hands='{{page.hand_set.all.count}}' title="{{p}}" class="span3 imagesBoximage" href = "../{{ p.id|safe}}/">{{ p.thumbnail|safe }}</a>
                    </div>
                {% else %}
                    <a  data-title='{{p}}' data-annotations='{{ p.annotation_set.all.count }}' data-hands='{{page.hand_set.all.count}}' title="{{p}}" class="span3 imagesBoximage" href = "../{{ p.id|safe}}/">{{ p.thumbnail|safe }}</a>
   
              {% endif %}
              {% endif %}
          {% endfor %}
          </div>                  
        </div>
      </div>
    </div>
        <div class='panel' id='panelImageBox'>
          <span><b>Annotations</b>: <span class="badge badge-important">{{ annotations }}</span></span>
          <span><b>Hands</b>: <span class="badge badge-success">{{ hands }}</span>
          <span><b>Turn Annotations:</b>
            <div id="toggle-state-switch" class="switch switch-small">
              <input type="checkbox">
            </div>
          </span>
          <span>
            <b>Filter Annotations:</b>
            <a class='btn' id='filterAllographs'>Filter</a>
          </span>
          <div id='allographs_filtersBox'></div>
      </div>
       <div id='loadingFilters'>
            <div><b>Loading Features...</b></div>
            <div><img src='/static/digipal/images/ajax-loader.gif' /></div>
        </div>
      </div>
        <div class='container'>
            <div id="map"></div>
            <div id="toolbar" class="olControlEditingToolbar"></div>

        </div>
        </div>
         <div style='display:none;'>
            {% for field in form %}
              {{ field }}
            {% endfor %}
          </div>
  </form>
  <div id='annotations'></div>
</body>
</html>
{% else %}
<p>No image available.</p>
{% endif %}
</div>

<script>
  $(document).ready(function() {
         annotator = new DigipalAnnotator('{{ MEDIA_URL }}',
        '{{ page.image.url }}', {{ width }}, {{ height }},
        '{{ image_server_url }}');

          {% if not isAdmin %}
          annotator.toolbarPanel.controls.pop();
          annotator.toolbarPanel.controls.splice(0, 6);
          annotator.toolbarPanel.redraw()
          {% endif %}

          $('#id_allograph').change(function() {
            updateFeatureSelect();
          });



          $(document).keypress(function(event) {
            annotator.activateKeyboardShortcuts();
          });


          {% if vector_id %}
          // vectorLayer event moveend is triggered on first load so flag this
          initialLoad = true;

          // tries to centre the map every 1/2 second
          interval = setInterval(function() {
              annotator.selectFeatureByIdAndCentre('{{ vector_id }}');
          }, 500);

          // listen for the moveend event
          annotator.vectorLayer.events.register('moveend', 
              annotator.vectorLayer, function() {
              // checks if it is a first load, if not kill the interval
              if (initialLoad) {
                initialLoad=false
              } else {
                clearInterval(interval);
                annotator.selectFeatureByIdAndZoom('{{ vector_id }}');
                annotator.vectorLayer.events.remove('moveend');
              }
          });
           

        
          {% endif %}


          {% if request.GET.vector_id %}
            $.getJSON('annotations/', function(data) {
                annotator.annotations = data;
                //showAnnotationsOverview(data);

                if (annotator.selectedFeature) {
                    annotator.showAnnotation(annotator.selectedFeature);
                }
            });
          {% endif %}
          
      function removeDuplicate(element, attribute, text){
              var seen = {};
              $(element).each(function() {
                  if(text == true){
                    var txt = $(this).text();
                    attribute = null;
                  } else {
                    var txt = $(this).attr(attribute);
                  }
                  if (seen[txt])
                      $(this).remove();
                  else
                      seen[txt] = true;
              });
            }
            function isEmpty(ob){
               for(var i in ob){ return false;}
               return true;
            }
            allographs_box = 0;
            allographs_loaded = false;
            $('#filterAllographs').click(function(){
              if (allographs_box == 0){
                  $.ajax({
                    dataType: "json",
                    url: 'annotations/',
                    success: function(data){
                      checkOutput = '<ul>';
                      annotations = data;
                      if(!isEmpty(annotations)){
                        for (i in annotations){
                            checkOutput += "<li data-annotation = '" + annotations[i]['feature'] + "'><label>" + annotations[i]['feature'] + "" +
                            "<input value = '" + annotations[i]['feature'] + "' class='checkVectors' id='" + annotations[i]['vector_id'] + "' type='checkbox' /></label></li>";
                        }
                      } else { 
                        checkOutput += "<li>No annotations to filter</li>";
                      } 
                      checkOutput += "</ul>";
                      $('#allographs_filtersBox').dialog({
                        draggable: true,
                        height: 270, 
                        title: "Filter Features",
                        close: function(event, ui){
                          allographs_box = 0;
                        }
                      });
         
                    },
                    beforeSend: function(){
                       $('#loadingFilters').fadeIn();
                    },
                    complete: function(){
                      $('#loadingFilters').fadeOut();
                      removeDuplicate('allographs_filtersBox li', 'data-annotation', false);
                      $('#allographs_filtersBox').html(checkOutput)
                      removeDuplicate('#allographs_filtersBox li', 'data-annotation', false);
                      (function(){
                        $('input[type=checkbox]').change(function(){
                          features = annotator.vectorLayer.features;
                          for(i in features){
                            if($(this).is(':checked')){
                              if($(this).val() == features[i].feature){
                                features[i].style = {'fillOpacity': 0, 'strokeOpacity': 0};
                                annotator.vectorLayer.redraw();
                              }
                            } else {
                              if($(this).val() == features[i].feature){
                                features[i].style = '';
                                annotator.vectorLayer.redraw();
                              }
                            }
                          }
                        });
                      }());
                    }
                  });
               }
             allographs_box = 1;
            });

            $('#map').css('border','1px solid #efefef');
            $('#map').css('border-radius','3px');

            $('#toggle-state-switch').bootstrapSwitch('toggleState');

            
            var showImages = 0;
            $('#showImages').click(function(){
              if(showImages == 0){
                position = $(this).position();
                $('#popupImages').css('top', position['top'] + 40);
                $('#popupImages').css('left', position['left'] - 40);
                $('#popupImages').fadeIn();
                showImages = 1;
              } else {
                $('#popupImages').fadeOut();
                showImages = 0;
              }
            });            

            $('#closeBox').click(function(){
              $('#popupImages').fadeOut();
            });

            window.prettyPrint && prettyPrint();
            $('#mySwitch').on('switch-change', function (e, data) {
                var $el = $(data.el)
                        , value = data.value;
                console.log(e, $el, value);
            });

            $('#toggle-state-switch').on('click', function () {
                $('#toggle-state-switch').bootstrapSwitch('toggleState');
            });


            $('#toggle-state-switch').on('switch-change', function (e, data) {
                if($(this).bootstrapSwitch('status')){
                  annotator.vectorLayer.setVisibility(true)
                } else {
                  annotator.vectorLayer.setVisibility(false)
                }
            });


            $('.imagesBoximage').tooltip({
              'title': $(this).attr('data-title'),
              'placement': 'left',
              'trigger': 'hover'
            });
      });
</script>

{% endblock %}

