{% extends "base.html" %}

{% block extra_head %}
    <title>Page Annotation{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    {% endblock %}

    {% block extra_css %}
      <link rel="shortcut icon"
      href="{{ STATIC_URL }}digipal/images/favicon.ico"/>
      <link rel="stylesheet" type="text/css"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
      <link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}digipal/styles/annotation.css"/>
      <link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}digipal/scripts/libs/openlayers/theme/default/style.css"/>
              <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">

    {% endblock %}

    {% block extra_js %}
      <script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/jquery.multiselect.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/jquery.hotkeys.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers/OpenLayers.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator-helper.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/libs/openlayers-image-annotation/annotator.js"></script>
      <script src="{{ STATIC_URL }}digipal/scripts/annotator-digipal.js"></script>
      <script type="text/javascript">

      $(document).ready(function() {

        {% if isAdmin %}
          isAdmin = true
        {% else %}
          isAdmin = false
        {% endif %}

         annotator = new DigipalAnnotator('{{ MEDIA_URL }}',
        '{{ page.image.url }}', {{ width }}, {{ height }},
        '{{ image_server_url }}', isAdmin);
          annotator.toolbarPanel.defaultControl['Modify']
          $('#id_allograph').change(function() {
            updateFeatureSelect();
          });

          $("#id_feature").multiselect({noneSelectedText: 'Select features',
            selectedList: 10
          });

          $(document).keypress(function(event) {
            annotator.activateKeyboardShortcuts();
          });


          {% if vector_id %}
          // vectorLayer event moveend is triggered on first load so flag this
          initialLoad = true;

          // tries to centre the map every 1/2 second
          interval = setInterval(function() {
              annotator.selectFeatureByIdAndCentre('{{ vector_id }}');
          }, 500);

          // listen for the moveend event
          annotator.vectorLayer.events.register('moveend', 
              annotator.vectorLayer, function() {
              // checks if it is a first load, if not kill the interval
              if (initialLoad) {
                initialLoad=false
              } else {
                clearInterval(interval);
                annotator.selectFeatureByIdAndZoom('{{ vector_id }}');
    annotator.vectorLayer.events.remove('moveend');
              }
          });
           function goFullscreen(id) {
              var element = document.getElementById(id);

              if (element.mozRequestFullScreen) {

                element.mozRequestFullScreen();
              } else if (element.webkitRequestFullScreen) {

                element.webkitRequestFullScreen();
             }
            }
  
          {% endif %}
      });
    </script>
    {% endblock %}

{% block annotations %}
<div class='container'>
{% if page.image %}
<h2 class='header5'>{{page|capfirst}}</h2>
<form action="" id="frmAnnotation" method="get" name="frmAnnotation">
    {% csrf_token %}
    <input id="id_page" name="page" type="hidden" value="{{ page.id }}" />
        <ul class='nav nav-tabs'>
          <li class='active'><a>View Manuscript</a></li>
          <li><a class="annotationLink" href="#"
            onclick="window.open('allographs/',
            ''); return false;">Annotations by Allograph</a></li>
            <li><a href=''>View Metadata</a></li>
        </ul>
        
        <div class='container'>
            <div id="map"></div>
            <div id="toolbar" class="olControlEditingToolbar"></div>
        </div>
          <div style='display:none;'>
            {% for field in form %}
              {{ field }}
            {% endfor %}
          </div>
        </div>
  </form>
</body>
</html>
{% else %}
<p>No image available.</p>
{% endif %}
</div>
{% endblock %}

