{% extends "admin/base_site.html" %}
{% load i18n html_escape %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
	     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
	     <a href="../../">Editions</a> &rsaquo;
	     <a href="../">Image</a> &rsaquo;
	     Bulk Edit
	</div>
{% endblock %}


{% block extrahead %}

{{ block.super }}

<style type="text/css">
    table.bulk_options {width: 100%;}
    table.bulk_options tr {width: 100%;}
    /* tr.section_last td {border-bottom: 3px solid #DDDDDD} */
    .txt-folio-number {width:3em;}
    #tbl-selected-folios {border: 1px solid lightgrey}
    .txta-folio-note {width: 8em; height: 6em;}
    #container input.sbm-change {float: left;}
    .bulk_options tr td label {display:inline; float: none; width: auto;}
    
    #itempart_repo_id {display: none;}
    #itempart_shelfmark_text_id {display: none;}
    #itempart_locus_text_id {display: none;}
    
    span.legend {color:grey;}
    
    .folio-duplicate {background-color: #E0E0E0;}
    
    .show-duplicates tr.row td {border-top: 2px solid black; }
    
    .show-duplicates tr.row:first-child td {border-top: 0px solid black; }

    tr td:first-child {font-weight: bold; font-size: larger;}
    
    /*
    .discard-image td {background-color: #FF9999; color: white;}
    .preserve-image td {background-color: #CCFF99; color: black;}
    */
    select.replace-image.changed {
        background-color: #FFFFC0;
    }
    
    tr.replace-image {
        display: none;
    }

    tr.replace-image td {
        background-color: #FFFFC0;
    }

    tr.replace-image td p {
        font-weight: normal;
        font-size: 10pt;
    }
    
    .samples span.img {
        float: left;
        margin: 1em;
        border: 1px solid black;
    }
    
    input.wide-input, select.wide-input {
        width: 25em;
    }

</style>

<script src="{{ STATIC_URL }}digipal/scripts/utils.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}digipal/scripts/admin/bulk-edit.js" type="text/javascript"></script>
{% endblock %}


{% block content %}

<p><a href="/admin/digipal/image">Back to Image list.</a></p>

{% if perms_lacking %}
    No permission to edit the images.
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <h2>Edit the selected images</h2>
            <table class="bulk_options">
                <thead>
                    <tr>
                        <th>Operation</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="section_last">
                        <td>
                            <input type="checkbox" name="manuscript_set" id="manuscript_set_id" value="1" />
                            <label for="manuscript_set_id">Set item part</label>
                        </td>
                        <td>
                            Select the correct shelfmark and folio range from this list.
                            <br/>
                            <select name="manuscript">
                                <option value="0">Disconnect from Item Part</option>
                                {% for manuscript in manuscripts %}
                                    <option {% if manuscript.id == selected_manuscript_id %}selected="selected"{% endif %} 
                                        value="{{ manuscript.id }}">{{ manuscript.display_label }}</option>
                                {% endfor %}
                            </select>
                            <a id="manuscript-link" href="#">[edit]</a>
                            
                            <br/>
                            
                            <input type="checkbox" name="itempart_shelfmark" id="itempart_shelfmark_id" value="1" />
                            <label for="itempart_shelfmark_id">The images shelfmark is not in that list</label>

                            <br/>

                            <input type="checkbox" name="itempart_locus" id="itempart_locus_id" value="1" />
                            <label for="itempart_locus_id">The correct shelfmark is selected but the folio range is not in the list</label>
                            
                            <br/>
                            
                            <div id="itempart_repo_id">
                                <label for="itempart_repo">Images repository:</label>
                                <select name="itempart_repo">
                                    {% for repo in repos %}
                                        <option value="{{ repo.id }}">{{ repo }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="itempart_shelfmark_text_id">
                                <label for="itempart_shelfmark_text_id">Images shelfmark:</label>
                                <input type="text" name="itempart_shelfmark_text" value="{{ suggested_shelfmark }}" />
                            </div>
                            
                            <div id="itempart_locus_text_id" >
                                <label for="itempart_locus_text_id">Images folio range:</label>
                                <input type="text" name="itempart_locus_text" value="" />
                                <span class="legend">e.g. "fols 1-57"</span>
                            </div>
                            
                        </td>
                    </tr>
                    {% if 1 %}
                        <tr  class="section_last">
                            <td>
                                <input type="checkbox" name="hand_set" id="hand_set_id" value="1" />
                                <label for="hand_set_id">Set Hand</label>
                            </td>
                            <td>
                                Tick this box and click 'Change' to add a Hand to the selected images.
                                <br/>
                                <select name="hand">
                                    {% if not hands %}
                                        <option value="-2">Assign a new default Hand record</option>
                                    {% endif %}
                                    <option value="-1">Disconnect all hand records from those images</option>
                                    {% for hand in hands %}
                                        <option {% if forloop.first %}selected="selected"{% endif %}
                                            value="{{ hand.id }}">{{ hand }}</option>
                                    {% endfor %}
                                </select>
                                {% if hands %}
                                    <a id="hand-link" href="#">[edit]</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr  class="section_last">
                        <td>
                            <input type="checkbox" name="perm_set" id="perm_set_id" value="1" />
                            <label for="perm_set_id">Set Media Permission</label>
                        </td>
                        <td>
                            <select name="perm">
                                <option selected="selected" value="-1">Repository Permission (inherit)</option>
                                {% for perm in permissions %}
                                    <option value="{{ perm.id }}">{{ perm }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="folio_set" id="folio_set_id" value="1" />
                            <label for="folio_set_id">Set side and number in sequence</label>
                        </td>
                        <td>
                            Starting from number 
                                <input type="text" name="folio_number" value=""  class="txt-folio-number" />
                            &nbsp;
                            and side
                                <input type="text" name="folio_side" value=""  class="folio_side" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="folio_number_set" id="folio_number_set_id" value="1" />
                            <label for="folio_number_set_id">Set number from file name</label>
                        </td>
                        <td>
                            The folio number will be set from the number found in the file name. e.g. ff.49v => folio 49
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="folio_side_set" id="folio_side_set_id" value="1" />
                            <label for="folio_side_set_id">Set folio side from file name</label>
                        </td>
                        <td>
                            The folio side will be set from the side found in the file name. e.g. ff.49v => Verso
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="locus_regex_set" id="locus_regex_set_id" value="1" />
                            <label for="locus_regex_set_id">Generate Locus from file name</label>
                        </td>
                        <td>
                            <p>Generate the locus from the file name according to a regular expression.</p>
                            <p>Example: Expression = 'my_file_(\d+)\.jp2', Locus = 'page \1'. If file name = 'my_file_20.jp2' the locus will be 'page 20'.</p>
                            <table>
                                <tr>
                                    <td>
                                        Matching expression: 
                                    </td>
                                    <td>
                                       <input type="text" name="locus_regex" value="{{ request.REQUEST.locus_regex|default:"gb_exc_ms3500_(.*)\.jp2" }}"  class="wide-input" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Locus: 
                                    </td>
                                    <td>
                                        <input type="text" name="locus_result" value="{{ request.REQUEST.locus_result|default:"[\1]" }}"  class="wide-input" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Try it on: 
                                    </td>
                                    <td>
                                        <select name="locus_example" class="wide-input">
                                            {% for folio in folios %}
                                                <option value="{{ folio.id }}"  class="wide-input">{{ folio.iipimage }}</option>    
                                            {% endfor %}
                                            
                                        </select>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Result: 
                                    </td>
                                    <td id="locus-example-result">
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% if 0 %}
                        <tr>
                            <td>
                                <input type="checkbox" name="page_set" id="page_set_id" value="1" />
                                <label for="page_set_id">Set page number in sequence</label>
                            </td>
                            <td>
                                Starting from page number
                                <input type="text" name="page_number" value=""  class="txt-folio-number" />
                            </td>
                        </tr>
                        <tr class="section_last">
                            <td>
                                <input type="checkbox" name="page_number_set" id="page_number_set_id" value="1" />
                                <label for="page_number_set_id">Set page number from file name</label>
                            </td>
                            <td>
                                The page number will be set from the number found in the file name. e.g. page_58 => page 58
                            </td>
                        </tr>
                    {% endif %}
                    {% if 0 %}
                        <tr>
                            <td>
                                <input type="checkbox" name="archived_set" id="archived_id" value="1" />
                                <label for="archived_id">Archive the images</label>
                            </td>
                            <td>
                                Archived images won't be displayed on the website.
                            </td>
                        </tr>
                        <tr class="section_last">
                            <td>
                                <input type="checkbox" name="unarchived_set" id="unarchived_id" value="1" />
                                <label for="unarchived_id">Unarchive the images</label>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    {% endif %}
                    <tr  class="section_last">
                        <td>
                            <input type="checkbox" name="duplicate_set" id="duplicate_id" value="1" {% if show_duplicates %}checked="checked"{% endif %} />
                            <label for="duplicate_id">Show duplicates images</label>
                        </td>
                        <td>
                            Show possible duplicates of the selected images and record merging tool
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="action" value="operations" />
                            <input type="submit" name="_save" class="default sbm-change" value="Change">
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
    
    
    <form action="" method="post">
	    {% csrf_token %}
	    
	    {% if show_duplicates %}
	        <p>
	            The list below contains groups of duplicate folios/pages based on your original selection. Each group of duplicates is separated by a black horizontal line. 
	            Move your mouse over the thumbnails to compare duplicates. To replace an image in a record, select an option in the drop down in the last column, next to the original image.
	        </p>
	        <p>
	            When you click Change, your changes to the image records will be applied. The image file will be subsituted and the location of the annotations automatically corrected.
	        </p>
	    {% endif %}
	    
	    <br/>
	    
	    <h2>Selected images ({{ folios.count }})</h2>
	    <table id="tbl-selected-folios" cellspacing="0">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>File</th>
	                <th>Item Part</th>
	                <th>Number</th>
	                <th>Side</th>
	                <th>Locus</th>
	                <th>Hands</th>
	                <th># ann.</th>
	                <th>View</th>
	                {% if show_duplicates %}
	                    <th style="color:black">Change image file to...</th>
	                {% endif %}
	            </tr>
	        </thead>
	        <tbody class="{% if show_duplicates %}show-duplicates{% endif %}">
	            {% for folio in folios %}
	                {% include "admin/page/bulk_edit_row.html" %}
	                {% if show_duplicates %}
	                    {% for duplicate in folio.get_duplicates %}
	                        {% include "admin/page/bulk_edit_row.html" with folio=duplicate main_folio=folio %}
	                    {% endfor %}
	                {% endif %}
	            {% endfor %}
	            <tr>
	                <td>
	                    {% if show_duplicates %}
	                        <input type="hidden" name="duplicate_set" value="1" />
	                    {% endif %}
	                    <input type="hidden" name="action" value="change_values" />
	                    <input type="submit" name="_save" class="default" value="Change" />
	                </td>
	                <td colspan="7">
	                    &nbsp;
	                </td>
	            </tr>
	        </tbody>
	    </table>
    </form>

{% endif %}
{% endblock %} 
