
@font-face {
    font-family: 'junicode';
    src: url('Junicode.eot?#iefix') format('embedded-opentype'),  url('Junicode.woff') format('woff'), url('Junicode.ttf')  format('truetype'), url('Junicode.svg#Junicode') format('svg');
    font-weight: normal;
    font-style: normal;
}

.juni {
    font-family: 'junicode';
    font-size: 17px;
}
