{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags html_escape %}

{% block meta_title %}{{ content_type.label }} ({{ selected_page.label }}){% endblock %}

{% block head %}
    <h1 class='header1'>{{ content_type.label }} Index</h1>
{% endblock %}

{% block main %}
    <div class='pagination'>
        <ul>
            {% for page in pages %}
                <li class="{% if page.selected %} active {% endif %}{% if page.disabled %} disabled {% endif %}">
                    <a href="?pl={{ page.id }}">{{ page.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if message %}
        <p>
            {{ message }}
        </p>
    {% endif %}

    <div class='row'>
        {% if records %}

            <table class="table table-striped">
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>
                                {% if record.get_absolute_url %}<a href="{{record.get_absolute_url}}">{% endif %}
                                    {{ record.index_label }}
                                {% if record.get_absolute_url %}</a>{% endif %}
                            </td>
                            <td>
                                {% for subrecord in record.subrecords %}
                                    {% if not forloop.first %}, {% endif %}
                                    <a href="{{subrecord.get_absolute_url}}">{{ subrecord.index_label }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>
                {{ records|length }} {{ content_type.label_singular|plural:records }}
            </p>

        {% else %}
            <p>
                We have no {{ content_type.label_singular }} starting with '{{ selected_page.label }}'
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}

