{% extends "pages/record.html" %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags pagination_tags %}
{% load html_escape %}

{% block meta_title %}Scribe: {{ scribe.name }}{% endblock %}
{% block record_title %}
    Scribe: {{ scribe.name }}
    {% include "digipal/admin_edit.html" with instance=scribe %}
    {% if can_edit %}
        <a class='admin-edit' href='/digipal/admin/idiograph_editor?scribe={{scribe.id}}'>[Edit Idiographs]</a>
    {% endif %}
{% endblock %}

{% block record_tabs %}
    <li class="{% if not tabid %}active in{% endif %}">
        <a href="{{ scribe.get_absolute_url }}" data-address-bar="1" data-target="#data" data-toggle="tab">Information</a>
    </li>
    {% if cansee.hand %}
        <li class="{% if tabid == "hands" %}active in{% endif %} {% if scribe.hands.all.count > 0 %}{% else %}disabled{% endif %}">
            <a href="{{ scribe.get_absolute_url }}hands/" data-address-bar="1" data-target="#hands" data-toggle="tab">Hands ({{ scribe.hands.all.count }})</a>
        </li>
    {% endif %}
    {% if cansee.image %}
        <li class="{% if tabid == "pages" %}active in{% endif %} {% if pages|length > 0 %}{% else %}disabled{% endif %}">
            <a href="{{ scribe.get_absolute_url }}pages/" data-address-bar="1" data-target="#pages" data-toggle="tab">Manuscript Images ({{ pages|length }})</a>
        </li>
    {% endif %}
    <li class="{% if tabid == "idiographs" %}active in{% endif %} {% if scribe.idiographs.all.distinct.count > 0 %}{% else %}disabled{% endif %}">
        <a href="{{ scribe.get_absolute_url }}idiographs/" data-address-bar="1" data-target="#idiographs" data-toggle="tab">Idiographs ({{ scribe.idiographs.all.distinct.count }}) </a>
    </li>
{% endblock %}

{% block details %}
    <div class='tabbable'>

        <div id='record-tab-content' class='tab-content'>
            <div class='tab-pane fade {% if not tabid %}active in{% endif %}' id='data'>
                <h3>Date and Place</h3>

                <dl class="bs dl-horizontal">
                    <dt>Date</dt>
                    <dd>{{ scribe.date }}</dd>
                    <dt>Scriptorium</dt>
                    <dd>{{ scribe.scriptorium }}</dd>
                </dl>
            </div>

            {% if cansee.hand %}
                <div class='tab-pane fade {% if tabid == 'hands' %}active in{% endif %}' id='hands'>
                    {% if scribe.hands.count %}
                        <table class="table table-condensed">
                            <tr>
                                <th>Item Part</th>
                                <th>Hand</th>
                            </tr>
                            {% for hand in scribe.hands.all %}
                                <tr>
                                    <td><a href="{{ hand.item_part.get_absolute_url }}">{{hand.item_part}}</a></td>
                                    <td><a href="{{ hand.get_absolute_url }}">{{hand}}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {% include "digipal/empty_tab.html" with type="hand" %}
                    {% endif %}
                </div>
            {% endif %}
            
            {% if cansee.image %}
                {% include "pages/tab_images.html" with images=images full_label=1 %}
                {% comment %}
                TODO: above: show the hands for the current scribe
                <div class='tab-pane fade {% if tabid == 'pages' %}active in{% endif %}' id='pages'>
                    {% if pages %}
                        <table class='table table-condensed'>
                            <tr>
                                <th>Page</th>
                                <th>Hand</th>
                                <th>Image</th>
                            </tr>
                            {% for page in pages %}
                                <tr>
                                    <td>
                                        <a href="{{ page.image.get_absolute_url }}">{{ page.image }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ page.hand.get_absolute_url }}">{{ page.hand }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ page.image.get_absolute_url }}">
                                            {% iip_img page.image height=100 %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {% include "digipal/empty_tab.html" with type="page" %}
                    {% endif %}
                </div>
                {% endcomment %}
            {% endif %}

            <div class='tab-pane fade {% if tabid == 'idiographs' %}active in{% endif %}' id='idiographs'>
                {% for idiograph in scribe.idiographs.all %}
                    {% if 1 or idiograph.idiographcomponent_set.all.count %}
                        <div>
                            <h4>{{idiograph.allograph}}</h4>
                            <ul class="list-unstyled">
                                {% for component in idiograph.idiographcomponent_set.all %}
                                    <li class='component_scribe'>{{ component.component }}
                                        <ul class="list-unstyled">
                                            {% for feature in component.features.all %}
                                                <li class='feature_scribe'>{{feature}}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
