{% load html_escape %}
<div class='tab-pane fade {% if tabid == "pages" %}active in{% endif %}' id='pages'>
    {% if images %}
        {% for image in images %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

            {% include "digipal/folio_image.html" with image=image width=120 full_label=full_label %}

            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% include "digipal/empty_tab.html" with type="page" %}
    {% endif %}
</div>
