{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">Editions</a> &rsaquo;
     <a href="../">Image</a> &rsaquo;
     Bulk Edit
</div>
{% endblock %}


{% block extrahead %}

{{ block.super }}

<style type="text/css">
    table.bulk_options {width: 100%;}
    table.bulk_options tr {width: 100%;}
    /* tr.section_last td {border-bottom: 3px solid #DDDDDD} */
    .txt-folio-number {width:3em;}
    #tbl-selected-folios {border: 1px solid lightgrey}
    .txta-folio-note {width: 8em; height: 6em;}
    #container input.sbm-change {float: left;}
    .bulk_options tr td label {display:inline; float: none; width: auto;}
    
    #itempart_repo_id {display: none;}
    #itempart_shelfmark_text_id {display: none;}
    #itempart_locus_text_id {display: none;}
    
    span.legend {color:grey;}
</style>

<script>
$(function(){
	function enable(jqe, enabled) {
		if (enabled) {
			jqe.removeAttr('disabled');
		} else {
			jqe.attr('disabled', 'disabled');
		}
	}
	
	$('#itempart_shelfmark_id').change(function() {
		// disable item part and locus drop down when shelfmark selected
		var checked = $(this).is(':checked');
		enable($('select[name=manuscript]'), !checked);
		enable($('#itempart_locus_id'), !checked);
		$('#itempart_shelfmark_text_id').toggle(checked);
		$('#itempart_repo_id').toggle(checked);
		$('#itempart_locus_text_id').toggle(checked);
		if (checked) {
			$('#itempart_shelfmark_text_id input').focus();
		}
	});

	$('#itempart_locus_id').change(function() {
		// disable item part and locus drop down when shelfmark selected
		var checked = $(this).is(':checked');
		//enable($('select[name=manuscript]'), !checked);
		enable($('#itempart_shelfmark_id'), !checked);
		$('#itempart_shelfmark_text_id').toggle(false);
		$('#itempart_locus_text_id').toggle(checked);
		if (checked) {
			$('#itempart_locus_text_id input').focus();
		}
	});

});
</script>

{% endblock %}


{% block content %}

<p><a href="/admin/digipal/image">Back to Image list.</a></p>

{% if perms_lacking %}
    <p>{% blocktrans %}Deleting the {{ object_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <form action="" method="post">
        {% csrf_token %}
		<fieldset class="module aligned ">
		    <h2>Edit the selected images</h2>
	    	<table class="bulk_options">
	    		<thead>
		    		<tr>
		    			<th>Operation</th>
		    			<th>Options</th>
		    		</tr>
	    		</thead>
	    		<tbody>
		    		<tr class="section_last">
		    			<td>
		    				<input type="checkbox" name="manuscript_set" id="manuscript_set_id" value="1" />
		    				<label for="manuscript_set_id">Set item part</label>
		    			</td>
		    			<td>
                            Select the correct shelfmark and folio range from this list.
                            <br/>
		    				<select name="manuscript">
                                <option value="0">Unspecified</option>
					    		{% for manuscript in manuscripts %}
						    		<option {% if manuscript.id == selected_manuscript_id %}selected="selected"{% endif %} 
                                        value="{{ manuscript.id }}">{{ manuscript.display_label }}</option>
					    		{% endfor %}
					    	</select>
                            
                            <br/>
                            
                            <input type="checkbox" name="itempart_shelfmark" id="itempart_shelfmark_id" value="1" />
                            <label for="itempart_shelfmark_id">The images shelfmark is not in that list</label>

                            <br/>

                            <input type="checkbox" name="itempart_locus" id="itempart_locus_id" value="1" />
                            <label for="itempart_locus_id">The correct shelfmark is selected but the folio range is not in the list</label>
                            
                            <br/>
                            
                            <div id="itempart_repo_id">
                                <label for="itempart_repo">Images repository:</label>
                                <select name="itempart_repo">
                                    {% for repo in repos %}
                                        <option value="{{ repo.id }}">{{ repo }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="itempart_shelfmark_text_id">
                                <label for="itempart_shelfmark_text_id">Images shelfmark:</label>
                                <input type="text" name="itempart_shelfmark_text" value="{{ suggested_shelfmark }}" />
                            </div>
                            
                            <div id="itempart_locus_text_id" >
                                <label for="itempart_locus_text_id">Images folio range:</label>
                                <input type="text" name="itempart_locus_text" value="" />
                                <span class="legend">e.g. "fols 1-57"</span>
                            </div>
                            
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<input type="checkbox" name="folio_set" id="folio_set_id" value="1" />
		    				<label for="folio_set_id">Set side and number in sequence</label>
		    			</td>
		    			<td>
		    				Starting from number 
                                <input type="text" name="folio_number" value=""  class="txt-folio-number" />
		    				&nbsp;
		    				and side
                                <input type="text" name="folio_side" value=""  class="folio_side" />
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<input type="checkbox" name="folio_number_set" id="folio_number_set_id" value="1" />
		    				<label for="folio_number_set_id">Set number from file name</label>
		    			</td>
		    			<td>
		    				The folio number will be set from the number found in the file name. e.g. ff.49v => folio 49
		    			</td>
		    		</tr>
		    		<tr class="section_last">
		    			<td>
		    				<input type="checkbox" name="folio_side_set" id="folio_side_set_id" value="1" />
		    				<label for="folio_side_set_id">Set folio side from file name</label>
		    			</td>
		    			<td>
		    				The folio side will be set from the side found in the file name. e.g. ff.49v => Verso
		    			</td>
		    		</tr>
                    {% if 0 %}
    		    		<tr>
    		    			<td>
    		    				<input type="checkbox" name="page_set" id="page_set_id" value="1" />
    		    				<label for="page_set_id">Set page number in sequence</label>
    		    			</td>
    		    			<td>
    		    				Starting from page number
    		    				<input type="text" name="page_number" value=""  class="txt-folio-number" />
    		    			</td>
    		    		</tr>
    		    		<tr class="section_last">
    		    			<td>
    		    				<input type="checkbox" name="page_number_set" id="page_number_set_id" value="1" />
    		    				<label for="page_number_set_id">Set page number from file name</label>
    		    			</td>
    		    			<td>
    		    				The page number will be set from the number found in the file name. e.g. page_58 => page 58
    		    			</td>
    		    		</tr>
                    {% endif %}
                    {% if 0 %}
    		    		<tr>
    		    			<td>
    		    				<input type="checkbox" name="archived_set" id="archived_id" value="1" />
    		    				<label for="archived_id">Archive the images</label>
    		    			</td>
    		    			<td>
    		    				Archived images won't be displayed on the website.
    		    			</td>
    		    		</tr>
    		    		<tr class="section_last">
    		    			<td>
    		    				<input type="checkbox" name="unarchived_set" id="unarchived_id" value="1" />
    		    				<label for="unarchived_id">Unarchive the images</label>
    		    			</td>
    		    			<td>
    		    				&nbsp;
    		    			</td>
    		    		</tr>
                    {% endif %}
		    		<tr  class="section_last">
		    			<td>
		    				<input type="checkbox" name="thumbnails_set" id="thumbnails_id" value="1" {% if show_thumbnails %}checked="checked"{% endif %} />
		    				<label for="thumbnails_id">Show thumbnails</label>
		    			</td>
		    			<td>
		    				Tick this box and click 'Change' to display all the image thumbnails.
		    			</td>
		    		</tr>
					<tr>
						<td>
							<input type="hidden" name="action" value="operations" />
							<input type="submit" name="_save" class="default sbm-change" value="Change">
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				</tbody>
	    	</table>
	    </fieldset>
    </form>
    
    
    <form action="" method="post">
    {% csrf_token %}
    
    <h2>Selected images ({{ folios.count }})</h2>
	<table id="tbl-selected-folios" cellspacing="0">
		<thead>
			<tr>
		    	<th>ID</th>
		    	<th>File</th>
		    	<th>Item Part</th>
		    	<th>Number</th>
		    	<th>Side</th>
                <th>Locus</th>
		    	<th>View</th>
		    </tr>
		</thead>
		<tbody>
		    {% for folio in folios %}
			    <tr class="{% cycle 'row1' 'row2' %}">
			    	<td><a href="/admin/digipal/image/{{folio.id}}/">{{folio.id}}</a></td>
			    	<td>{{folio.iipimage.name}}</td>
			    	<td>{{folio.item_part.display_label}}</td>
			    	<td>
			    		<input class="txt-folio-number" type="text" name="fn-{{folio.id}}" value="{{folio.folio_number|default:''}}" />
			    	</td>
			    	<td>
                        <input class="txt-folio-number" type="text" name="fs-{{folio.id}}" value="{{folio.folio_side|default:''}}" />
			    	</td>
                    <td>
                        {{ folio.get_locus_label }}
                    </td>
			    	<td>
			    		<a class="img-prv" href="{{ folio.full|safe }}">
			    			{% if show_thumbnails %}
			    				{{ folio.thumbnail|safe }}
			    			{% else %}
			    				view
			    			{% endif %}
			    		</a>
			    	</td>
			    </tr>
			{% endfor %}
			<tr>
				<td>
					<input type="hidden" name="action" value="change_values" />
					<input type="submit" name="_save" class="default" value="Change" />
				</td>
				<td colspan="7">
					&nbsp;
				</td>
			</tr>
		</tbody>
    </table>
    </form>


{% endif %}
{% endblock %} 