{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ScriptPage.css" />
<link rel="stylesheet" href="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>

{% endblock %}

{% block content %}
<div id="generalContent">
	<h1 class='header1'>Scribe Entries <a style='float:right' href="/admin/digipal">Back to Page list</a></h1>


{% block annotations %}
  <div class='row-fluid'>
    <div class='span7'>
      <div class='alert'></div>
      <form id="frmAnnotation" method="POST" name="frmAnnotation">
          {% csrf_token %}
            <div id='scribe_header'>{{ scribeForm }} <img src='/static/digipal/images/ajax-loader-ball.gif' id ='ajax_loader' /></div>
            <div>
              <label>Ideograph: </label> <span id='ideograph_selected'>Null (Defining new Ideograph)</span>
            </div>
            <div id="listElems">
              <div class="listElem">
                {{ formset }}
              </div>
            </div>
            <h2>Features <span class='label' style='font-size:13px' id='num_features'></span></h2>
              <hr style='margin-top:3px'/>
              <div id="features_container"></div>
              <div style='margin:1%'>
                <input type='button' value='Check All' id='check_all' />
                <input type='button' value='Uncheck All' id='uncheck_all' /> 
              </div>
              <div style='float:right;'>
                <input type='button' class='btn' value='Save Idiograph' id="subButton"/>
                <input type='button' class='btn' value='New Idiograph' id="new_idiograph_Button"/>
                <!--<span id="errorSpan">You must select a Scribe to continue</span>-->
              </div>
        </form>
        <!--
        <form id="linesAdder">
            <label>Add some rows</label>
            <input type="text" name="rowAdder" id="addRowNum" />
            <input type='button' id="addrowbutton" class='btn' value='Add rows' />
        </form>
      -->
    </div>
    <div class='span5' id='current_idiographs'>
      <h1 class='header1'>Ideographs <span id='number_ideographs'></span></h1>
      <div id='idiographs_container'></div>
    </div>
  </div>

{% endblock %}

</div>
<script type="text/javascript" src = "{{ STATIC_URL }}digipal/admin/js/new_script_entry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript" src="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

{% endblock %} 