{% extends 'base.html' %}
{% load hand_filters %}
{% load pages_tags mezzanine_tags i18n %}
{% load mezzanine_tags keyword_tags %}

{% comment %}

    DEPRECATED HAYSTACK SEARCH PAGE
     
{% endcomment %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block main %}
<div class='row'>
<h3>Please type in keyword to search for 'Hands', 'Manuscript' or 'Scribes' and use filters to narrow down your search results</h3>
</div>
<form id='searchform' class="form-inline panel" method="GET" action=".">
    <div class='row'>
    {# {% csrf_token %} #}


      <div class='col-md-9'>

            <div id='radio'>
                <h3 class='header5'>Search</h3>
                <ul>{{ searchform.as_ul }}</ul>
            </div>
        </div>
    </div>

        <div class='container'>
            <a id='advanced' class='btn btn-link'>Advanced Search</a>
            <div id='advancedSearch'>
                <div id='labelFilters'></div>
                <div id='containerFilters' class = "form-inline"></div>
            </div>
        </div>
        <div class='container'>
                <input type="submit" value="Search" id='search' class='btn btn-primary' />
        </div>
</form>



<!--
{# {% if query %} #}
{# Render facets even if there's no search term #}
{# This logic is immensely hairy, and should be handled in forms.py #}
<fieldset>
<legend>Available Facets</legend>
{# for all available facet fields #}
{% for facet, values in facets.fields.items %}
    <select multiple="multiple" class="facetDrop" name="{{ facet }}">
        <option value="">Filter by {{ facet }}…</option>
        {# for each item in the current field #}
        {% for item in values %}
        {% with facet|add:":"|add:item.0 as facet_exists %}
            {% if facet_exists in active_facets %}
                <option
                    selected="selected"
                    class="{{ facet_exists|uniq }}"
                    name="selected_facets"
                    value="{{ item.0 }}">
                        {{ item.0|truncatewords:4|unquote_string }}
                </option>
            {% else %}
            {# we don't have a match #}
                <option
                    name="selected_facets"
                    value="{{ item.0 }}">
                        {{ item.0|truncatewords:4|unquote_string }} ({{ item.1 }} results)
                </option>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </select>
    <br>
{% endfor %}
</fieldset><br>

<fieldset>
<input id="filter_btn" type="submit" value="Filter">
</fieldset><br>
{# {% endif %} #}
<fieldset>
<legend>Active Facets</legend>
{% for facet in active_facets %}
    <span class="active_facet">
        {{ facet|unquote_string }}&nbsp;<span class="clear_facet" id="{{ facet|uniq }}">x</span></span>&nbsp;
{% endfor %}
</fieldset>
</form>
</div>
</div>
<div class="unit size3of4 secondCol lastUnit">
<section class="content">
<table class="simple headersX">
    <tr>
        <th>Description</th>
        <th>Scribe</th>
        <th>Place</th>
        <th>Date</th>
        <th>Repository</th>
        <th>Shelfmark</th>
        <th>Catalogue No.</th>
    </tr>
{% for result in page.object_list %}
    <tr class="{% cycle 'bgColour' '' %}">
        </td>
        <td>{{ result.object.description }}</td>
        <td>{{ result.scribe }}</td>
        <td>{{ result.assignedplace }}</td>
        <td>{{ result.assigneddate }}</td>
        <td>{{ result.object.item_part.current_item.repository }}</td>
        <td>{{ result.object.item_part.current_item.shelfmark }}</td>
        <td>{{ result.object.item_part.historical_item.catalogue_number }}</td>
        <td>
            <ul class="inline">
                <li><a class="ctrl edit" href="../../admin/hand/itempart/{{ result.object.id }}">Edit</a></li>
                <li><a class="ctrl view" href="../../search/?terms={{ terms }}&amp;basic_search_type=hands&amp;id={{ result.object.id }}&amp;record={{ forloop.counter }}">View</a></li>
            </ul>
        </td>
    </tr>
{% empty %}
    <tr>
        <p>Sorry, no results found.</p>
    </tr>
{% endfor %}
</table>
-->
            {% if page.has_previous or page.has_next %}
            <br>
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;{{ active_facets|querystring }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;{{ active_facets|querystring }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            {% endif %}

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script>
        $(document).ready(function(){

            var radio =  $('#radio');
            radio.find('ul').contents().unwrap();
            radio.find('li').contents().unwrap();
            // Then move the input to outside of the label
             radio.children('label').children('input').each(function() {
                $(this).parent().before(this);
            });
            // Then apply the jQuery UI buttonset
            radio.buttonset();
            radio.('.ui-button-text').css('padding','3px 7px');

            var radio_forms = $("#searchform input[type='radio']");
            // Setting default radio
            var container = $('#containerFilters');
            var content = $('{{ filterHands.as_ul|escapejs }}');
            container.html(content);
            // Setting default label
            var labelFilters = $('#labelFilters');
            var label = "<h5 class='header5'>Show Hands filtered by:</h5>";
            labelFilters.html(label);

            var advanced_link = $('#advanced');
            var advanced_search = $('#advancedSearch');
            var advancedSearch = 0;
            var select_elements = $('select');
            advanced_link.click(function(){
                if(advancedSearch === 0){
                    advanced_search.slideDown();
                    advanced_link.text('Hide Advanced Search');
                    advancedSearch = 1;
                } else {
                    advanced_search.slideUp();
                    advanced_link.text('Advanced Search');
                    advancedSearch = 0;
                }
                select.chosen();
            });

            {% if request.GET.from_link %}
                advanced_search.show();
                advancedSearch = 1;
                select.chosen();
            {% endif %}

            // event onchange on radios
            radio_forms.change(function(){
                var content = '';
                var label = '';
                if($("#searchform input[type='radio']:checked").val() == 'hands'){
                    content += "{{ filterHands.as_ul|escapejs }}";
                    label += "<h5 class='header5'>Show Hands filtered by:</h5>";
                } else if($("#searchform input[type='radio']:checked").val() == 'manuscripts') {
                    content += "{{filterManuscripts.as_ul|escapejs}}";
                    label += "<h5 class='header5'><b>Show Manuscripts filtered by:</h5>";
                } else {
                    content += "{{filterScribes.as_ul|escapejs}}";
                    label += "<h5 class='header5'>Show Scribes filtered by:</h5>";
                }
                labelFilters.html(label);
                container.html(content).hide().fadeIn(500);
                select.chosen();

                select.change(function(){
                    var result = false;

                    for(i = 0; i < $(this).length; i++){
                        if(($(this)[i].value != '')){
                            result = true;
                        }
                    }

                    var text_entry = $('#textEntry');
                    if(!result){
                        text_entry.attr('required', 'required');
                    } else {
                        text_entry.attr('required', false);
                    }
                });
            });

            tags = {{ suggestions|safe }}
            text_entry.typeahead({
                source:tags,
                items: 8,
                minLength: 0
            });

            select.change(function(){
                var result = false;

                for(var i = 0; i < $(this).length; i++){
                    if(($(this)[i].value != '')){
                        result = true;
                    }
                }

                var text_entry = $('#textEntry');
                if(!result){
                    text_entry.attr('required', 'required');
                } else {
                    text_entry.attr('required', false);
                }

            });
    });
</script>
{% endblock %}